.block-branding {
  margin: var(--spacing-lg) var(--spacing-sm);
}

.block-branding__content {
  position: relative;
  display: flex;
  align-items: center;
}

.block-branding__name-and-description {
  margin-left: var(--spacing-unit);
}

.block-branding__logo {
  width: 58px;
}

.block-branding__site-name {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  color: var(--text-color);
}

.block-branding__description {
  font-size: 14px;
  text-align: center;
  color: var(--color-contrast-medium);
}

.block-branding__experiment {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  user-select: none;
  transform: rotate(-17deg);
  text-transform: uppercase;
  pointer-events: none;
  color: var(--color-contrast-low);
}
