$icons: (
  '/': 'home',
  '/wiki': 'file-document-box-multiple-outline',
  '/download': 'download',
  '/wiki/drupal': 'drupal',
);

:root {
  --block-main-menu-link-color: hsl(226, 7%, 43%);
  --block-main-menu-icon-background: hsl(224, 18%, 88%);
  --block-main-menu-link-hover-background: hsl(211, 100%, 54%);
  --block-main-menu-link-hover-border-color: hsl(211, 100%, 44%);
  --block-main-menu-link-hover-color: white;
  --block-main-menu-link-hover-icon-color: white;
  --block-main-menu-link-hover-icon-background: hsl(211, 100%, 44%);
}

[data-theme="dark"] {
  --block-main-menu-link-color: hsl(226, 7%, 53%);
  --block-main-menu-icon-background: hsl(231, 9%, 15%);
  --block-main-menu-link-hover-background: hsl(249, 11%, 13%);
  --block-main-menu-link-hover-border-color: hsl(249, 11%, 23%);
  --block-main-menu-link-hover-color: white;
}

.block-main-menu {
  margin: var(--spacing-sm);
}

.block-main-menu__menu {
  @include list-unstyled;
  line-height: 1.7;
}

.block-main-menu__menu-item:not(:last-child) {
  margin-bottom: var(--spacing-unit);
}

.block-main-menu__menu-item-link {
  display: flex;
  align-items: center;
  padding: var(--spacing-xs);
  color: var(--block-main-menu-link-color);
  border: 1px solid transparent;
  border-radius: var(--radius);

  &:hover {
    text-decoration: none;
    color: var(--block-main-menu-link-hover-color);
    border: 1px solid var(--block-main-menu-link-hover-border-color);
    background: var(--block-main-menu-link-hover-background);
  }
}

@each $href, $icon in $icons {
  .block-main-menu__menu-item-link[href="#{$href}"] {
    @include mdi-icon($icon, $margin-size: 0);
  }
}

.block-main-menu__menu-item-link::before {
  margin-right: var(--spacing-sm) !important;
  padding: var(--spacing-unit);
  border-radius: var(--radius);
  background-color: var(--block-main-menu-icon-background);
}

.block-main-menu__menu-item-link:hover::before {
  color: var(--block-main-menu-link-hover-icon-color);
  background-color: var(--block-main-menu-link-hover-icon-background);
}
