.block-branding {
  margin: spacing-unit(large) spacing-unit();

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name-and-description {
    margin-left: spacing-unit(small);
  }

  &__logo {
    width: 58px;
  }

  &__site-name {
    @include font-size(36px, 1);
    font-weight: bold;
    color: $text-color;
  }

  &__description {
    @include font-size(14px);
    text-align: center;
  }
}
