.frontpage-about {
  position: relative;
  background-color: white;
  padding: var(--grid-container-inner-gap);
  display: grid;
  grid-gap: var(--spacing-xl);
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.frontpage-about__subtitle {
  font-family: var(--font-secondary);
  font-size: var(--text-lg);
}

.frontpage-about__title {
  font-family: var(--font-secondary);
  font-size: var(--text-xxl);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-primary);
}
