:root {
  --frontpage-community-overlay-background-color: var(--color-blue-70);
}

[data-theme="dark"] {
  --frontpage-community-overlay-background-color: var(--color-black-70);
}

.frontpage-community {
  position: relative;
  overflow: hidden;
  padding: var(--spacing-xl) var(--grid-container-inner-gap);
  color: white;
  text-shadow: var(--shadow-xs);
}

.frontpage-community__image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.frontpage-community__overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--frontpage-community-overlay-background-color);
}

.frontpage-community__content {
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 600px;
}

.frontpage-community__title {
  font-weight: bold;
  margin-top: unset;
  margin-bottom: var(--spacing-md);
  text-transform: uppercase;
  color: var(--color-primary-100);

  @media (--md) {
    font-size: 29px;
  }
}

.frontpage-community__subtitle {
  font-size: var(--text-xs);
  margin-bottom: var(--spacing-sm);
  text-transform: uppercase;
}

.frontpage-community__description {
  font-size: var(--text-md);
}

.frontpage-community__actions {
  margin-top: var(--spacing-lg);
  text-shadow: none;
}

.frontpage-community__action {
  display: inline-block;
  padding: var(--spacing-unit) var(--spacing-sm);
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  background-color: var(--color-black-50);

  @media (--sm) {
    font-size: var(--text-md);
    padding: var(--spacing-sm) var(--spacing-md);
  }
}

.frontpage-community__action:hover {
  color: var(--color-primary);
  background-color: white;
}
