.frontpage-drupal-for {
  display: grid;
  padding: var(--grid-container-inner-gap);
  padding-top: unset;
  grid-gap: var(--spacing-md);
  grid-template-columns: repeat(3, 1fr);
}

.frontpage-drupal-for__subtitle {
  font-family: var(--font-secondary);
  font-size: var(--text-lg);
}

.frontpage-drupal-for__title {
  font-family: var(--font-secondary);
  font-size: var(--text-xxl);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--color-primary);
}

.frontpage-drupal-for__description {
  margin-top: var(--spacing-sm);
}
