.druki-content-content__item:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.druki-content-content {
  --link-border: 1px solid hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2);
  --link-border-hover: 1px solid hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.5);
}

.druki-content-content a[href*="//"]:not([href*="druki.ru"]):not([href*="druki.localhost"])::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: var(--spacing-xs);
  width: 16px;
  height: 16px;
  background-image: svg-load('open-in-new.svg', fill=#bbbbbb);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
