.druki-content-content__item:not(:last-child) {
  margin-bottom: calc(var(--spacing-unit) * 3);
}

.druki-content-content a {
  border-bottom: 1px solid var(--color-blue-20);
}

.druki-content-content a:hover {
  border-bottom: 1px solid var(--color-blue);
}

.druki-content-content a[href*="//"]:not([href*="druki.ru"]):not([href*="druki.localhost"])::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: var(--spacing-xs);
  width: 16px;
  height: 16px;
  background-image: svg-load('open-in-new.svg', fill=#bbbbbb);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.druki-content-content ol li,
.druki-content-content ul li {
  margin: var(--spacing-xs) 0;
}
