.frontpage-resources {
  position: relative;
  z-index: 2;
  padding-bottom: spacing-unit(10);
  background-color: theme-color();

  &__inner {
    @include make-container();
    @include make-container-max-widths();
    display: flex;
    justify-content: center;
  }

  &__download {
    width: 400px;
    margin-top: spacing-unit(-4);
  }

  &__download-button {
    @include button-variant(theme-color(on-secondary), theme-color(secondary));
    @include button-size(spacing-unit(2), spacing-unit(5), 20px);
    font-weight: bold;
    display: block;
    text-align: left;
    text-transform: uppercase;
    border-radius: 100px;
  }

  &__docs {
    width: 400px;
    margin-top: spacing-unit(-4);
  }

  &__docs-button {
    @include button-variant(theme-color(on-secondary), theme-color(secondary));
    @include button-size(spacing-unit(2), spacing-unit(5), 20px);
    font-weight: bold;
    display: block;
    text-align: right;
    text-transform: uppercase;
    border-radius: 100px;
  }

  &__links {
    @include list-unstyled;
    float: left;
  }

  &__links--right {
    float: right;
  }

  &__link-item:first-child {
    font-weight: bold;
    margin-bottom: spacing-unit();
    padding-bottom: spacing-unit();
    text-align: center;
    border-bottom: 1px solid color-palette(theme-color(), 800);
  }

  &__link {
    display: block;
    text-align: center;
    color: theme-color(on-primary);
  }

  &__branding {
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__branding-logo {
    position: relative;
    top: -16px;
    width: 224px;
    filter: drop-shadow(0 0 7px rgba(black, 0.5));
  }

  &__version {
    text-align: center;
    color: theme-color(on-primary);
  }

  &__version-label {
    @include font-size(23px);
  }

  &__version-number {
    @include font-size(24px, $modifier: -1);
    font-weight: bold;
  }
}
