.header {
  position: relative;
  height: spacing-unit(8);
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);

  &__inner {
    @include make-container();
    @include make-container-max-widths();
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__branding-name {
    @include font-size(32px, spacing-unit(large));
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    color: theme-color();

    span {
      @include font-size(12px);
      vertical-align: text-top;
      color: theme-color(secondary);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: theme-color(secondary);
    }
  }

  &__navigation {
    margin-left: spacing-unit(xl);
  }

  &__search {
    position: relative;
    margin-left: auto;
  }

  &__search-icon {
    @include mdi-icon('magnify', $margin-size: 0);
    @include font-size(22px);
    position: absolute;
    top: 50%;
    left: spacing-unit(2);
    transform: translateY(-50%);
    pointer-events: none;
    color: gray(400);
  }

  &__search-input {
    padding-right: spacing-unit(6);
    padding-left: spacing-unit(6);

    &:focus {
      padding-right: calc(#{spacing-unit(6)} - 1px);
      padding-left: calc(#{spacing-unit(6)} - 1px);
    }
  }

  &__search-input:focus ~ &__search-icon {
    color: theme-color();
  }

  //.toolbar-tray-open.toolbar-horizontal.toolbar-fixed & {
  //  top: 79px;
  //}
  //
  //.toolbar-fixed.toolbar-tray-open.toolbar-vertical &,
  //.toolbar-horizontal.toolbar-fixed &,
  //.toolbar-fixed.toolbar-vertical & {
  //  top: 39px;
  //}

  @include media-breakpoint-down(md) {
    &__inner {
      display: none;
    }
  }
}
