$icons: (
  'fast': ('speedometer', color(orange)),
  'secure': ('shield-lock', color(green)),
  'extendable': ('wall', color(blue)),
  'proven-by-time': ('av-timer', color(yellow)),
);

.frontpage-why {
  padding-top: spacing-unit(10);
  padding-bottom: spacing-unit(10);

  &__inner {
    @include make-container();
    @include make-container-max-widths();
  }

  &__content {
    display: grid;
    grid-gap: spacing-unit(grid-gap);
    grid-template-columns: repeat(2, 1fr);
  }

  &__title {
    @include font-size(50px);
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: spacing-unit(lg);
    color: theme-color(secondary);

    &::before {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: spacing-unit(xs);
      content: '';
      background-color: theme-color();
    }
  }

  &__pros {
    display: grid;
    grid-gap: spacing-unit(sm);
    grid-template-columns: repeat(2, 1fr);
  }

  @each $modifier, $data in $icons {
    &__pro-icon--#{$modifier} {
      @include mdi-icon(nth($data, 1), $margin-size: 0);
      color: nth($data, 2);
    }
  }

  &__pro-icon {
    @include font-size(60px);
  }

  &__pro-title {
    @include font-size(20px);
    font-weight: bold;
    margin-bottom: spacing-unit(xs);
  }

  &__pro-description {
    @include font-size(14px);
    color: gray(700);
  }

  &__right {
    align-self: center;
  }

  &__video {
    margin-bottom: spacing-unit(md);
  }

  &__promo-button {
    @include mdi-icon('open-in-new', after);
    @include button-variant(theme-color(on-primary), theme-color());
    @include font-size(18px);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    display: table;
    margin: 0 auto;
  }
}
