.mega-menu-navigation {
  &__items {
    @include list-unstyled;
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 spacing-unit(sm);
  }

  &__link {
    color: gray(800);

    &[data-mega-menu-id-selector] {
      @include mdi-icon('menu-down', after, 0);
    }
  }
}

.mega-menu {
  position: absolute;
  z-index: 50;
  background-color: gray(100);
  width: 100%;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, .15);
  display: none;

  &__inner {
    @include make-container();
    @include make-container-max-widths();
    padding-top: spacing-unit(lg);
    padding-bottom: spacing-unit(lg);
    display: flex;
  }

  &__content {
    display: none;
  }

  &__column {
    &:not(:last-child) {
      margin-right: spacing-unit(grid-gap);
    }
  }

  &__menu {
    @include list-unstyled;
  }

  &__menu--two-cols {
    display: grid;
    grid-column-gap: spacing-unit(3);
    grid-template-columns: repeat(2, 1fr);
  }

  &:hover,
  &--active {
    display: block;
  }

  &__content:hover,
  &__content--active {
    display: flex;
  }
}