.header {
  height: spacing-unit(8);
  background-color: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
  position: relative;

  &__inner {
    @include make-container();
    @include make-container-max-widths();
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__branding-name {
    @include font-size(32px, spacing-unit(large));
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    color: theme-color();

    span {
      @include font-size(12px);
      vertical-align: text-top;
      color: theme-color(secondary);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      color: theme-color(secondary);
    }
  }

  &__search {
    width: 65%;
  }

  &__search-input {

  }

  //.toolbar-tray-open.toolbar-horizontal.toolbar-fixed & {
  //  top: 79px;
  //}
  //
  //.toolbar-fixed.toolbar-tray-open.toolbar-vertical &,
  //.toolbar-horizontal.toolbar-fixed &,
  //.toolbar-fixed.toolbar-vertical & {
  //  top: 39px;
  //}
}
