.frontpage {
  &__inner {
    @include make-container();
    @include make-container-max-widths();
  }

  &__inner--resources {
    display: flex;
    justify-content: center;
  }

  &__promo {
    position: relative;
    padding: spacing-unit(20) 0;
    color: theme-color(on-primary);
    background-color: rgba(theme-color(), 0.85);

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      // @todo decide what is better and save locally.
      // Variant 1: https://www.flickr.com/photos/lifeisaprayer/26496915087/in/pool-drupalconnashville2018/
      // Variant 2: https://www.flickr.com/photos/amazeelabs/40474318985/in/pool-drupalconnashville2018/
      content: '';
      background-image: url(https://farm1.staticflickr.com/872/26496915087_f42cfc8092_k_d.jpg);
      background-position: center;
      background-size: cover;
    }
  }

  &__promo-text {
    max-width: 65%;
  }

  &__promo-description {
    @include font-size(20px);

    abbr {
      cursor: help;
      text-decoration: none;
      border-bottom: 1px solid rgba(theme-color(secondary), 0.5);
    }
  }

  &__title {
    margin-bottom: spacing-unit(4);
  }

  &__resources {
    position: relative;
    z-index: 2;
    padding-bottom: spacing-unit(10);
    background-color: theme-color();
  }

  &__resources-download {
    width: 400px;
    margin-top: spacing-unit(-4);
  }

  &__resources-download-button {
    @include button-variant(theme-color(on-secondary), theme-color(secondary));
    @include button-size(spacing-unit(2), spacing-unit(5), 20px);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 100px;
  }

  &__resources-docs {
    width: 400px;
    margin-top: spacing-unit(-4);
  }

  &__resources-docs-button {
    @include button-variant(theme-color(on-secondary), theme-color(secondary));
    @include button-size(spacing-unit(2), spacing-unit(5), 20px);
    font-weight: bold;
    justify-content: flex-end;
    text-transform: uppercase;
    border-radius: 100px;
  }

  &__resources-links {
    @include list-unstyled;
    float: left;
  }

  &__resources-links--right {
    float: right;
  }

  &__resources-link-item:first-child {
    font-weight: bold;
    margin-bottom: spacing-unit();
    padding-bottom: spacing-unit();
    text-align: center;
    border-bottom: 1px solid color-palette(theme-color(), 800);
  }

  &__resources-link {
    display: block;
    text-align: center;
    color: theme-color(on-primary);
  }

  &__resources-branding {
    position: absolute;
    top: -110px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__resources-branding-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: spacing-unit(28);
    height: spacing-unit(28);
    border-radius: 100%;
    background-color: theme-color();
    box-shadow: 0 0 0 30px rgba(theme-color(), 0.5);
  }

  &__resources-branding-logo {
    position: relative;
    top: -10px;
    width: 190px;
  }

  &__version {
    text-align: center;
    color: theme-color(on-primary);
  }

  &__version-label {
    @include font-size(20px, $modifier: -1);
  }

  &__version-number {
    @include font-size(24px, $modifier: -1);
    font-weight: bold;
  }
}
