// This class added by includes/structure preprocess page hook. Don't forget
// to rename STARTER to your theme name to make it works. Or just remove.
.main-layout {
  $block: &;
  @include make-container;
  @include make-container-max-widths;
  display: grid;
  grid-gap: spacing-unit(2);

  &--sidebar-second {
    grid-template-columns: 1fr 260px;
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
}
