:root {
  --druki-note-icon: unset;
  --druki-note-icon-size: 3rem;
  --druki-note-color: transparent;
}

.druki-note {
  position: relative;
  padding-left: calc(var(--druki-note-icon-size) + var(--spacing-md));
}

.druki-note--tip {
  --druki-note-icon: var(--icon-lightbulb-on-outline);
  --druki-note-color: var(--color-capri);
}

.druki-note--note {
  --druki-note-icon: var(--icon-pencil-outline);
  --druki-note-color: var(--color-orange-yellow-crayola);
}

.druki-note--warning {
  --druki-note-icon: var(--icon-alert-rhombus-outline);
  --druki-note-color: var(--color-tart-orange);
}

.druki-note--important {
  --druki-note-icon: var(--icon-alert-decagram-outline);
  --druki-note-color: var(--color-maximum-red);
}

.druki-note__label {
  font-size: var(--font-size-sm);
  font-weight: bold;
  line-height: 1;
  user-select: none;
  text-transform: uppercase;
}

.druki-note__label::before {
  position: absolute;
  top: 0.06rem;
  left: 0;
  display: block;
  width: var(--druki-note-icon-size);
  height: var(--druki-note-icon-size);
  content: '';
  border-radius: 50%;
  background-color: var(--druki-note-color);
  background-image: var(--druki-note-icon);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem;
  box-shadow: var(--shadow-sm);
}

.druki-note__content p:last-child {
  margin-bottom: 0;
}

.druki-content-full .druki-note {
  margin: var(--spacing-lg) 0;
}
