{#
/**
 * Theme implementation to display content note element.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - note_type: The type of the note. The value can be: note, warning, tip and
 *   important.
 * - content: The note contents.
 */
#}
<div{{ attributes }}>
  {{ note_type }}
  {{ content }}
</div>
