.paragraph-druki-note {
  $block: &;
  display: flex;
  border-radius: $border-radius-base;

  &__left {
    flex-shrink: 0;
    width: calc(40px + #{spacing-unit(4)});
    padding: spacing-unit(2);
  }

  &__icon {
    @include font-size(40px);
    width: 40px;
    text-align: center;
  }

  &__content {
    padding: spacing-unit(2);
  }

  &--note {
    border: 1px solid theme-color(note);

    #{$block}__left {
      background-color: theme-color(note);
    }

    #{$block}__icon {
      @include mdi-icon('information-outline', $margin-size: 0);
      color: white;
    }
  }

  &--warning {
    border: 1px solid theme-color(warning);

    #{$block}__left {
      background-color: theme-color(warning);
    }

    #{$block}__icon {
      @include mdi-icon('alert-circle-outline', $margin-size: 0);
    }
  }

  &--tip {
    border: 1px solid theme-color(success);

    #{$block}__left {
      background-color: theme-color(success);
    }


    #{$block}__icon {
      @include mdi-icon('lightbulb-on-outline', $margin-size: 0);
      color: white;
    }
  }

  &--important {
    border: 1px solid theme-color(error);

    #{$block}__left {
      background-color: theme-color(error);
    }

    #{$block}__icon {
      @include mdi-icon('alert-octagram-outline', $margin-size: 0);
      color: white;
    }
  }
}
