.page-container ::-webkit-scrollbar {
  width: 4px;
}

.page-container ::-webkit-scrollbar-track {
  background: transparent;
}

.page-container ::-webkit-scrollbar-thumb {
  border-radius: var(--radius-sm);
  background: rgba(0, 0, 0, 0.3);
  -webkit-scrollbar-width: 4px;
}

