$icons: (
  '/': 'home.svg',
  '/wiki': 'books-stack-of-three.svg',
  '/download': 'download-outline.svg',
  '/wiki/drupal': 'drupal.svg',
);

.menu--main {
  display: flex;
  align-items: center;
}

.menu--main .menu__item {
}

.menu--main .menu__item:not(:last-child) {
  margin-right: var(--spacing-sm);
}

.menu--main .menu__link {
  font-weight: bold;
  line-height: 60px;
  display: block;
  padding: 0 var(--spacing-sm);
  padding-left: calc(30px + var(--spacing-sm));
  background-repeat: no-repeat;
  background-position: var(--spacing-unit) center;
  background-size: 30px;
  --link-color: var(--color-white);
  --link-color-hover: var(--color-white);
}

@each $href, $icon in $icons {
  .menu--main .menu__link[href="#{$href}"] {
    background-image: svg-load('#{$icon}', fill=#ffffff);
  }
}

.menu--main .menu__link:hover {
  background-color: var(--color-black-10);
}
