# Ignore core beacuse all of a project's dependencies managed with Composer
# including Drupal core.
core

# Ignore contrib modules and themes, because they all managed via Composer.
web/modules/contrib
web/themes/contrib

# Ignore third-party dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

# Ignore libraries since they managed via Composer.
web/libraries

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Ignore IDE project settings.
.idea

# Ignore npm packages.
node_modules
yarn-error.log

# Ignore split configurations
config/split
.csslintrc
.eslintignore
.eslintrc.json
.ht.router.php
.htaccess
INSTALL.txt
README.txt
autoload.php
example.gitignore
index.php
robots.txt
update.php
web.config