<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         cacheResult="false">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://nginx"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost//dev/shm/d8.db"/>
  </php>
  <testsuites>
    <testsuite name="Druki">
      <directory>./web/modules/custom</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener"/>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
  <filter>
    <whitelist>
      <directory>./web/modules/custom</directory>
      <exclude>
        <directory>./web/modules/custom/*/src/Tests</directory>
        <directory>./web/modules/custom/*/tests</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
