<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="web/core/tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnWarning="true"
         cacheResult="false">
  <coverage>
    <include>
      <directory>./web/modules/custom</directory>
    </include>
    <exclude>
      <directory>./web/modules/custom/*/tests</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="DTT_BASE_URL" value="http://nginx"/>
    <env name="DTT_MINK_DRIVER_ARGS" value='["chrome", {"browserName":"chrome","chromeOptions":{"args":["--disable-gpu","--headless", "--no-sandbox", "--disable-dev-shm-usage"]}}, "http://chrome:9515"]'/>
    <env name="DTT_SCREENSHOT_REPORT_DIRECTORY" value="/var/www/html/web/sites/simpletest/browser_output"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>./web/modules/custom/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>./web/modules/custom/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="existing-site">
      <directory>./tests/src/ExistingSite</directory>
    </testsuite>
<!--    <testsuite name="existing-site-javascript">-->
<!--      <directory>./tests/src/ExistingSiteJavascript</directory>-->
<!--    </testsuite>-->
  </testsuites>
  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener"/>
    <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
  </listeners>
</phpunit>
