.paragraph-druki-heading {
  --link-border: none;
  --link-border-hover: none;
  margin-bottom: var(--p-margin-bottom);
  scroll-margin-top: var(--spacing-md);
  --anchor-size: 24px;
}

.paragraph-druki-heading--h2 {
  border-bottom: 1px solid var(--color-gray-10);
  margin-top: var(--spacing-lg);
  padding-bottom: var(--spacing-unit);
  --anchor-size: 22px;
}

.paragraph-druki-heading--h3 {
  margin-top: var(--spacing-lg);
  --anchor-size: 20px;
}

.paragraph-druki-heading--h4 {
  margin-top: var(--spacing-lg);
  --anchor-size: 18px;
}

.paragraph-druki-heading--h5 {
  margin-top: var(--spacing-lg);
  --anchor-size: 16px;
}

.paragraph-druki-heading__anchor {
  --link-color: var(--color-black-20);
  --link-color-visited: var(--color-black-20);
  display: inline-block;
  font-weight: normal;
  margin-left: var(--spacing-unit);
  text-decoration: none !important;
  vertical-align: middle;
  font-size: 80%;
}
