:root {
  --radio-size: 20px;
  --radio-color: hsl(0, 0%, 45.9%);
  --radio-active-color: var(--color-primary);
}

.radio__input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio__element {
  display: inline-block;
  vertical-align: middle;
  width: var(--radio-size);
  height: var(--radio-size);
  cursor: pointer;
  position: relative;
}

.radio__outer-circle {
  width: 100%;
  height: 100%;
  border: 2px solid var(--radio-color);
  border-radius: 50%;
}

.radio__inner-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--radio-active-color);
  border-radius: 50%;
  transform: scale(0.5);
  opacity: 0;
}

.radio__input:checked + .radio__element .radio__outer-circle {
  border-color: var(--radio-active-color);
}

.radio__input:checked + .radio__element .radio__inner-circle {
  opacity: 1;
}

.radio__input:disabled + .radio__element {
  --radio-color: var(--color-gray-60);
  --radio-active-color: var(--color-gray-10);
}
