.paragraph-druki-heading {
  $block: &;

  &__anchor {
    @include mdi-icon('pound', $margin-size: 0);
    display: none;
  }

  &__heading {
    margin: unset;
  }

  &__heading--h2 {
    margin-bottom: spacing-unit();
    margin-top: spacing-unit(xl);
  }

  &__heading--h3 {
    margin-top: spacing-unit(xl);
  }

  &:hover {
    #{$block}__anchor {
      display: inline;
    }
  }
}
