:root {
  --druki-header-branding-navigation-menu-background-color: var(--color-white);
  --druki-header-branding-navigation-menu-group-title-color: var(--color-black-30);
}

[data-theme="dark"] {
  --druki-header-branding-navigation-menu-background-color: #1e1e1e;
  --druki-header-branding-navigation-menu-group-title-color: var(--color-white-30);
}

.druki-header-branding-navigation {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 var(--spacing-md);

  @media (--lg) {
    width: 240px;
  }
}

.druki-header-branding-navigation__link {
  position: relative;
  z-index: 101;
  display: flex;
  align-items: center;
  height: var(--navigation-height);
}

.druki-header-branding-navigation__logo {
  width: 30px;
  margin-right: var(--spacing-unit);
}

.druki-header-branding-navigation__site-name {
  font-size: var(--text-md);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white);
}

.druki-header-branding-navigation__burger {
  position: relative;
  z-index: 101;
  width: 24px;
  height: 24px;
  margin-left: var(--spacing-sm);
  cursor: pointer;
  border: none;
  background-color: unset;
  background-image: svg-load('menu.svg', fill=#ffffff);
  background-position: center;
  background-size: contain;
}

.druki-header-branding-navigation__navigation:hover .druki-header-branding-navigation__dropdown {
  display: block;
}

.druki-header-branding-navigation__dropdown {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--color-black-20);
}

.druki-header-branding-navigation__dropdown--active {
  display: block;
}

.druki-header-branding-navigation__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 320px;
  background-color: var(--druki-header-branding-navigation-menu-background-color);
  box-shadow: 0 6px 10px var(--color-black-10);

  @media (--lg) {
    width: 100%;
  }
}

.druki-header-branding-navigation__group {
  margin: var(--spacing-sm);
}

.druki-header-branding-navigation__group-title {
  font-size: var(--text-xxs);
  font-weight: bold;
  margin-bottom: var(--spacing-unit);
  text-transform: uppercase;
  color: var(--druki-header-branding-navigation-menu-group-title-color);
}

.druki-header-branding-navigation__menu-link {
  display: block;
}
