.druki-content-next-prev {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 1fr 1fr;
  --link-border: 2px solid var(--color-gray-20);
  --link-border-hover: 2px solid var(--color-primary);
  --link-color: var(--text-color);
  --link-color-hover: var(--color-primary);
  --icon-size: 18px;
  --icon-url: svg-load('arrow-left.svg');
  --icon-hover-url: svg-load('arrow-left.svg', fill=#0049db);
}

.druki-content-next-prev__link {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: var(--spacing-sm) var(--spacing-md);
  border: var(--link-border);
  border-radius: var(--radius-md);
}

.druki-content-next-prev__link:hover {
  --icon-url: var(--icon-hover-url);
  border: var(--link-border-hover);
}

.druki-content-next-prev__link--prev::before {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: var(--spacing-unit);
  content: '';
  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--icon-size);
}

.druki-content-next-prev__link--next {
  justify-content: right;
}

.druki-content-next-prev__link--next::after {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
  margin-left: var(--spacing-unit);
  content: '';
  transform: rotate(180deg);
  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--icon-size);
}
