.druki-media-remote-video-optimized {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: calc(9 / 16 * 100%);
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
}

.druki-media-remote-video-optimized__preview,
.druki-media-remote-video-optimized__iframe {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.druki-media-remote-video-optimized__preview {
  cursor: pointer;
}

.druki-media-remote-video-optimized__thumbnail {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.druki-media-remote-video-optimized__play {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(black, 0.8);
}

.druki-media-remote-video-optimized__play::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: svg-load('play.svg', fill=#FFF);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.druki-media-remote-video-optimized__loading {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.druki-media-remote-video-optimized__loading--active {
  display: block;
}
