.druki-drupal-versions {
  display: grid;
  align-items: center;
  padding: var(--grid-container-inner-gap);
  background-color: var(--color-contrast-lowest);
  grid-gap: var(--spacing-md);
  grid-template-columns: repeat(4, 1fr);
}

.druki-drupal-versions__name {
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.druki-drupal-versions__label {
  font-family: var(--font-secondary);
  font-size: var(--text-md);
  font-weight: bold;
  color: var(--color-contrast-high);
}

.druki-drupal-versions__date {
  font-size: var(--text-sm);
  color: var(--color-contrast-medium);
}

.druki-drupal-versions__security {
  display: flex;
  margin-left: var(--spacing-unit);
}

.druki-drupal-versions__security::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  content: '';
  vertical-align: middle;
  background-image: svg-load('alert-octagram.svg', fill=#d50000);
  background-size: contain;
}

.druki-drupal-versions__more {
  display: flex;
  flex-direction: column;
}

//.druki-drupal-versions__more-icon::before {
//  display: inline-block;
//  width: 40px;
//  height: 40px;
//  content: '';
//  vertical-align: middle;
//  background-image: svg-load('arrow-left.svg', fill=#313235);
//  background-size: contain;
//  transform: rotate(180deg);
//}

.druki-drupal-versions__more-title {
  font-weight: bold;
  font-size: var(--text-lg);
}

.druki-drupal-versions__more-subtitle {
  color: var(--color-contrast-medium);
  font-size: var(--text-xs);
  line-height: 1.2;
}
