:root {
  --druki-drupal-versions-background-color: var(--color-black-05);
  --druki-drupal-versions-label-color: var(--color-black-90);
}

[data-theme="dark"] {
  --druki-drupal-versions-background-color: var(--color-black-40);
  --druki-drupal-versions-label-color: var(--color-white-90);
}

.druki-drupal-versions {
  display: grid;
  align-items: center;
  padding: var(--grid-container-inner-gap);
  background-color: var(--druki-drupal-versions-background-color);
  grid-gap: var(--spacing-md);
  grid-template-columns: 1fr;

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.druki-drupal-versions__name {
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.druki-drupal-versions__label {
  font-family: var(--font-secondary);
  font-size: var(--text-md);
  font-weight: bold;
  color: var(--druki-drupal-versions-label-color);
}

.druki-drupal-versions__date {
  font-size: var(--text-sm);
  color: var(--color-gray-90);
}

.druki-drupal-versions__security {
  display: flex;
  margin-left: var(--spacing-unit);
}

.druki-drupal-versions__security::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  content: '';
  vertical-align: middle;
  background-image: svg-load('alert-octagram.svg', fill=#d50000);
  background-size: contain;
}

.druki-drupal-versions__more {
  display: flex;
  flex-direction: column;
}

.druki-drupal-versions__more-title {
  font-weight: bold;
  font-size: var(--text-lg);
}

.druki-drupal-versions__more-subtitle {
  color: var(--color-gray-90);
  font-size: var(--text-xs);
  line-height: 1.2;
}
