:root {
  --druki-category-navigation-link-color: var(--color-gray-90);
  --druki-category-navigation-link-hover-color: var(--link-color);
  --druki-category-navigation-active-link-color: var(--link-color);
  --druki-category-navigation-counter-color: var(--link-color);
}

[data-theme="dark"] {
  --druki-category-navigation-link-color: var(--color-white-80);
}

.druki-category-navigation {
  font-size: 14px;
}

.druki-category-navigation {
  font-size: 14px;
  line-height: 1.7;
}

.druki-category-navigation__menu {
  margin: unset;
  padding: unset;
}

.druki-category-navigation__menu-item-link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  --link-color: var(--druki-category-navigation-link-color);

  &:hover {
    text-decoration: none;
    color: var(--druki-category-navigation-link-hover-color);
  }
}

.druki-category-navigation__menu-item-link--active {
  font-weight: bold;
  --link-color: var(--druki-category-navigation-active-link-color);
}

.druki-category-navigation__submenu {
  position: relative;

  &::before {
    position: absolute;
    left: -1rem;
    display: block;
    width: 2px;
    height: 100%;
    content: '';
    background-color: var(--text-color);
  }
}

.druki-category-navigation ul {
  counter-reset: item;
}

.druki-category-navigation ul ul {
  margin: 0 0 0 var(--spacing-sm);
  padding-left: unset;
}

.druki-category-navigation li {
  display: block;
  vertical-align: top;
}

.druki-category-navigation li a::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  vertical-align: top;
  color: var(--druki-category-navigation-counter-color);
}
