.druki-page-download {

}

.druki-page-download__head {
  margin: calc(var(--grid-container-inner-gap) * -1);
  margin-bottom: var(--grid-container-inner-gap);
  padding: var(--grid-container-inner-gap);
  background-color: var(--color-blue-10);
}

.druki-page-download__subtitle {
  text-align: center;
}

.druki-page-download__command {
  display: table;
  margin: 0 auto;
  padding: var(--spacing-sm);
  border: 1px solid var(--color-black-20);
  background-color: var(--color-black-05);
}

.druki-page-download__command-pane {
  margin: var(--spacing-md) 0;
}

.druki-page-download__command-note {
  font-size: var(--text-sm);
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: var(--color-gray-90);
}

.druki-page-download__cards {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(3, 1fr);
}

