.druki-page-wiki {
  margin-top: var(--spacing-lg);
}

.druki-page-wiki__title {
  font-size: var(--text-lg);
  text-align: center;
}

.druki-page-wiki__subtitle {
  font-size: var(--text-xxl);
  font-weight: bold;
  text-align: center;
  color: var(--color-primary);
}

.druki-page-wiki__cards {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 1fr;

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.druki-page-wiki__row {
  margin: var(--spacing-lg) 0;
}

.druki-page-wiki__faq {
  margin: var(--spacing-md) 0;
  text-align: center;
  color: var(--color-gray-70);
}


.druki-page-wiki__other-items {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 1fr;

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.druki-page-wiki__other-item-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
