.official-user-guide {
  display: grid;
  grid-gap: var(--spacing-lg);
  align-items: center;

  @media (--sm) {
    grid-template-columns: 1fr 2fr;
  }

  @media (--md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--xl) {
    grid-template-columns: 500px 1fr;
  }
}

.official-user-guide__image img {
  display: table;
  margin: 0 auto;
}

.official-user-guide__title {
  color: var(--color-primary);
  font-weight: bold;
  text-transform: uppercase;
}

.official-user-guide__link {
  display: flex;
  align-items: center;
}

.official-user-guide__link:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.official-user-guide__link-icon {
  flex-shrink: 0;
  margin-right: var(--spacing-sm);
  width: 60px;
  height: 60px;
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  border-radius: 50%;
  box-shadow: var(--shadow-xs);
}

.official-user-guide__link-icon--read {
  background-image: svg-load('web.svg', fill=#fff);
}

.official-user-guide__link-icon--download {
  background-image: svg-load('download-outline.svg', fill=#fff);
}

.official-user-guide__link-title {
  color: var(--text-color);
  font-size: var(--text-lg);
  font-weight: bold;
  text-decoration: underline;
}

.official-user-guide__link-description {
  font-size: var(--text-xs);
  color: var(--color-gray-70);
}
