// =============================================================================
// Blockquotes.
// =============================================================================

:root {
  --blockquote-font-size: var(--font-size-sm);
  --blockquote-border-size: 4px;
  --blockquote-paddings: var(--spacing-xxs) var(--spacing-lg);
  --blockquote-background: #f3f4f9;
  --blockquote-border-color: var(--color-border);
}

blockquote {
  font-size: var(--blockquote-font-size);
  padding: var(--blockquote-paddings);
  border-left: var(--blockquote-border-size) solid var(--blockquote-border-color);
  background: var(--blockquote-background);
}
