:root {
  --o-card-background: white;
  --o-card-shadow: var(--shadow-xs);
  --o-card-hover-shadow: var(--shadow-md);
  --o-card-spacing: var(--spacing-sm);
}

[data-theme="dark"] {
  --o-card-background: hsl(252, 11%, 9%);
}

.o-card {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: box-shadow 0.25s ease-in-out;
  border-radius: var(--radius);
  background-color: var(--o-card-background);
  box-shadow: var(--o-card-shadow);

  &:hover {
    box-shadow: var(--o-card-hover-shadow);
  }
}

.o-card__header {
  padding: var(--o-card-spacing);
  display: flex;
  align-items: center;
}

.o-card__icon {
  margin-right: var(--o-card-spacing);
}

.o-card__title {
  margin: unset;
}

.o-card__subtitle {
  color: var(--color-contrast-medium);
}

.o-card__content {
  padding: var(--o-card-spacing);
  color: var(--color-contrast-medium);
}

.o-card__actions {
  padding: var(--o-card-spacing);
  margin-top: auto;
}

.o-card__actions--divider {
  border-top: 1px solid var(--color-contrast-lower);
}

.o-card__header + .o-card__content {
  padding-top: unset;
}
