// =============================================================================
// Headings.
// =============================================================================

:root {
  --heading-font-family: Montserrat, sans-serif;
  --heading-line-height: 1.3;
  --heading-color: var(--color-primary);
}

[data-theme="dark"] {
  --heading-color: hsl(189, 69%, 58%);
}

h1 {
  font-size: var(--text-xxl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

h5 {
  font-size: var(--text-sm);
}

h6 {
  font-size: var(--text-xs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  line-height: var(--heading-line-height);
  margin-bottom: var(--spacing-sm);
  color: var(--heading-color);
}
