// =============================================================================
// Horizontal rules.
// =============================================================================

hr {
  margin: calc(var(--global-baseline) * 2) 0;
  border: unset;
  border-top: 1px solid gray(500);
}
