// =============================================================================
// Links.
// =============================================================================

:root {
  --link-color: hsl(211, 100%, 54%);
  --link-color-hover: hsl(211, 100%, 44%);
}

[data-theme="dark"] {
  //--link-color: hsl(231, 5%, 54%);
  //--link-color-hover: hsl(231, 5%, 64%);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
  }
}
