// =============================================================================
// Links.
// =============================================================================

a {
  color: theme-color(link);
  text-decoration: none;

  &:hover {
    color: theme-color(primary);
    text-decoration: none;
  }
}
