// =============================================================================
// Links.
// =============================================================================

:root {
  --link-color: hsl(215, 100%, 35%);
  --link-color-hover: hsl(215, 100%, 15%);
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    color: var(--link-color-hover);
    text-decoration: none;
  }
}
