// =============================================================================
// Page.
// =============================================================================

:root {
  --page-background: hsl(210, 30%, 95%);
}

[data-theme="dark"] {
  --page-background: hsl(252, 11%, 9%);
}

body {
  background: var(--page-background);
}
