// =============================================================================
// Page.
// =============================================================================

:root {
  --page-background: hsl(var(--color-primary-h), var(--color-primary-s), 98%);
}

[data-theme="dark"] {
  --page-background: hsl(252, 11%, 9%);
}

body {
  background: var(--page-background);
}
