// =============================================================================
// Selection.
// =============================================================================

:root {
  --selection-background: hsla(var(--color-accent-h), var(--color-accent-s), var(--color-accent-l), 0.2);
  --selection-color: var(--text-color);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}
