// =============================================================================
// Typography.
// =============================================================================

:root {
  --font-size-base: 16px;
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: Georgia, 'Times New Roman', Times, serif;
  --font-monospace: 'Fira Code', monospace;
  --font-family: var(--font-primary);
  --body-line-height: 1.4;
  --text-color: hsl(0, 0%, 7%);
  --mark-background: hsl(60, 100%, 50%);
  --code-background: var(--body-background);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--body-line-height);
  color: var(--text-color);
}

p {
  margin: var(--spacing-sm) 0;
}

small {
  font-size: 80%;
  font-weight: normal;
}

big {
  font-size: 120%;
  font-weight: normal;
}

mark {
  padding: var(--spacing-xs);
  background-color: var(--mark-background);
}

code {
  font-family: var(--font-monospace);
  font-size: 90%;
  padding: 4px 6px;
  word-break: break-all;
  border-radius: 4px;
  background-color: var(--code-background);
}

pre code {
  // Fixes unwanted paddings for first and last line of code.
  padding: unset;
}

@include media-breakpoint-down(md) {
  // Offset for anchors.
  :target::before {
    display: block;
    width: 0;
    height: 80px;
    margin: -80px 0 0;
    content: "";
  }
}
