.paragraph-druki-heading {
  $block: &;

  &__anchor {
    @include mdi-icon('link-variant', $margin-size: 0);
    @include font-size(18px, false);
    display: none;
    margin-left: -25px;
    vertical-align: middle;
    color: gray(400);
  }

  &__heading {
    position: relative;
    vertical-align: middle;
  }

  &__heading--h2 {
    padding-bottom: spacing-unit(tiny);
    border-bottom: 1px solid gray(200);
  }

  &:hover &__anchor {
    display: inline-block;
  }

  @include media-breakpoint-down(md) {
    &__anchor {
      display: none;
    }
  }
}
