:root {
  --paragraph-druki-heading-border-color: var(--color-contrast-lower);
}

[data-theme="dark"] {
  --paragraph-druki-heading-border-color: var(--color-contrast-high);
}

.paragraph-druki-heading { }

.paragraph-druki-heading__anchor {
  @include mdi-icon('link-variant', $margin-size: 0);
  font-size: 18px;
  display: none;
  margin-left: -25px;
  vertical-align: middle;
  color: var(--color-contrast-medium);
}

.paragraph-druki-heading:hover .paragraph-druki-heading__anchor {
  display: inline-block;
}

.paragraph-druki-heading__heading {
  position: relative;
  vertical-align: middle;
}

.paragraph-druki-heading__heading--h2 {
  padding-bottom: var(--spacing-unit);
  border-bottom: 1px solid var(--paragraph-druki-heading-border-color);
}
