{#
/**
 * @file
 * Default theme implementation to present header search form.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - default_value: Default value for input.
 */
#}
<form action="/search" class="druki-header-search">
  <input type="text"
         name="keys"
         placeholder="Поиск по энциклопедии"
         autocomplete="off"
         class="druki-header-search__input"
         value="{{ default_value }}"
         aria-label="{{ 'Site search'|t }}">
  <button class="druki-header-search__submit" aria-label="{{ 'Search'|t }}"></button>
</form>
