{#
/**
 * @file
 * Default theme implementation to present official user guide advice.
 *
 * Available variables:
 * - attributes: HTML attributes for containing element.
 * - :
 *
 * @see template_preprocess_druki_official_user_guide()
 */
#}
<div class="official-user-guide">
  <div class="official-user-guide__image">
    {{ image }}
  </div>
  <div class="official-user-guide__content">
    <h2 class="official-user-guide__title">Руководство пользователя</h2>
    <p><strong>Официальное руководство пользователя.</strong> Подойдёт как новичкам в Drupal, так и тем, кто уже знаком с прошлыми версиями системы. Руководство разделено на главы и информация подаётся последовательно. Так, вы сможете читать его как книгу и постепенно расширять свои знания.</p>

    <div class="official-user-guide__links">
      <a href="https://www.drupal.org/ru/docs/user_guide/ru/index.html" target="_blank" rel="nofollow noopener" class="official-user-guide__link">
        <div class="official-user-guide__link-icon official-user-guide__link-icon--read"></div>
        <div class="official-user-guide__link-content">
          <div class="official-user-guide__link-title">Читать онлайн</div>
        </div>
      </a>

      <a href="https://www.drupal.org/docs/8/understanding-drupal-8/user-guide-e-book-downloads" target="_blank" rel="nofollow noopener" class="official-user-guide__link">
        <div class="official-user-guide__link-icon official-user-guide__link-icon--download"></div>
        <div class="official-user-guide__link-content">
          <div class="official-user-guide__link-title">Загрузить</div>
          <div class="official-user-guide__link-description">Читайте на любом устройстве в формате PDF, ePub, Mobi и AZW3.</div>
        </div>
      </a>
    </div>
  </div>
</div>
