:root {
  --druki-content-variations-background-color: var(--color-yellow-10);
  --druki-content-variations-border-color: var(--color-yellow-20);
}

[data-theme="dark"] {
  --druki-content-variations-background-color: var(--color-white-05);
  --druki-content-variations-border-color: var(--color-white-10);
}

.druki-content-variations {
  background-color: var(--druki-content-variations-background-color);
  border: 1px solid var(--druki-content-variations-border-color);
  padding: var(--spacing-sm);
}
