.footer {
  font-size: var(--font-size-sm);
  color: var(--color-old-silver);
  margin-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.footer__container {
  display: grid;
  grid-gap: var(--spacing-xl);
  grid-template-columns: 1fr;

  @media (--sm) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--lg) {
    grid-template-columns: auto auto 1fr;
  }
}

.footer__legal {
  @media (--sm) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (--lg) {
    grid-column: auto;
  }
}

.footer__some-love {
  margin-bottom: var(--spacing-md);
}

.footer .block__title {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: var(--spacing-xs);
}
