:root {
  --region-content-header-background-color: var(--color-cultured);
}

[data-theme="dark"] {
  --region-content-header-background-color: var(--color-black--light-12);
}

.region-content-header {
  border-bottom: 1px solid var(--color-border-secondary);
  background-color: var(--region-content-header-background-color);
  --focus-box-shadow: 0 0 0 2px var(--region-content-header-background-color), 0 0 0 5px var(--color-teal);
}

.region-content-header__container {
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
}

.region-content-header .block--loremaster-breadcrumbs {
  margin-bottom: var(--spacing-md);
}
