.region-sidebar-right {
  @media (--lg) {
    margin: var(--spacing-xl) 0;
  }
}

.region-sidebar-right .block:not(:last-child) {
  margin-bottom: var(--spacing-xl);
}

.region-sidebar-right .block__title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: var(--spacing-sm);
}
