:root {
  --frontpage-promo-background: hsla(0, 0%, 100%, 0.85);
}

[data-theme="dark"] {
  --frontpage-promo-background: hsla(0, 0%, 0%, 0.85);
}

.frontpage-promo {
  position: relative;
  padding: var(--spacing-sm);

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--frontpage-promo-background);
  }

  @media (--xl) {
    padding: var(--spacing-lg);
  }
}

.frontpage-promo__image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.frontpage-promo__description {
  font-size: 20px;

  @media (--lg) {
    max-width: 65%;
  }
}

.frontpage-promo__inner {
  position: relative;
  z-index: 2;
}
