:root {
  --header-background: hsl(224, 18%, 88%);
  --header-height: 50px;
}

[data-theme="dark"] {
  --header-background: hsl(231, 9%, 15%);
}

.header {
  position: relative;
  z-index: 10;
  display: none;
  height: var(--header-height);
  background-color: var(--header-background);

  @include breakpoint(lg) {
    display: flex;
  }
}

.header__inner {
  position: relative;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-gap: 0;
  grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);

  @include breakpoint(xxl) {
    max-width: var(--container-max-width);
  }
}

.header__search {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.header__search-icon {
  @include mdi-icon('magnify', $margin-size: 0);
  position: absolute;
  top: 50%;
  left: var(--spacing-unit);
  transform: translateY(-50%);
}

.header__search-input {
  padding: unset;
  padding-left: var(--spacing-md);
  color: var(--color-contrast-medium);
  border: none;
  border-radius: unset;
  background-color: unset;
  width: 100%;

  &:focus {
    box-shadow: unset;
  }
}

.header__left {
  display: flex;
}

.header__center {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .dark-mode-toggle {
  margin-right: var(--spacing-sm);
}
