.header {
  position: relative;
  z-index: 10;
  display: none;
  background-color: var(--header-background);

  @include breakpoint(lg) {
    display: block;
  }
}

.header__inner {
  position: relative;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-gap: 0;
  grid-template-columns: var(--sidebar-width) 1fr;

  @include breakpoint(xxl) {
    grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
    max-width: var(--container-max-width);
  }
}

.header__search {
  position: relative;
}

.header__search-icon {
  @include mdi-icon('magnify', $margin-size: 0);
  position: absolute;
  top: 50%;
  left: var(--spacing-unit);
  transform: translateY(-50%);
}

.header__search-input {
  padding-left: var(--spacing-md);
  color: var(--color-contrast-medium);
  border: none;
  border-radius: unset;
  background-color: unset;

  &:focus {
    box-shadow: unset;
  }
}
