$icons: (
  '/': 'home',
  '/wiki': 'file-document-box-multiple-outline',
  '/download': 'download',
  '/wiki/drupal': 'drupal',
);

.mobile-navigation {
  position: fixed;
  z-index: 200;
  top: 0;
  left: -100vw;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  transition: 0.2s ease-in-out background-color;
  background-color: transparent;

  @media (--lg) {
    display: none;
  }
}

.mobile-navigation--active {
  left: 0;
  background-color: rgba(black, 0.5);
}

.mobile-navigation--hiding {
  background-color: transparent;
}

.mobile-navigation__sidebar {
  position: fixed;
  z-index: 201;
  top: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  overflow-y: scroll;
  flex-direction: column;
  width: 250px;
  height: 100%;
  transition: 0.2s ease-in-out transform;
  transform: translateX(100%);
  background-color: var(--page-background);
}

.mobile-navigation__sidebar .dark-mode-toggle {
  align-self: flex-start;
  margin-top: auto;
  padding: var(--spacing-sm);
}

.mobile-navigation--active .mobile-navigation__sidebar {
  transform: translateX(0);
  visibility: visible;
}

.mobile-navigation--hiding .mobile-navigation__sidebar {
  transform: translateX(100%);
}

.mobile-navigation__branding {
  display: flex;
  justify-content: center;
  padding: var(--spacing-unit);
}

.mobile-navigation__branding-logo {
  height: 100px;
}

.mobile-navigation__navigation {
  padding: unset;
  list-style: none;
  margin: var(--spacing-sm) var(--spacing-unit);
}

.mobile-navigation__navigation-item {
  margin: unset;
}

@each $href, $icon in $icons {
  .mobile-navigation__navigation-link[href^="#{$href}"] {
    @include mdi-icon($icon, before, 0);
  }
}

.mobile-navigation__navigation-link {
  display: flex;
  align-items: center;
  padding: var(--spacing-xs);
  color: var(--block-main-menu-link-color);
  border: 1px solid transparent;
  border-radius: var(--radius);

  &:hover {
    text-decoration: none;
    color: var(--block-main-menu-link-hover-color);
    border: 1px solid var(--block-main-menu-link-hover-border-color);
    background: var(--block-main-menu-link-hover-background);
  }
}

.mobile-navigation__navigation-link::before {
  margin-right: var(--spacing-sm) !important;
  padding: var(--spacing-unit);
  border-radius: var(--radius);
  background-color: var(--block-main-menu-icon-background);
}

.mobile-navigation__navigation-link:hover::before {
  color: var(--block-main-menu-link-hover-icon-color);
  background-color: var(--block-main-menu-link-hover-icon-background);
}
