.frontpage-get-started-and-versions {
  display: grid;
  grid-gap: spacing-unit(grid-gap);
  padding: spacing-unit(large);
  grid-template-columns: 1fr 400px;

  @include media-breakpoint-down(lg) {
    grid-template-columns: 1fr;
    padding: spacing-unit();

    &__versions {
      order: 0;
    }

    &__get-started {
      order: 1;
    }
  }
}
