.frontpage-get-started-and-versions {
  display: grid;
  grid-gap: var(--spacing-lg);
  padding: var(--spacing-sm);
  grid-template-columns: 1fr;

  @include breakpoint(xl) {
    grid-template-columns: 1fr 400px;
    padding: var(--spacing-lg);
  }
}

