// @todo improve this footer with margins. Such a mess right now.
.footer {
  font-size: var(--text-sm);
  margin: var(--spacing-md) auto;
  color: var(--color-contrast-medium);
  max-width: var(--container-max-width);
}

.footer__inner {
  padding: 0 var(--spacing-unit);

  @include breakpoint(lg) {
    margin-left: var(--sidebar-width);
    padding: unset;
  }

  @include breakpoint(xxl) {
    margin-right: var(--sidebar-width);
  }
}

.footer__bottom {
  margin-top: var(--spacing-sm);
}

.footer__heart {
  @include mdi-icon('heart', before, 0);
  color: red;
}

.footer__drupal {
  @include mdi-icon('drupal');
  color: blue;
}

.footer__gitlab {
  @include mdi-icon('gitlab');
  color: orange;
}

.footer__developer {
  font-weight: bold;
  color: #757af7;
}
