:root {
  --mobile-header-height: 60px;
}

.header-mobile {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--mobile-header-height);
  background-color: var(--page-background);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);

  @include breakpoint(lg) {
    display: none;
  }
}

.header-mobile__branding {
  font-size: var(--text-xl);
  font-weight: bold;
  line-height: var(--mobile-header-height);
  text-transform: uppercase;
}

.header-mobile__search {
  @include mdi-icon('magnify', $margin-size: 0);
  font-size: var(--text-lg);
  line-height: var(--mobile-header-height);
  display: block;
  padding: 0 var(--spacing-sm);
  text-align: center;
  color: var(--color-contrast-high);
}

.mobile-toggle {
  position: relative;
  padding: 0 var(--spacing-sm);
  cursor: pointer;
  align-self: stretch;
  align-items: center;
  display: flex;

  span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: var(--color-contrast-high);
  }

  span:not(:last-child) {
    margin-bottom: 3px;
  }
}
