.frontpage-important-info {
  display: grid;
  margin: var(--spacing-sm);
  grid-gap: var(--spacing-md);
  grid-template-columns: 1fr;

  @include breakpoint(xl) {
    margin: var(--spacing-lg);
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(xxl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.frontpage-important-info .druki-drupal-versions {
  align-self: flex-start;
}

.frontpage-important-info .drupalcon-promo {
  align-self: flex-start;
  justify-self: center;
}
