.drupal-event-promo {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.25s ease-in-out;
  border-radius: var(--radius);
  box-shadow: var(--shadow-xs);

  &:hover {
    box-shadow: var(--shadow-md);
  }
}

.drupal-event-promo__link {
  display: block;
}

.drupal-event-promo__image {
}
