// This class added by includes/structure preprocess page hook. Don't forget
// to rename STARTER to your theme name to make it works. Or just remove.
.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content";

  @include breakpoint(lg) {
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-areas: "left-sidebar content";
  }

  @include breakpoint(xxl) {
    max-width: var(--container-max-width);
    margin: 0 auto;
    grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
    grid-template-areas: "left-sidebar content right-sidebar";
  }
}
