:root {
  --region-content-background: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
  --region-content-background: hsl(215, 34%, 13%);
}

.region-content {
  background-color: var(--region-content-background);
  grid-area: content;
  padding: var(--spacing-sm);

  @include breakpoint(lg) {
    padding: var(--spacing-lg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
