.region-content {
  background-color: hsl(0, 0%, 100%);
  grid-area: content;
  padding: var(--spacing-sm);

  @include breakpoint(lg) {
    padding: var(--spacing-lg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}
