:root {
  --druki-content-variations-active-background-color: rgba(0, 0, 0, 0.05);
  --druki-content-variations-border-color: var(--color-gray-blue);
  --druki-content-variations-label-icon: var(--icon-drupal--dark);
}

[data-theme="dark"] {
  --druki-content-variations-active-background-color: var(--color-light-gray);
  --druki-content-variations-border-color: var(--color-light-gray);
  --druki-content-variations-label-icon: var(--icon-drupal--white);
}

.druki-content-variations {
  align-items: center;
  border: 1px solid var(--druki-content-variations-border-color);
  border-radius: var(--radius-xs);
  display: flex;
  overflow: hidden;
  user-select: none;
}

.druki-content-variations__label {
  align-items: center;
  display: flex;
  font-weight: bold;
  padding: var(--spacing-sm);
}

.druki-content-variations__label::before {
  background-image: var(--druki-content-variations-label-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 1rem;
  margin-right: var(--spacing-xs);
  width: 1rem;
}

.druki-content-variations__variations {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.druki-content-variations__variation {
  border-left: 1px solid var(--druki-content-variations-border-color);
  display: block;
  padding: var(--spacing-sm);
}

.druki-content-variations__variation:focus {
  box-shadow: inset 0 0 0 3px var(--color-teal);
}

.druki-content-variations__variation--active {
  background-color: var(--druki-content-variations-active-background-color);
  font-weight: bold;
}
