.mobile-sidebar-button {
  display: flex;
  align-self: center;
  width: var(--region-header-height);
  height: var(--region-header-height);
  border: none;
  background-color: transparent;
  background-image: var(--icon-menu--white);
  background-repeat: no-repeat;
  background-position: center;
}
