.mobile-dark-mode-switcher {
  width: var(--region-header-height);
  height: var(--region-header-height);
  background-image: var(--icon-theme-light-dark--white);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  align-self: center;
  display: flex;
}
