.druki-page-wiki {
}

.druki-page-wiki__title {
  font-weight: bold;
  text-align: center;
}

.druki-page-wiki__subtitle {
  font-size: var(--text-lg);
  font-weight: normal;
  text-align: center;
  color: var(--color-contrast-medium);
}

.druki-page-wiki__header {
  margin-bottom: var(--spacing-unit);
}

.druki-page-wiki__row {
  margin: var(--spacing-lg) 0;
}

.druki-page-wiki__row-title {
  font-size: var(--text-xxl);
}

.druki-page-wiki__row-description {
  font-size: var(--text-md);
  margin-bottom: var(--spacing-unit);
}

.druki-page-wiki__box-links {
  display: grid;
  margin: var(--spacing-md) 0;
  grid-gap: var(--spacing-sm);
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.druki-page-wiki__box-links-item {
  position: relative;
  overflow: hidden;
  padding: var(--spacing-sm);
  transition: all .25s ease-in-out;
  border-radius: var(--radius);
  background-color: var(--page-background);
  box-shadow: inset 0 0 10px 0 rgba(black, 0.1);

  &::before {
    position: absolute;
    z-index: 0;
    right: -50%;
    bottom: -50%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    transition: all .3s ease;
    border-radius: 100%;
  }
}

.druki-page-wiki__box-links-item:hover::before {
  width: 200%;
  padding-bottom: 200%;
  background-color: var(--color-primary);
}

.druki-page-wiki__box-links-item:hover .druki-page-wiki__box-links-item-title {
  color: var(--color-contrast-higher)
}

.druki-page-wiki__box-links-item:hover .druki-page-wiki__box-links-item-description {
  color: var(--color-contrast-high);
}

.druki-page-wiki__box-links-item-title {
  font-size: var(--text-lg);
  position: relative;
  margin: unset;
  margin-bottom: var(--spacing-sm);
}

.druki-page-wiki__box-links-item-description {
  font-size: 14px;
  position: relative;
  color: var(--color-contrast-high);
}

.druki-page-wiki__faq {
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: var(--color-contrast-high);
}

.druki-page-wiki__other-items {
  display: grid;
  grid-gap: var(--spacing-sm);
  grid-template-columns: repeat(4, 1fr);
}

.druki-page-wiki__other-item-title {
  font-weight: bold;
  margin-bottom: var(--spacing-unit);
}

.druki-page-wiki__other-item-items {
  @include list-unstyled;
}
