:root {
  --druki-download-command-color: var(--color-white);
}

[data-theme="dark"] {
  --druki-download-command-color: var(--color-black);
}

$icons: (
  'try': 'drupal',
  'update': 'update',
  'open-source': 'open-source-initiative',
  'source-code': 'gitlab',
  'community': 'account-group',
  'talk': 'chat-processing'
);

.druki-page-download { }

.druki-page-download__title {
  font-size: var(--page-title-font-size);
  font-weight: bold;
  text-align: center;
}

.druki-page-download__subtitle {
  font-size: var(--text-lg);
  font-weight: normal;
  text-align: center;
  color: var(--color-contrast-medium);
}

.druki-page-download__command-pane {
  display: flex;
  justify-content: center;
  margin: var(--spacing-lg) auto 0;
  padding: var(--spacing-sm);
  color: white;
  border-radius: var(--radius);
  background-color: var(--color-contrast-higher);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.druki-page-download__command {
  font-family: var(--font-monospace);
  color: var(--druki-download-command-color);

  &::before {
    content: '>_ ';
    color: var(--color-primary);
  }
}

.druki-page-download__command-note {
  font-size: 14px;
  font-style: italic;
  margin: var(--spacing-sm) 0;
  text-align: center;
  color: var(--color-contrast-medium);
}

.druki-page-download__cards {
  display: grid;
  margin: var(--spacing-lg) 0 0 0;
  grid-gap: var(--spacing-sm);
  grid-template-columns: 1fr;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(lg) {
    grid-gap: var(--spacing-md);
  }

  @include breakpoint(xxl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.druki-page-download__card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: var(--spacing-sm);
  text-align: center;
  border-radius: var(--radius);
  background-color: var(--page-background);
  box-shadow: inset 0 0 10px 0 rgba(black, 0.1);
}

@each $modifier, $icon in $icons {
  .druki-page-download__card-icon--#{$modifier} {
    @include mdi-icon($icon, $margin-size: 0);
  }
}

.druki-page-download__card-icon {
  font-size: 60px;
}

.druki-page-download__card-title {
  font-size: 20px;
  font-weight: bold;
  margin: unset;
  margin-bottom: var(--spacing-sm);
}

.druki-page-download__card-text {
  font-size: 14px;
  color: var(--color-contrast-medium);
}

.druki-page-download__card-bottom {
  font-weight: bold;
  margin-top: auto;
  padding-top: var(--spacing-unit);
}
