.druki-drupal-versions {
  padding: var(--spacing-sm);
  border: 2px solid var(--color-contrast-low);
}

.druki-drupal-versions__label {
  font-size: var(--text-lg);
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
}

.druki-drupal-versions__update-label {
  font-weight: bold;
  color: var(--color-contrast-high);
}

.druki-drupal-versions__update-date {
  font-size: 14px;
  color: var(--color-contrast-medium);
}

.druki-drupal-versions__releases {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-unit);
}
