$icons: (
  'try': 'drupal',
  'update': 'update',
  'open-source': 'open-source-initiative',
  'source-code': 'gitlab',
  'community': 'account-group',
  'talk': 'chat-processing'
);

:root {
  --druki-download-card-hover-border-color: var(--link-color);
}

[data-theme="dark"] {
  --druki-download-card-hover-border-color: var(--color-contrast-low);
}

.druki-page-download {
}

.druki-page-download__title {
  font-size: var(--page-title-font-size);
  font-weight: bold;
  text-align: center;
}

.druki-page-download__subtitle {
  font-size: var(--text-lg);
  font-weight: normal;
  text-align: center;
  color: var(--color-contrast-medium);
}

.druki-page-download__command-pane {
  display: flex;
  justify-content: center;
  margin: var(--spacing-lg) auto 0;
  padding: var(--spacing-sm);
  border-radius: var(--radius);
  background-color: var(--code-background);
  box-shadow: var(--shadow-xs);
}

.druki-page-download__command {
  font-family: var(--font-monospace);
  color: var(--text-color);

  &::before {
    content: '>_ ';
    color: var(--color-primary);
  }
}

.druki-page-download__command-note {
  font-size: 14px;
  font-style: italic;
  margin: var(--spacing-sm) 0;
  text-align: center;
  color: var(--color-contrast-medium);
}

.druki-page-download__cards {
  display: grid;
  margin: var(--spacing-lg) 0 0 0;
  grid-gap: var(--spacing-sm);
  grid-template-columns: 1fr;

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(lg) {
    grid-gap: var(--spacing-md);
  }

  @include breakpoint(xxl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.druki-page-download__card {
  border: 2px solid transparent;
  transition: box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;

  &:hover {
    border-color: var(--druki-download-card-hover-border-color);
  }
}

@each $modifier, $icon in $icons {
  .druki-page-download__card-icon--#{$modifier} {
    @include mdi-icon($icon, $margin-size: 0);
  }
}

.druki-page-download__card-title {
  font-size: var(--text-base-size);
}

.druki-page-download__card-content {
  font-size: var(--text-sm);
}

.druki-page-download__card-content p:last-child {
  margin-bottom: unset;
}

.druki-page-download__card-link {
  font-size: 14px;
  padding: var(--spacing-unit) var(--spacing-sm);
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--radius);

  &:hover {
    text-decoration: none;
    color: var(--color-white);
    border-color: var(--link-color-hover);
    background-color: var(--link-color);
  }
}
