.druki-page-wiki {
}

.druki-page-wiki__title {
  font-size: var(--page-title-font-size);
  font-weight: bold;
  text-align: center;
}

.druki-page-wiki__subtitle {
  font-size: var(--text-lg);
  font-weight: normal;
  text-align: center;
  color: var(--color-contrast-medium);
}

.druki-page-wiki__header {
  margin-bottom: var(--spacing-unit);
}

.druki-page-wiki__row {
  margin: var(--spacing-lg) 0;
}

.druki-page-wiki__row-title {
  font-size: var(--text-xxl);
}

.druki-page-wiki__row-description {
  font-size: var(--text-base-size);
  margin-bottom: var(--spacing-unit);
}

.druki-page-wiki__cards {
  display: grid;
  margin: var(--spacing-md) 0;
  grid-gap: var(--spacing-sm);
  grid-template-columns: 1fr;

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.druki-page-wiki__card-title {
  font-size: var(--text-base-size);
}

.druki-page-wiki__card-content {
  font-size: var(--text-sm);
}

.druki-page-wiki__card-content p:last-child {
  margin-bottom: unset;
}

.druki-page-wiki__faq {
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: var(--color-contrast-medium);
}

.druki-page-wiki__other-items {
  display: grid;
  grid-gap: var(--spacing-sm);
  grid-template-columns: 1fr;

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.druki-page-wiki__other-item-title {
  font-weight: bold;
  margin-bottom: var(--spacing-unit);
}

.druki-page-wiki__other-item-items {
  @include list-unstyled;
}
