.druki-drupal-versions {
  padding: spacing-unit(small);
  border: 2px solid gray(300);

  &__label {
    @include font-size(20px);
    font-weight: bold;
    margin-bottom: spacing-unit(small);
  }

  &__update-label {
    font-weight: bold;
    color: gray(700);
  }

  &__update-date {
    @include font-size(13px);
    color: gray(500);
  }

  &__releases {
    @include font-size(14px);
    display: flex;
    justify-content: center;
    margin-top: spacing-unit(tiny);
  }
}
