.druki-drupal-versions {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: var(--spacing-sm);
  transition: box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
  border: 2px solid transparent;
  border-radius: var(--radius);
  background-color: var(--druki-download-card-background);
  box-shadow: var(--shadow-xs);

  &:hover {
    box-shadow: var(--shadow-md);
    border-color: var(--druki-download-card-hover-border-color);
  }
}

.druki-drupal-versions__label {
  font-size: var(--text-lg);
  font-weight: bold;
  margin-bottom: var(--spacing-sm);
}

.druki-drupal-versions__update-label {
  font-weight: bold;
  color: var(--color-contrast-high);
}

.druki-drupal-versions__update-date {
  font-size: 14px;
  color: var(--color-contrast-medium);
}

.druki-drupal-versions__releases {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-unit);
}
