:root {
  // Color palette.
  --color-black: #121212;
  --color-black--light-4: #1b1b1b;
  --color-black--light-7: #212121;
  --color-black--light-12: #2d2d2d;
  --color-black--light-14: #323232;
  --color-black--light-16: #373737;
  --color-black--light-24: #4a4a4a;
  --color-black--opacity-10: rgba(0, 0, 0, 0.1);
  --color-black--opacity-50: rgba(0, 0, 0, 0.5);
  --color-white: #FFFFFF;
  --color-white--dark-1: #FCFCFC;
  --color-cultured: #F9F9F9;
  --color-platinum: #EBEBED;
  --color-light-gray: #D4D4D8;
  --color-gainsboro: #D8D9E0;
  --color-silver-metallic: #ADAEB3;
  --color-manatee: #8E929C;
  --color-dark-silver: #545560;
  --color-roman-silver: #82828C;
  --color-raisin-black: #222330;
  --color-persian-blue: #003CC5;
  --color-persian-blue--dark-1: #0036B1;
  --color-persian-blue--light-1: #0042DD;
  --color-persian-blue--light-2: #E9EFFF;
  --color-persian-blue--light-3: #F6F8FD;
  --color-light-cornflower-blue: #84A9C0;
  --color-light-cornflower-blue--dark-1: #6BBCEF;
  --color-maximum-red: #D72222;
  --color-maximum-red--dark-1: #C91F1F;
  --color-maximum-red--light-1: #DE2E2E;
  --color-maximum-red--light-2: #FCEFEF;
  --color-tart-orange: #FE4A49;
  --color-orange-yellow-crayola: #FED766;
  --color-capri: #00BBF9;
  --color-jade: #26A769;
  --color-sunglow: #ffd23f;
  --color-jet: #353535;

  // Utility colors.
  --color-border: var(--color-manatee);
  --color-border-secondary: var(--color-platinum);
  --color-disabled: var(--color-platinum);
}

[data-theme="dark"] {
  --color-border: var(--color-black--light-24);
}
