:root {
  // Base colors.
  --color-white: #ffffff;
  --color-white--dark-4: #f4f4f4;
  --color-black: #121212;
  --color-black--light-4: #1b1b1b;
  --color-black--light-7: #212121;
  --color-black--light-12: #2d2d2d;
  --color-black--light-14: #323232;
  --color-black--light-16: #373737;
  --color-black--light-24: #4a4a4a;
  --color-dark-gray: #e5e5e5;
  --color-light-gray: #D8D9E0;
  --color-gray-blue: #8E929C;
  --color-old-silver: #82828C;
  --color-persian-blue: #003DCC;
  --color-persian-blue--light-1: #F6F8FD;
  --color-persian-blue--light-2: #E9F0FF;
  --color-blue--light-1: #0044E2; //remove
  --color-blue--light-24: #7b93c8; // remove
  --color-blue--dark: #0033a2; // remove
  --color-red: #D72222;
  --color-red--light: #ecb8ac;
  --color-teal: #00b67d;
  --color-yellow: #FFD23F;

  --color-jet: #353535;
  --color-jet--tint-12: #F1F1F1;

  // Utility colors.
  --color-border: var(--color-gray-blue);
  --color-disabled: #727780;
}
