:root {
  --icon-theme-light-dark--white: svg-load('theme-light-dark.svg', fill=#FFF);
  --icon-magnify--white: svg-load('magnify.svg', fill=#FFF);
  --icon-drupal--white: svg-load('drupal.svg', fill=#fff);
  --icon-drupal--dark: svg-load('drupal.svg', fill=#333);
  --icon-lightbulb-on-outline: svg-load('lightbulb-on-outline.svg');
  --icon-pencil-outline: svg-load('pencil-outline.svg');
  --icon-alert-rhombus-outline: svg-load('alert-rhombus-outline.svg');
  --icon-alert-decagram-outline: svg-load('alert-decagram-outline.svg');
  --icon-web--white: svg-load('web.svg', fill=#fff);
  --icon-download-outline--white: svg-load('download-outline.svg', fill=#fff);
  --icon-arrow-left: svg-load('arrow-left.svg');
  --icon-arrow-left--manatee: svg-load('arrow-left.svg', fill=#8E929C);
  --icon-arrow-left--persian-blue: svg-load('arrow-left.svg', fill=#003CC5);
  --icon-arrow-left--light-cornflower-blue--dark-1: svg-load('arrow-left.svg', fill=#6BBCEF);
  --icon-magnify: svg-load('magnify.svg');
  --icon-magnify--white: svg-load('magnify.svg', fill=#fff);
  --icon-menu--white: svg-load('menu.svg', fill=#fff);
  --icon-close--white: svg-load('close.svg', fill=#fff);
  --icon-chevron-down: svg-load('chevron-down.svg');
  --icon-chevron-down--white: svg-load('chevron-down.svg', fill=#fff);
}
