.paragraph-druki-image-druki-image {
  margin: 0 calc(var(--grid-container-inner-gap) * -1) var(--p-margin-bottom);
}

.paragraph-druki-image-druki-image__value {
  display: table;
  margin: 0 auto;
}
