.main-navigation__link {
  display: block;
  --link-color: var(--text-color);
  --link-color--hover: var(--text-color);
  padding: var(--spacing-xs) var(--spacing-lg);
  font-weight: 500;
  font-size: var(--font-size-sm);
}

.main-navigation__link:hover,
.main-navigation__link.is-active {
  text-decoration: none;
  background-color: var(--color-cultured);
}
