:root {
  --app-background: white;
}

[data-theme="dark"] {
  --app-background: var(--color-white-05);
}

.app {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.app__middle {
  width: 100%;
  max-width: var(--grid-container-max-width);
  margin: 0 auto;
  background-color: var(--app-background);
  box-shadow: 0 4px 45px rgba(0, 0, 0, 0.05), 0 0 2px rgba(0, 0, 0, 0.1);
}
