.footer {
  font-size: var(--text-sm);
  padding: var(--spacing-md) 0;
  margin: 0 auto;
  max-width: var(--grid-container-max-width);
  color: var(--color-black-40);
  --link-color: var(--color-blue-70);
}

.footer__some-love {
  margin-top: var(--spacing-md);
}

.footer__heart {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  background-image: svg-load('heart-outline.svg', fill=#ff0000);
  background-size: 16px;
}

.footer__drupal {
  font-weight: bold;
  color: #0678be;

  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-image: svg-load('drupal.svg', fill=#0678be);
    background-size: 16px;
    margin-right: var(--spacing-xs);
  }
}

.footer__gitlab {
  font-weight: bold;
  color: #ffa200;

  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: top;
    background-image: svg-load('gitlab.svg', fill=#ffa200);
    background-size: 16px;
    margin-right: var(--spacing-xs);
  }
}
