:root {
  --footer-color: var(--color-black-40);
}

[data-theme="dark"] {
  --footer-color: var(--color-white-40);
}

.footer {
  font-size: var(--text-sm);
  max-width: var(--grid-container-max-width);
  margin: 0 auto;
  padding: var(--grid-container-inner-gap);
  color: var(--footer-color);
  --link-color: var(--color-blue-70);

  @media (--lg) {
    padding: var(--spacing-md) 0;
  }
}

.footer__some-love {
  margin-top: var(--spacing-md);
}

.footer__heart {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: svg-load('heart-outline.svg', fill=#ff0000);
  background-size: 16px;
}

.footer__drupal {
  font-weight: bold;
  color: #0678be;

  &::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: var(--spacing-xs);
    content: '';
    vertical-align: middle;
    background-image: svg-load('drupal.svg', fill=#0678be);
    background-size: 16px;
  }
}

.footer__gitlab {
  font-weight: bold;
  color: #ffa200;

  &::before {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: var(--spacing-xs);
    content: '';
    vertical-align: middle;
    background-image: svg-load('gitlab.svg', fill=#ffa200);
    background-size: 16px;
  }
}
