.main-layout {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-areas: "content";
  grid-template-columns: 1fr;
}

.main-layout--sidebar-right {
  grid-template-areas: "content sidebar";
  grid-template-columns: 1fr 300px;
}
