:root {
  --main-layout-background: var(--color-white);
}

[data-theme="dark"] {
  --main-layout-background: var(--color-white-05);
}


.main-layout {
  width: 100%;
  max-width: var(--grid-container-max-width);
  margin: 0 auto;
  background-color: var(--main-layout-background);
  box-shadow: 0 0 var(--spacing-sm) 0 var(--color-black-10);
}

.main-layout--sidebar-right .main-layout__content {
  display: grid;

  @media (--lg) {
    grid-template-areas: "content sidebar";
    grid-template-columns: 1fr 300px;
  }
}
