:root {
  --navigation-background-color: var(--color-blue-80);
}

[data-theme="dark"] {
  --navigation-background-color: var(--color-white-05);
}

.region--navigation {
  background-color: var(--navigation-background-color);
  padding: 0 var(--grid-container-inner-gap);
}
