:root {
  --navigation-background-color: var(--color-blue-80);
  --navigation-height: 60px;
}

[data-theme="dark"] {
  --navigation-background-color: var(--color-white-05);
}

.region--navigation {
  background-color: var(--navigation-background-color);
  height: var(--navigation-height);
}

.region--navigation .region__content {
  max-width: var(--grid-container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}
