.region--sidebar-right {
  padding: var(--grid-container-inner-gap);
  border-left: 1px solid var(--color-gray-10);
}

.region--sidebar-right .block:not(:last-child) {
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
  border-bottom: 1px solid var(--color-gray-10);
}

.region--sidebar-right .block__title {
  font-weight: bold;
  font-size: var(--text-md);
  margin-bottom: var(--spacing-sm);
}
