.top-line {
  padding: 0 var(--grid-container-inner-gap);
  margin: var(--spacing-sm) 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
}

.top-line__right {
  margin-left: auto;
}

.top-line__button {
  --link-border-hover: var(--button-border);
  height: 32px;
  width: 32px;
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
}

.top-line__button--search {
  background-image: svg-load('file-document-box-search-outline.svg');
}

.top-line__button--theme-switcher {
  background-image: svg-load('theme-light-dark.svg');
}

