{#
/**
 * Theme implementation to display Author entity.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - druki_author: The author entity.
 * - view_mode: The currently rendered view mode.
 * - content: The contents of view mode.
 */
#}
<div{{ attributes.addClass('author') }}>
  {{- content -}}
</div>
