:root {
  --dark-mode-toggle-background: hsl(225, 21%, 93%);
  --dark-mode-toggle-color: var(--color-contrast-high);
}

[data-theme="dark"] {
  --dark-mode-toggle-background: var(--page-background);
}

.dark-mode-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--dark-mode-toggle-color);
  border-radius: var(--radius);
  background-color: var(--dark-mode-toggle-background);
}

.dark-mode-toggle__icon {
  @include mdi-icon('theme-light-dark', $margin-size: 0);
}
