:root {
  --druki-note-background: var(--page-background);
  --druki-note-theme-color: var(--page-background);
}

.paragraph-druki-note {
  padding: var(--spacing-sm);
  border-left: 6px solid var(--druki-note-theme-color);
  border-radius: var(--radius);
  background-color: var(--druki-note-background);
}

.paragraph-druki-note--important {
  --druki-note-theme-color: var(--color-error);
}

.paragraph-druki-note--tip {
  --druki-note-theme-color: hsl(127, 63%, 49%);
}

.paragraph-druki-note--warning {
  --druki-note-theme-color: var(--color-warning);
}

.paragraph-druki-note--note {
  --druki-note-theme-color: hsl(220, 60%, 50%);
}

.paragraph-druki-note__header {
  margin-bottom: var(--spacing-sm);
}

.paragraph-druki-note__content p:last-child {
  margin-bottom: unset;
}

.paragraph-druki-note__note-type {
  font-size: 12px;
  font-weight: bold;
  user-select: none;
  text-transform: uppercase;
  color: var(--druki-note-theme-color);
}

.paragraph-druki-note__icon {
  color: var(--druki-note-theme-color);
}

.paragraph-druki-note--important .paragraph-druki-note__icon {
  @include mdi-icon('alert-octagram-outline');
}

.paragraph-druki-note--tip .paragraph-druki-note__icon {
  @include mdi-icon('lightbulb-on-outline');
}

.paragraph-druki-note--warning .paragraph-druki-note__icon {
  @include mdi-icon('alert-circle-outline');
}

.paragraph-druki-note--note .paragraph-druki-note__icon {
  @include mdi-icon('information-outline');
}
