<div class="frontpage-community">
  <img src="#" class="frontpage-community__image">
  <div class="frontpage-community__overlay"></div>
  <div class="frontpage-community__content">
    <div class="frontpage-community__subtitle">Приходите за программным обеспечением, оставайтесь ради сообщества</div>
    <h2 class="frontpage-community__title">Присоединяйтесь к сообществу</h2>
    <div class="frontpage-community__description">
      <p>Присоединитесь к нашему дружному сообществу. Вы найдете здесь новых коллег, клиентов, исполнителей, партнеров и заведёте друзей.</p>
      <p>У Drupal множество сообществ, от глобальных, до локальных. Ежегодно проводятся сотни мероприятий, от простых посиделок у костра с шашлыком, до крупных DrupalCon мероприятий, куда съезжаются тысячи разработчиков с крутейшими докладами.</p>
      <p>Даже если ваши пути с Drupal в будущем разойдутся, связи и знания, останутся с вами.</p>
    </div>
    <div class="frontpage-community__actions">
      <a href="/wiki/community" class="frontpage-community__action">Drupal сообщество</a>
    </div>
  </div>
</div>
