<div class="frontpage-about">
  <div class="frontpage-about__description">
    <h2 class="frontpage-about__title">Что такое Drupal</h2>
    <p><strong>Drupal</strong> — это лидирующая OpenSource платформа, которая знает, что ваш веб-контент должен охватывать не только веб-сайты.</p>
    <p>Drupal построен таким образом, что вы можете доставлять необходимый контент, нужному человеку, в нужное время - на любом устройстве.</p>
  </div>
</div>
