{#
/**
 * @file
 * Default theme implementation to present front page.
 */
#}
{% include '@loremaster/page/include.frontpage.hero.html.twig' %}
<div class="layout-container">
  {% include '@loremaster/page/include.frontpage.download.html.twig' %}
</div>
