<div class="frontpage-about">
  <div class="frontpage-about__description">
    <div class="frontpage-about__subtitle">Выбирайте</div>
    <h2 class="frontpage-about__title">Drupal</h2>
    <p><a href="/wiki/drupal"><strong>Drupal</strong></a> — это лидирующая OpenSource платформа, которая знает, что ваш веб-контент должен охватывать не только веб-сайты.</p>
    <p>Drupal построен таким образом, что вы можете доставлять необходимый контент, нужному человеку, в нужное время - на любом устройстве.</p>
    <p>Ознакомьтесь с <a href="/wiki/faq">часто задаваемыми вопросами</a>, возможно, вы найдете ответы на свои вопросы.</p>
  </div>
  <div class="frontpage-about__video">
    {{ why_drupal_video }}
  </div>
</div>
