<div class="frontpage-drupal-for">
  <div class="frontpage-drupal-for__item">
    <div class="frontpage-drupal-for__subtitle">Drupal для</div>
    <div class="frontpage-drupal-for__title">юниора</div>
    <div class="frontpage-drupal-for__description">
      Если вы только начинаете своё знакомство с веб-разработкой, Drupal предоставит вам бесценный опыт в различных направлениях и технологиях. Вам всегда будет чему научиться и развить свои профессиональные навыки.
    </div>
  </div>

  <div class="frontpage-drupal-for__item">
    <div class="frontpage-drupal-for__subtitle">Drupal для</div>
    <div class="frontpage-drupal-for__title">сеньора</div>
    <div class="frontpage-drupal-for__description">
      Для опытного разработчика — Drupal откроет новые горизонты, инструменты, подходы и реализации. Drupal — это строгие стандарты кода, десятки тысяч тестов, невероятная гибкость и масштабируемость под любые нужды.
    </div>
  </div>

  <div class="frontpage-drupal-for__item">
    <div class="frontpage-drupal-for__subtitle">Drupal для</div>
    <div class="frontpage-drupal-for__title">тебя</div>
    <div class="frontpage-drupal-for__description">
      У всех нас разные потребности — Drupal позволяет создать уникальное пространство в мире шаблонных решений.
    </div>
  </div>
</div>
