{# Main lauout classes. #}
{% set main_layout_attributes = create_attribute() %}
{% set main_layout_block = 'main-layout' %}
{%
  set main_layout_modifiers = [
    page.sidebar_right ? 'sidebar-right',
    not page.sidebar_right ? 'no-sidebars',
    page.sidebar_right ? 'one-sidebar',
  ]
%}
{%
  set main_layout_classes = [
   'layout-container',
    bem(main_layout_block, null, main_layout_modifiers),
  ]
%}
{% set footer %}
  {% include '@loremaster/includes/footer.twig' %}
{% endset %}

<div class="layout-container page">
  <div class="page__sidebar">
    <div class="page__sidebar-blocks">
      {{ drupal_block('system_branding_block') }}
      <div class="page__sidebar-separator"></div>
      {{ drupal_block('system_menu_block:main') }}
    </div>
    <div class="page__sidebar-shadow"></div>
  </div>

  <div class="page__content">
    {{ page.header }}
  </div>
</div>
