<div class="app">
  <div class="app__header">
    {{ page.navigation }}
  </div>

  <div class="app__middle">
    {{ page.header }}

    <main{{ main_layout_attributes.addClass(bem_block ~ '__content') }}>
      {% include '@loremaster/page/include.frontpage.html.twig' %}
    </main>
  </div>

  <div class="app__footer">
    {% include '@loremaster/page/include.footer.html.twig' %}
  </div>
</div>
