.drupal-versions {

}

.drupal-versions__version {
  margin-bottom: var(--spacing-md);
}

.drupal-versions__label {
  font-weight: bold;
}

.drupal-versions__info a {
  font-weight: bold;
}

.drupal-versions__all {
  width: 100%;
}
