:root {
  --druki-search-result-url-color: var(--color-jade);
}

.druki-search-result__link {
  display: block;
}

.druki-search-result__title {
  font-size: var(--font-size-h6);
  color: var(--link-color);
}

.druki-search-result__link:hover .druki-search-result__title {
  text-decoration: underline;
}

.druki-search-result__url {
  font-size: var(--font-size-sm);
  color: var(--druki-search-result-url-color);
  margin-top: var(--spacing-xxs);
}

.druki-search-result__supporting-text {
  font-size: var(--font-size-sm);
  margin-top: var(--spacing-sm);
}
