.druki-page-wiki__row {
  margin-bottom: var(--spacing-xl);
}

.druki-page-wiki__row-title {
  margin-bottom: var(--spacing-lg);
}

.druki-page-wiki__cards {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 1fr;

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.druki-page-wiki__faq {
  margin-top: var(--spacing-md);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-old-silver);
}

.druki-page-wiki .official-user-guide {
  margin: var(--spacing-xl) 0;
}

.druki-page-wiki__other-items {
  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: 1fr;

  @media (--sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (--xl) {
    grid-template-columns: repeat(4, 1fr);
  }
}
