.druki-search-page {

}

.druki-search-page__result:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.druki-search-page__form {
  margin-bottom: var(--spacing-md);
}

.druki-search-page__pager {
  margin-top: var(--spacing-md);
}

.druki-search-page__supporting-text {
  text-align: center;
  margin: var(--spacing-xl) 0;
  font-size: var(--font-size-sm);
}
