.official-user-guide {
  background-color: var(--frontpage-download-background-color);
  border-radius: var(--radius-md);
  display: grid;
  grid-gap: var(--spacing-xl);
  grid-template-columns: 1fr;
  padding: var(--spacing-lg);

  @media (--sm) {
    grid-template-columns: 160px 1fr;

  }

  @media (--md) {
    grid-template-columns: 288px 1fr;
  }

  @media (--lg) {
    padding: var(--spacing-xl);
    grid-template-columns: 374px 1fr;
  }

  @media (--xl) {
    grid-template-columns: 500px 1fr;
  }
}

.official-user-guide__link {
  display: flex;
  align-items: center;
}

.official-user-guide__link:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.official-user-guide__link-icon {
  flex-shrink: 0;
  margin-right: var(--spacing-sm);
  width: 60px;
  height: 60px;
  background-color: var(--color-persian-blue);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
  border-radius: 50%;
  box-shadow: var(--shadow-xs);
}

.official-user-guide__link-icon--read {
  background-image: var(--icon-web--white);
}

.official-user-guide__link-icon--download {
  background-image: var(--icon-download-outline--white);
}

.official-user-guide__link-title {
  color: var(--text-color);
  font-size: var(--text-lg);
  font-weight: bold;
  text-decoration: underline;
}

.official-user-guide__link-description {
  font-size: var(--text-xs);
  color: var(--color-gray-70);
}
