.breadcrumb {
  font-size: var(--font-size-sm);
  display: -webkit-box;
  display: flex; }

.breadcrumb__path {
  display: block;
  overflow: hidden;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 1;
  white-space: nowrap;
  text-overflow: ellipsis; }
  @media (min-width: 576px) {
    .breadcrumb__path {
      display: inline; } }

.breadcrumb__item-link {
  --link-color: var(--color-border); }

.breadcrumb__item-link--current {
  --link-color: var(--color-blue); }

.breadcrumb__item-link--text {
  color: var(--text-color); }

.breadcrumb__current {
  display: block;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 0; }
  @media (min-width: 576px) {
    .breadcrumb__current {
      display: inline; } }

.breadcrumb__current::before {
  margin: 0 var(--spacing-xs);
  content: '/';
  color: var(--color-border); }

.breadcrumb--single-item .breadcrumb__current::before {
  display: none; }

.breadcrumb__delimiter::after {
  margin: 0 var(--spacing-xs);
  content: '/';
  color: var(--color-border); }

.breadcrumb__delimiter:last-child {
  display: none; }

/**
 * Button styles.
 */
:root {
  --button-background-color: #D4D4D8;
  --button-background-color--active: #ADAEB3;
  --button-background-color--disabled: #EBEBED;
  --button-background-color--focus: #D8D9E0;
  --button-background-color--hover: #CACBD5;
  --button-border--color: transparent;
  --button-border--color-disabled: var(--button-border--color);
  --button-border--style: solid;
  --button-border--width: 0;
  --button-border-radius: var(--radius-xxs);
  --button-color: var(--text-color);
  --button-color--disabled: var(--color-gray-blue);
  --button-color--hover: var(--text-color);
  --button-font-size: var(--font-size-base);
  --button-font-weight: 700;
  --button-line-height: var(--form-control-line-height, 1.5);
  --button-padding--x: var(--spacing-lg);
  --button-padding--y: var(--spacing-sm);
  --button-box-shadow: var(--shadow-xs); }

.button {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  position: relative;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: var(--button-padding);
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: var(--button-color);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  box-shadow: var(--button-box-shadow);
  --button-border: var(--button-border--width) var(--button-border--style) var(--button-border--color);
  --button-padding: var(--button-padding--y) var(--button-padding--x); }

.button:active {
  --button-background-color: var(--button-background-color--active); }

.button:hover {
  --button-background-color: var(--button-background-color--hover);
  --button-color: var(--button-color--hover); }

.button:focus {
  --button-background-color: var(--button-background-color--focus);
  --button-box-shadow: var(--focus-box-shadow); }

.button:disabled {
  cursor: not-allowed;
  --button-background-color: var(--button-background-color--disabled);
  --button-border--color: var(--button-border--color-disabled);
  --button-color: var(--button-color--disabled);
  --button-box-shadow: none; }

/**
 * Button size variations.
 */
.button--small {
  --button-font-size: var(--font-size-sm);
  --button-padding--x: var(--spacing-sm);
  --button-padding--y: var(--spacing-xs); }

.button--extra-small {
  --button-font-size: var(--font-size-sm);
  --button-padding--x: var(--spacing-xs);
  --button-padding--y: var(--spacing-xxs); }

/**
 * Button coloration variations.
 */
.button--primary {
  --button-background-color: var(--color-blue);
  --button-background-color--active: var(--color-blue--active);
  --button-background-color--disabled: #D4D4D8;
  --button-background-color--focus: var(--color-blue);
  --button-background-color--hover: var(--color-blue--hover);
  --button-color: var(--color-white);
  --button-color--disabled: var(--color-old-silver);
  --button-color--hover: var(--color-white); }

.button--secondary {
  --button-background-color: transparent;
  --button-background-color--active: #E6ECF8;
  --button-background-color--disabled: transparent;
  --button-background-color--focus: transparent;
  --button-background-color--hover: #F0F5FD;
  --button-border--color: var(--color-blue);
  --button-border--color-disabled: #D4D4D8;
  --button-border--width: 2px;
  --button-color: var(--color-blue);
  --button-color--disabled: var(--color-old-silver);
  --button-color--hover: var(--color-blue);
  --button-padding: calc(var(--button-padding--y) - var(--button-border--width)) calc(var(--button-padding--x) - var(--button-border--width)); }

.button--danger {
  --button-background-color: var(--color-red);
  --button-background-color--active: var(--color-red--active);
  --button-background-color--disabled: #D4D4D8;
  --button-background-color--focus: var(--color-red);
  --button-background-color--hover: #c61c1c;
  --button-color: var(--color-white);
  --button-color--disabled: var(--color-old-silver);
  --button-color--hover: var(--color-white); }

.button--danger-secondary {
  --button-background-color: transparent;
  --button-background-color--active: var(--color-red--active);
  --button-background-color--disabled: transparent;
  --button-background-color--focus: transparent;
  --button-background-color--hover: var(--color-red--hover);
  --button-border--color: var(--color-red);
  --button-border--color-disabled: #D4D4D8;
  --button-border--width: 2px;
  --button-color: var(--color-red);
  --button-color--disabled: var(--color-old-silver);
  --button-color--hover: var(--color-red);
  --button-padding: calc(var(--button-padding--y) - var(--button-border--width)) calc(var(--button-padding--x) - var(--button-border--width)); }

.comments__content .indented {
  padding-left: var(--spacing-md); }

/**
 * The file contains styles for form boolean elements: radio, checkbox.
 */
:root {
  --form-boolean-width: 18px;
  --form-boolean-height: 18px;
  --form-boolean-border--width: 1px;
  --form-boolean-border--style: solid;
  --form-boolean-border--color: var(--color-gray-blue);
  --form-boolean-box-shadow: unset;
  --form-boolean-background-image: none;
  --form-boolean-border--color-active: #222330;
  --form-boolean-border--color-hover: #222330;
  --form-boolean-background-color: var(--color-white);
  --form-boolean-border-radius: 2px; }

.form-boolean {
  display: inline-block;
  width: var(--form-boolean-width);
  height: var(--form-boolean-height);
  margin: 0;
  vertical-align: text-bottom;
  border: var(--form-boolean-border);
  border-radius: var(--form-boolean-border-radius);
  background-color: var(--form-boolean-background-color);
  background-image: var(--form-boolean-background-image);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  box-shadow: var(--form-boolean-box-shadow);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  --form-boolean-border: var(--form-boolean-border--width) var(--form-boolean-border--style) var(--form-boolean-border--color); }

.form-boolean:active {
  --form-boolean-border--color: var(--form-boolean-border--color-active);
  --form-boolean-box-shadow: inset 0 0 0 1px #222330; }

.form-boolean:hover {
  --form-boolean-border--color: var(--form-boolean-border--color-hover);
  --form-boolean-box-shadow: inset 0 0 0 1px #222330; }

.form-boolean:focus {
  --form-boolean: inset 0 0 0 1px var(--form-control-border--color), var(--focus-box-shadow); }

.form-boolean:disabled {
  cursor: not-allowed;
  --form-boolean-border--color: #bababf;
  --form-boolean-background-color: #f2f2f3;
  --form-boolean-box-shadow: none; }

/**
 * Form boolean variations.
 */
.form-boolean--type-radio {
  --form-boolean-border-radius: 19px;
  --form-boolean-width: 19px;
  --form-boolean-height: 19px; }

.form-boolean--type-radio:checked {
  --form-boolean-border--color: var(--color-blue);
  --form-boolean-background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4.5' cx='8.5' cy='8.5' fill='%23003cc5'/%3E%3C/svg%3E");
  --form-boolean-box-shadow: inset 0 0 0 1px var(--color-blue); }

.form-boolean--type-radio:checked:disabled {
  --form-boolean-border--color: #bababf;
  --form-boolean-background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle r='4.5' cx='8.5' cy='8.5' fill='%23bababf'/%3E%3C/svg%3E");
  --form-boolean-box-shadow: inset 0 0 0 1px #bababf; }

.form-boolean--type-checkbox:checked {
  --form-boolean-border--color: var(--color-blue);
  --form-boolean-background-color: var(--color-blue);
  --form-boolean-background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7949219,7.095703 6.1816406,9.601563 12.205078,3.2753906 13.689453,4.8359375 6.1816406,12.724609 2.3105469,8.65625 Z' fill='white'/%3E%3C/svg%3E"); }

.form-boolean--type-checkbox:checked:disabled {
  --form-boolean-border--color: #bababf;
  --form-boolean-background-color: #f2f2f3;
  --form-boolean-box-shadow: none;
  --form-boolean-background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.7949219,7.095703 6.1816406,9.601563 12.205078,3.2753906 13.689453,4.8359375 6.1816406,12.724609 2.3105469,8.65625 Z' fill='%23bababf'/%3E%3C/svg%3E"); }

.form-boolean-group .form-item {
  margin: var(--spacing-xxs) 0; }

.form-boolean-group .form-boolean {
  margin-right: var(--spacing-xxs); }

/**
 * Form element styles.
 */
:root {
  --form-control-background: var(--color-white);
  --form-control-background--disabled: #EBEBED;
  --form-control-color: var(--text-color);
  --form-control-font-size: var(--font-size-base);
  --form-control-line-height: var(--line-height);
  --form-control-padding--y: var(--spacing-sm);
  --form-control-padding--x: var(--spacing-lg);
  --form-control-border-radius: var(--radius-xxs);
  --form-control-border--color: var(--color-gray-blue);
  --form-control-border--width: 1px;
  --form-control-border--style: solid;
  --form-control-box-shadow: unset; }

.form-element {
  font-size: var(--form-control-font-size);
  line-height: var(--form-control-line-height);
  display: inline-block;
  max-width: 100%;
  padding: var(--form-control-padding);
  color: var(--form-control-color);
  border: var(--form-control-border);
  border-radius: var(--form-control-border-radius);
  background-color: var(--form-control-background);
  --form-control-padding: calc(var(--form-control-padding--y) - var(--form-control-border--width)) calc(var(--form-control-padding--x) - var(--form-control-border--width));
  --form-control-border: var(--form-control-border--width) var(--form-control-border--style) var(--form-control-border--color);
  box-shadow: var(--form-control-box-shadow);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.form-element:active {
  --form-control-border--color: #222330; }

.form-element:hover {
  --form-control-border--color: #222330;
  --form-control-box-shadow: inset 0 0 0 1px var(--form-control-border--color); }

.form-element:focus {
  --form-control-box-shadow: inset 0 0 0 1px var(--form-control-border--color), var(--focus-box-shadow); }

.form-element:disabled {
  --form-control-background: var(--form-control-background--disabled);
  --form-control-border--color: #D4D4D8;
  --form-control-box-shadow: unset;
  cursor: not-allowed; }

/**
 * Form element variations.
 */
.form-element--type-select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23545560'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 2.75rem 0.5625rem;
  padding-right: calc(var(--form-control-padding--x) - var(--form-control-border--width) + var(--form-control-padding--x)); }

:root {
  --form-item-margin--y: var(--spacing-lg);
  --form-item-margin--x: 0;
  --form-item-label-margin--y: var(--spacing-xxs);
  --form-item-label-font-size: var(--font-size-sm);
  --form-item-label-line-height: 1.125rem;
  --form-item-description-color: #545560;
  --form-item-description-font-size: var(--font-size-xs);
  --form-item-description-margin--y: var(--spacing-xxs); }

.form-item {
  margin: var(--form-item-margin);
  --form-item-margin: var(--form-item-margin--y) var(--form-item-margin--x); }

.form-item__label {
  font-size: var(--form-item-label-font-size);
  font-weight: bold;
  line-height: var(--form-item-label-line-height);
  display: table;
  margin: var(--form-item-label-margin--y) 0; }

.form-item__label[for] {
  cursor: pointer; }

.form-item__label--required::after {
  display: inline-block;
  content: '*';
  color: #ee0000;
  font-weight: bold;
  margin-left: var(--spacing-xxs); }

.form-item__label--inline {
  display: inline;
  font-weight: normal; }

.form-item__description {
  color: var(--form-item-description-color);
  font-size: var(--form-item-description-font-size);
  margin: var(--form-item-description-margin--y) 0; }

.form-textarea-wrapper {
  display: block; }

.links--inline {
  display: -webkit-box;
  display: flex;
  margin: unset;
  padding: unset;
  list-style: none; }

.links--inline .links__item:not(:last-child) {
  margin-right: var(--spacing-xs); }

.local-actions {
  display: -webkit-box;
  display: flex;
  margin: 0 0 var(--spacing-sm);
  padding: 0;
  list-style: none; }

.local-actions__item:not(:last-child) {
  margin-right: var(--spacing-xs); }

.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

:root {
  --message-background-color: #222330;
  --message-color: var(--color-white);
  --message-border--color: var(--color-light-gray);
  --message-border-radius: var(--radius-xxs);
  --message-header-background: unset; }

.messages {
  position: relative;
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing-md);
  border-radius: var(--message-border-radius);
  background: var(--message-background-color);
  color: var(--message-color);
  border-left: 5px solid var(--message-border--color); }

.messages__header {
  background: var(--message-header-background); }

.messages__title {
  margin-left: var(--spacing-lg);
  font-size: var(--font-size-base); }

.messages__content {
  margin-left: var(--spacing-lg); }

.messages--error {
  --message-border--color: #e34f4f;
  --message-header-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 14 14'%3E%3Cpath d='M3 11.1931L11.4501 2.99995' stroke='%23e34f4f' stroke-width='2'/%3E%3Ccircle cx='7' cy='7' r='6' fill='none' stroke='%23e34f4f' stroke-width='2'/%3E%3C/svg%3E%0A") no-repeat center left; }

.messages--status {
  --message-border--color: #42a877;
  --message-header-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 13'%3E%3Cpath d='M2 6.57143L5.6 10L14 2' fill='none' stroke='%2342a877' stroke-width='3'/%3E%3C/svg%3E%0A") no-repeat center left; }

.messages--warning {
  --message-border--color: #e0ac00;
  --message-header-background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 4 14' fill='%23e0ac00'%3E%3Crect x='0.5' width='3' height='9'/%3E%3Ccircle cx='2' cy='12.5' r='1.5'/%3E%3C/svg%3E%0A") no-repeat center left; }

.page-title {
  margin: unset; }

/**
 * Style for pager element.
 */
.pager {
  margin: var(--spacing-md) 0; }

.pager__items {
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  padding: unset;
  list-style: none; }

.pager__item {
  display: inline-block;
  margin: 0 var(--spacing-xxs);
  vertical-align: top; }

.pager__item-title--backwards {
  margin-left: var(--spacing-xs); }

.pager__item-title--forward {
  margin-right: var(--spacing-xs); }

.pager__link {
  line-height: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-width: 2rem;
  height: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  color: #545560;
  border-radius: var(--radius-lg);
  background: var(--color-white); }

.pager__link:hover {
  color: #545560;
  background: #E6ECF8; }

.pager__link--is-active {
  color: var(--color-white);
  background: var(--color-blue); }

.pager__link--action-link {
  border-radius: var(--radius-xxs); }

.pager__item--first .pager__link::before,
.pager__item--previous .pager__link::before,
.pager__item--next .pager__link::after,
.pager__item--last .pager__link::after {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  content: '';
  background-repeat: no-repeat;
  background-position: center; }

.pager__item--first .pager__link::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2V14' stroke='%23545560' stroke-width='2'/%3E%3Cpath d='M14 2L8 8L14 14' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A"); }

.pager__item--previous .pager__link::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 2L5 8L11 14' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A"); }

.pager__item--next .pager__link::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 14L11 8L5 2' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A"); }

.pager__item--last .pager__link::after {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 14L14 2.00001' stroke='%23545560' stroke-width='2'/%3E%3Cpath d='M2 14L8 8.00001L2 2.00001' stroke='%23545560' stroke-width='2'/%3E%3C/svg%3E%0A"); }

.pager__item--ellipsis {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.pager__item:not(.pager__item--previous):not(.pager__item--next) {
  display: none; }
  @media (min-width: 768px) {
    .pager__item:not(.pager__item--previous):not(.pager__item--next) {
      display: -webkit-box;
      display: flex; } }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: var(--spacing-sm);
  border-collapse: collapse; }

.table th,
.table td {
  padding: var(--spacing-xs);
  text-align: inherit;
  border-top: 1px solid var(--color-border); }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--color-border); }

.table-responsive {
  width: 100%;
  overflow-x: auto; }

.tabs {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  flex-flow: wrap;
  margin: unset;
  padding: unset;
  list-style: none;
  position: relative; }

.tabs__link {
  line-height: 1.2rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-flex: 1;
          flex-grow: 1;
  min-height: 3rem;
  padding: var(--spacing-sm) var(--spacing-lg);
  text-decoration: none;
  color: #545560;
  border-radius: var(--radius-xxs) var(--radius-xxs) 0 0;
  font-weight: bold; }

.tabs__link:hover {
  background-color: #E6ECF8; }

.tabs__link--active {
  color: var(--color-blue);
  position: relative;
  z-index: 1; }

.tabs__link--active::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  content: '';
  border-bottom: 3px solid var(--color-blue); }

ul.tabs--secondary {
  margin-bottom: var(--spacing-md); }

.tabs--secondary::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  border-bottom: 1px solid #d4d4d8; }

.vertical-tabs {
  display: -webkit-box;
  display: flex; }

.vertical-tabs__menu {
  align-self: flex-start;
  border: 1px solid var(--color-border); }

.vertical-tabs__menu-item {
  border: none; }

.vertical-tabs__menu-item a {
  padding: var(--spacing-sm);
  color: var(--text-color); }

.vertical-tabs__panes {
  width: 100%;
  padding: var(--spacing-sm); }

.app {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh; }

.main-layout {
  display: grid;
  width: 100%;
  max-width: var(--grid-container-max-width);
  margin: var(--spacing-md) auto;
  grid-gap: var(--grid-gap); }

.region-footer__container {
  display: grid;
  max-width: 1200px;
  margin: 0 auto; }

:root {
  --region-header-height: 50px; }

.region--header {
  background-color: #222330; }

.region--header :focus {
  --focus-box-shadow: 0 0 0 2px #222330, 0 0 0 5px var(--color-green); }

.region--header .region__container {
  display: grid;
  -webkit-box-align: center;
          align-items: center;
  grid-gap: var(--grid-gap);
  grid-template-columns: 26px 1fr 300px 100px;
  height: var(--region-header-height); }

.branding__logo {
  display: block; }

.main-navigation {
  display: -webkit-box;
  display: flex;
  --link-color: var(--color-white);
  --link-color--hover: var(--color-white);
  font-size: var(--font-size-sm); }

.main-navigation__link {
  font-weight: bold;
  line-height: var(--region-header-height);
  position: relative;
  display: block;
  height: var(--region-header-height);
  padding: 0 var(--spacing-sm); }

.main-navigation__link::before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0.25rem;
  content: '';
  background-color: transparent; }

.main-navigation__link:hover {
  background-color: rgba(255, 255, 255, 0.1); }

.main-navigation__link:hover::before,
.main-navigation__link.is-active::before {
  background-color: var(--color-green); }

.druki-header-search__input {
  padding: var(--spacing-xxs) var(--spacing-xs); }

/*# sourceMappingURL=maps/components.css.map */
