:root {
  --blockquote-font-size: var(--text-lg);
  --blockquote-border-size: 4px;
  --blockquote-paddings: var(--spacing-unit);
  --blockquote-margins: var(--spacing-sm) 0;
  --blockquote-background: transparent;
  --blockquote-border-color: gray(400); }

blockquote {
  font-size: var(--blockquote-font-size);
  padding: var(--blockquote-paddings);
  margin: var(--blockquote-margins);
  border-left: var(--blockquote-border-size) solid var(--blockquote-border-color);
  background: var(--blockquote-background); }

fieldset {
  min-width: 0;
  padding: unset;
  margin: unset;
  border: unset; }

legend {
  display: block;
  width: 100%;
  padding: unset;
  margin-bottom: var(--spacing-sm); }

:focus {
  outline: none; }

* {
  box-sizing: border-box;
  min-width: 0; }

:root {
  --heading-line-height: 1.2; }

h1 {
  font-size: var(--text-xxl);
  font-weight: 500; }

h2 {
  font-size: var(--text-xl);
  font-weight: 600; }

h3 {
  font-size: var(--text-lg);
  font-weight: 600; }

h4 {
  font-size: var(--text-md);
  font-weight: 600; }

h5 {
  font-size: var(--text-sm);
  font-weight: 700; }

h6 {
  font-size: var(--text-xs);
  font-weight: 700; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  line-height: var(--heading-line-height);
  margin: unset;
  margin-bottom: var(--spacing-sm);
  color: hsl(var(--color-primary-h), var(--color-primary-s), 12%); }

hr {
  margin: var(--spacing-lg) 0;
  border: unset;
  border-top: 1px solid var(--color-contrast-low); }

img {
  max-width: 100%;
  height: auto;
  font-style: italic;
  vertical-align: middle; }

:root {
  --link-color: var(--color-primary);
  --link-color-hover: var(--color-primary);
  --link-border: none;
  --link-border-hover: none; }

a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: var(--link-border); }
  a:hover {
    color: var(--link-color-hover);
    text-decoration: none;
    border-bottom: var(--link-border-hover); }

:root {
  --list-margin: 0 0 1rem 0;
  --list-padding: 0 0 0 2rem; }

ol,
ul {
  margin: var(--list-margin);
  padding: var(--list-padding); }

:root {
  --page-background: hsl(var(--color-primary-h), var(--color-primary-s), 99%); }

body {
  background: var(--page-background); }

:root {
  --selection-background: var(--color-primary);
  --selection-color: var(--color-white); }

::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-color); }

::selection {
  background: var(--selection-background);
  color: var(--selection-color); }

:root {
  --text-base-size: 16px;
  --text-xs: 13px;
  --text-sm: 14px;
  --text-md: 18px;
  --text-lg: 24px;
  --text-xl: 28px;
  --text-xxl: 32px;
  --text-color: hsl(var(--color-primary-h), var(--color-primary-s), 2%);
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
  --font-monospace: 'Fira Code', monospace;
  --font-family: var(--font-primary);
  --body-line-height: 1.5;
  --mark-background: hsl(60, 100%, 50%);
  --code-background: var(--color-primary-50); }

body {
  font-family: var(--font-family);
  font-size: var(--text-base-size);
  line-height: var(--body-line-height);
  color: var(--text-color); }

p {
  margin-top: unset;
  margin-bottom: var(--spacing-sm); }

small {
  font-size: 80%;
  font-weight: normal; }

big {
  font-size: 120%;
  font-weight: normal; }

mark {
  padding: var(--spacing-xs);
  background-color: var(--mark-background); }

code {
  font-family: var(--font-monospace);
  font-size: 90%;
  padding: 4px 6px;
  word-break: break-all;
  border-radius: 4px;
  background-color: var(--code-background); }

pre code {
  padding: unset; }

/*# sourceMappingURL=maps/elements.css.map */
