/**
 * @file
 * The modern CSS reset.
 * @see https://github.com/hankchizljaw/modern-css-reset
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-light-gray: #D8D9E0;
  --color-gray-blue: #8E929C;
  --color-old-silver: #82828C;
  --color-blue: #003CC5;
  --color-blue--hover: #0036B1;
  --color-blue--active: #00339A;
  --color-blue--focus: #B3C9F5;
  --color-red: #D72222;
  --color-red--hover: #FDF5F5;
  --color-red--active: #FCEDED;
  --color-green: #26A769;
  --color-yellow: #FFD23F;
  --color-border: var(--color-gray-blue);
  --color-disabled: #727780; }

:root {
  --grid-gap: var(--spacing-md);
  --grid-container-max-width: 100%;
  --grid-template-columns-12: repeat(12, [col] 1fr); }
  @media (min-width: 992px) {
    :root {
      --grid-container-max-width: 940px; } }
  @media (min-width: 1200px) {
    :root {
      --grid-container-max-width: 1280px; } }

:root {
  --layout-container-side-gap: var(--spacing-lg); }

.layout-container {
  width: 100%;
  max-width: var(--grid-container-max-width);
  margin: 0 auto; }
:root {
  --radius-xxs: 0.125rem;
  /* 0.125 * 16px = 2px */
  --radius-xs: 0.25rem;
  /* 0.25 * 16px = 4px */
  --radius-sm: 0.5rem;
  /* 0.5 * 16px = 8px */
  --radius-md: 0.75rem;
  /* 0.75 * 16px = 12px */
  --radius-lg: 1rem;
  /* 1 * 16px = 16px */ }

:root {
  --shadow-xs: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0px 4px 10px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 14px 30px rgba(0, 0, 0, 0.1); }

:root {
  --spacing-xxs: 0.25rem;
  /* 0.25 * 16px = 4px */
  --spacing-xs: 0.5rem;
  /* 0.5 * 16px = 8px */
  --spacing-sm: 0.75rem;
  /* 0.75 * 16px = 12px */
  --spacing-md: 1rem;
  /* 1 * 16px = 16px */
  --spacing-lg: 1.5rem;
  /* 1.5 * 16px = 24px */
  --spacing-xl: 3rem;
  /* 3 * 16px = 48px */ }

/*# sourceMappingURL=maps/generic.css.map */
