.block-druki-content-toc {
  position: sticky;
  top: spacing-unit(2);
  margin-bottom: spacing-unit(4);

  &__title {
    @include mdi-icon('table-of-contents', $margin-size: 0);
    font-weight: bold;
    position: relative;
    margin-bottom: spacing-unit();
    padding-bottom: spacing-unit();
    padding-left: calc(21px + #{spacing-unit()});
    text-transform: uppercase;
    border-bottom: 1px solid gray(200);

    &::before {
      @include font-size(20px, 19px);
      position: absolute;
      top: 3px;
      left: 0;
      text-align: center;
    }
  }
}