.block-druki-category-navigation {
  margin-bottom: gap(4);

  &__title {
    @include mdi-icon('folder-edit-outline', $margin-size: 0);
    font-weight: bold;
    position: relative;
    margin-bottom: gap();
    padding-bottom: gap();
    padding-left: calc(21px + #{gap()});
    text-transform: uppercase;
    border-bottom: 1px solid gray(200);

    &::before {
      @include font-size(20px, 19px);
      position: absolute;
      top: 3px;
      left: 0;
      text-align: center;
    }
  }
}
