// =============================================================================
// Headings.
// =============================================================================

$font-size-h1: 32px !default;
$font-size-h2: 29px !default;
$font-size-h3: 26px !default;
$font-size-h4: 23px !default;
$font-size-h5: 21px !default;
$font-size-h6: 18px !default;

$headings-margin-bottom: 0.5rem !default;

h1 {
  @include font-size($font-size-h1);
}

h2 {
  @include font-size($font-size-h2);
}

h3 {
  @include font-size($font-size-h3);
}

h4 {
  @include font-size($font-size-h4);
}

h5 {
  @include font-size($font-size-h5);
}

h6 {
  @include font-size($font-size-h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: unset;
  margin-bottom: $headings-margin-bottom;
  font-weight: 500;
}
