// =============================================================================
// Horizontal rules.
// =============================================================================

$hr-border-color: gray(500) !default;
$hr-margin-top: spacing-unit(2) !default;
$hr-margin-bottom: spacing-unit(2) !default;

hr {
  margin-top: $hr-margin-top;
  margin-bottom: $hr-margin-bottom;
  border: 0;
  border-top: 1px solid $hr-border-color;
}
