// =============================================================================
// Lists.
// =============================================================================

$list-margins: 1rem 0 1rem 1rem !default;
$list-paddings: 0 !default;

ol, ul {
  margin: $list-margins;
  padding: $list-paddings;

  li {
    margin: 0.5em 0;
  }
}
