// =============================================================================
// Typography.
// =============================================================================

$paragraph-margins: 0 0 spacing-unit(3) !default;

$mark-bg: #fff9c4 !default;
$mark-padding: .2em !default;
$mark-color: inherit !default;

p {
  margin: $paragraph-margins;

  &:last-child {
    margin-bottom: 0;
  }
}

small {
  @include font-size($global-font-size * 0.80);
  font-weight: normal;
}

big {
  @include font-size($global-font-size * 1.20);
  font-weight: normal;
}

mark {
  padding: $mark-padding;
  color: $mark-color;
  background-color: $mark-bg;
}

code {
  font-family: $font-family-monospace;
  font-size: 90%;
  padding: 2px 4px;
  border-radius: $border-radius-base;
  background-color: #F1F5F8;
  word-break: break-all;
}

pre code {
  // Fixes unwanted paddings for first and last line of code.
  padding: unset;
}

@include media-breakpoint-down(md) {
  // Offset for anchors.
  :target::before {
    content: "";
    display: block;
    height: 80px;
    margin: -80px 0 0;
    width: 0;
  }
}
