{#
/**
 * Theme implementation to display content aside element.
 *
 * Available variables:
 * - attributes: The main wrapper element attributes.
 * - aside_type: The type of the note. The value can be: note, warning, tip and
 *   important.
 * - aside_header: (optional) An aside header.
 * - content: The aside contents.
 */
#}
{{ attach_library('loremaster/component.druki-content.element.aside') }}
{%
  set classes = [
    'note',
    'note--' ~ aside_type,
  ]
%}
<aside role="note"{{ attributes.addClass(classes) }}>
  {% if aside_header %}
    <div class="note__header">{{ aside_header }}</div>
  {% endif %}

  {{ content }}
</aside>
