// =============================================================================
// Links.
// =============================================================================

:root {
  --link-color: var(--color-primary);
  --link-color-hover: var(--color-primary-strong);
  --link-color-visited: rgb(86, 142, 255);
}

[data-theme="dark"] {
  --link-color: var(--color-accent);
  --link-color-hover: var(--color-accent-strong);
  --link-color-visited: rgb(251, 232, 135);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
  text-decoration: none;
}
