// =============================================================================
// Links.
// =============================================================================

:root {
  --link-color: var(--color-primary);
  --link-color-hover: var(--color-primary);
  --link-border: none;
  --link-border-hover: none;
}

a {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: var(--link-border);

  &:hover {
    color: var(--link-color-hover);
    text-decoration: none;
    border-bottom: var(--link-border-hover);
  }
}
