// =============================================================================
// Page.
// =============================================================================

:root {
  --page-background: var(--color-black-01);
}

[data-theme="dark"] {
  --page-background: #121212;
}

body {
  background: var(--page-background);
}
