// =============================================================================
// Selection.
// =============================================================================

:root {
  --selection-background: var(--color-primary);
  --selection-color: var(--color-white);
}

::selection {
  background: var(--selection-background);
  color: var(--selection-color);
}
