{#
/**
 * @file
 * Default theme implementation to present front page.
 */
#}
<div class="frontpage">
  {% include '@loremaster/includes/frontpage-hero.twig' %}
  {% include '@loremaster/includes/frontpage-download.twig' %}
</div>
