{#
/**
 * @file
 * Default theme implementation to present front page.
 */
#}
{{ attach_library('loremaster/component.theme.frontpage') }}
<div class="frontpage">
  <div class="frontpage__section">{% include '@loremaster/includes/frontpage-hero.twig' %}</div>
  <div class="frontpage__section">{% include '@loremaster/includes/frontpage-download.twig' %}</div>
</div>
