.druki-mobile-toc {
  @include breakpoint(xxl) {
    display: none;
  }
}

.druki-mobile-toc__header {
  display: flex;
}

.druki-mobile-toc__toggle {
  @include mdi-icon('chevron-down');
  font-weight: bold;
  margin-bottom: -2px;
  padding: var(--spacing-unit) var(--spacing-sm);
  cursor: pointer;
  user-select: none;
  border: 2px solid var(--color-contrast-low);
  background-color: var(--page-background);
}

.druki-mobile-toc__content {
  padding: var(--spacing-unit) var(--spacing-sm);
  border: 2px solid var(--color-contrast-low);
  background-color: var(--page-background);
  display: none;
}

.druki-mobile-toc--active .druki-mobile-toc__content {
  display: block;
}

.druki-mobile-toc--active .druki-mobile-toc__toggle {
  @include mdi-icon('chevron-up');
  border-bottom-width: 0;
}
