@font-face {
  font-family: "Material Design Icons";
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?v=3.7.95");
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?#iefix&v=3.7.95") format("embedded-opentype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=3.7.95") format("woff2"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff?v=3.7.95") format("woff"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf?v=3.7.95") format("truetype");
  font-weight: normal;
  font-style: normal; }

.block-branding {
  margin: var(--spacing-lg) var(--spacing-sm); }

.block-branding__content {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

.block-branding__name-and-description {
  margin-left: var(--spacing-unit); }

.block-branding__logo {
  width: 58px; }

.block-branding__site-name {
  font-size: 32px;
  font-weight: bold;
  line-height: 1;
  color: var(--text-color); }

.block-branding__description {
  font-size: 14px;
  text-align: center;
  color: var(--color-contrast-medium); }

.block-branding__experiment {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
  text-transform: uppercase;
  pointer-events: none;
  color: var(--color-contrast-low); }

:root {
  --block-main-menu-link-color: hsl(226, 7%, 43%);
  --block-main-menu-icon-background: hsl(224, 18%, 88%);
  --block-main-menu-link-hover-background: hsl(211, 100%, 54%);
  --block-main-menu-link-hover-border-color: hsl(211, 100%, 44%);
  --block-main-menu-link-hover-color: white;
  --block-main-menu-link-hover-icon-color: white;
  --block-main-menu-link-hover-icon-background: hsl(211, 100%, 44%); }

[data-theme="dark"] {
  --block-main-menu-link-color: hsl(226, 7%, 53%);
  --block-main-menu-icon-background: hsl(231, 9%, 15%);
  --block-main-menu-link-hover-background: hsl(249, 11%, 13%);
  --block-main-menu-link-hover-border-color: hsl(249, 11%, 23%);
  --block-main-menu-link-hover-color: white; }

.block-main-menu {
  margin: var(--spacing-sm); }

.block-main-menu__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7; }

.block-main-menu__menu-item:not(:last-child) {
  margin-bottom: var(--spacing-unit); }

.block-main-menu__menu-item-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: var(--spacing-xs);
  color: var(--block-main-menu-link-color);
  border: 1px solid transparent;
  border-radius: var(--radius); }
  .block-main-menu__menu-item-link:hover {
    text-decoration: none;
    color: var(--block-main-menu-link-hover-color);
    border: 1px solid var(--block-main-menu-link-hover-border-color);
    background: var(--block-main-menu-link-hover-background); }

.block-main-menu__menu-item-link[href="/"]:before {
  content: "\F2DC";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.block-main-menu__menu-item-link[href="/wiki"]:before {
  content: "\FAB7";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.block-main-menu__menu-item-link[href="/download"]:before {
  content: "\F1DA";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.block-main-menu__menu-item-link[href="/wiki/drupal"]:before {
  content: "\F1E4";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.block-main-menu__menu-item-link::before {
  margin-right: var(--spacing-sm) !important;
  padding: var(--spacing-unit);
  border-radius: var(--radius);
  background-color: var(--block-main-menu-icon-background); }

.block-main-menu__menu-item-link:hover::before {
  color: var(--block-main-menu-link-hover-icon-color);
  background-color: var(--block-main-menu-link-hover-icon-background); }

:root {
  --page-title-font-size: 28px; }

.block-page-title h1 {
  font-size: var(--page-title-font-size);
  margin: var(--spacing-sm) 0 var(--spacing-lg); }

.block-roach-content a[href*="//"]:not([href*="druki.ru"]):not([href*="druki.localhost"]):after {
  content: "\F3CC";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-left: 0.1em; }

.block-roach-content a[href*="//"]:not([href*="druki.ru"]):not([href*="druki.localhost"])::after {
  color: var(--color-contrast-medium);
  text-decoration: none; }

.block-roach-druki-category-navigation {
  margin: var(--spacing-sm); }

.block-roach-druki-category-navigation__title {
  font-weight: bold;
  margin-bottom: var(--spacing-unit); }

.block-roach-druki-content-toc {
  margin: var(--spacing-sm); }

.block-roach-druki-content-toc__title {
  font-weight: bold;
  margin-bottom: var(--spacing-unit); }

.druki-content-druki-content-full__content-item {
  margin: var(--spacing-sm) 0; }

.druki-content-druki-content-full .druki-content-next-prev {
  margin-top: var(--spacing-md); }

.druki-content-next-prev {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr; }
  @media (min-width: 1140px) {
    .druki-content-next-prev {
      grid-template-columns: 1fr 1fr; } }

.druki-content-next-prev__link {
  font-weight: bold;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: var(--spacing-sm) var(--spacing-md);
  color: var(--text-color);
  border: 2px solid var(--color-contrast-low);
  border-radius: var(--radius); }
  .druki-content-next-prev__link:hover {
    text-decoration: none;
    border-color: var(--link-color); }

.druki-content-next-prev__link--prev {
  -webkit-box-pack: start;
          justify-content: flex-start; }
  .druki-content-next-prev__link--prev:before {
    content: "\F04D";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }

.druki-content-next-prev__link--next {
  -webkit-box-pack: end;
          justify-content: flex-end; }
  .druki-content-next-prev__link--next:after {
    content: "\F054";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-left: 0.4em; }

.druki-content-tabs {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

.druki-content-tabs__link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: var(--header-height);
  padding: 0 var(--spacing-sm); }
  .druki-content-tabs__link:hover {
    text-decoration: none; }

.druki-content-tabs__link--read {
  background-color: var(--page-background);
  color: var(--text-color); }

.druki-mobile-toc__header {
  display: -webkit-box;
  display: flex; }

.druki-mobile-toc__toggle {
  font-weight: bold;
  margin-bottom: -2px;
  padding: var(--spacing-unit) var(--spacing-sm);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid var(--color-contrast-low);
  background-color: var(--page-background); }
  .druki-mobile-toc__toggle:before {
    content: "\F140";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }

.druki-mobile-toc__content {
  padding: var(--spacing-unit) var(--spacing-sm);
  border: 2px solid var(--color-contrast-low);
  background-color: var(--page-background);
  display: none; }

.druki-mobile-toc--active .druki-mobile-toc__content {
  display: block; }

.druki-mobile-toc--active .druki-mobile-toc__toggle {
  border-bottom-width: 0; }
  .druki-mobile-toc--active .druki-mobile-toc__toggle:before {
    content: "\F143";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }

.app {
  padding-top: var(--mobile-header-height, 60px); }
  @media (min-width: 960px) {
    .app {
      padding-top: unset; } }

.footer {
  font-size: var(--text-sm);
  margin: var(--spacing-md) auto;
  color: var(--color-contrast-medium);
  max-width: var(--container-max-width); }

.footer__inner {
  padding: 0 var(--spacing-unit); }
  @media (min-width: 960px) {
    .footer__inner {
      margin-left: var(--sidebar-width);
      padding: unset; } }
  @media (min-width: 1540px) {
    .footer__inner {
      margin-right: var(--sidebar-width); } }

.footer__bottom {
  margin-top: var(--spacing-sm); }

.footer__heart {
  color: red; }
  .footer__heart:before {
    content: "\F2D1";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }

.footer__drupal {
  color: blue; }
  .footer__drupal:before {
    content: "\F1E4";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }

.footer__gitlab {
  color: orange; }
  .footer__gitlab:before {
    content: "\FB7C";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0.4em; }

.footer__developer {
  font-weight: bold;
  color: #757af7; }

.frontpage-get-started-and-versions {
  display: grid;
  grid-gap: var(--spacing-md);
  padding: var(--spacing-sm);
  grid-template-columns: 1fr; }
  @media (min-width: 960px) {
    .frontpage-get-started-and-versions {
      padding: var(--spacing-lg); } }
  @media (min-width: 1140px) {
    .frontpage-get-started-and-versions {
      grid-gap: var(--spacing-lg);
      grid-template-columns: 1fr 400px; } }

:root {
  --frontpage-promo-background: hsla(0, 0%, 100%, 0.85); }

[data-theme="dark"] {
  --frontpage-promo-background: hsla(0, 0%, 0%, 0.85); }

.frontpage-promo {
  position: relative;
  padding: var(--spacing-sm); }
  .frontpage-promo::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--frontpage-promo-background); }
  @media (min-width: 960px) {
    .frontpage-promo {
      padding: var(--spacing-lg); } }

.frontpage-promo__image {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.frontpage-promo__description {
  font-size: 20px; }
  @media (min-width: 960px) {
    .frontpage-promo__description {
      max-width: 65%; } }

.frontpage-promo__inner {
  position: relative;
  z-index: 2; }

.frontpage {
  background-color: var(--region-content-background, white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: content; }

.frontpage__title {
  display: none; }

:root {
  --mobile-header-height: 60px; }

.header-mobile {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: var(--mobile-header-height);
  background-color: var(--page-background);
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); }
  @media (min-width: 960px) {
    .header-mobile {
      display: none; } }

.header-mobile__branding {
  font-size: var(--text-xl);
  font-weight: bold;
  line-height: var(--mobile-header-height);
  text-transform: uppercase; }

.header-mobile__search {
  font-size: var(--text-lg);
  line-height: var(--mobile-header-height);
  display: block;
  padding: 0 var(--spacing-sm);
  text-align: center;
  color: var(--color-contrast-high); }
  .header-mobile__search:before {
    content: "\F349";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }

.mobile-toggle {
  position: relative;
  padding: 0 var(--spacing-sm);
  cursor: pointer;
  align-self: stretch;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex; }
  .mobile-toggle span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: var(--color-contrast-high); }
  .mobile-toggle span:not(:last-child) {
    margin-bottom: 3px; }

:root {
  --header-background: hsl(224, 18%, 88%);
  --header-height: 50px; }

[data-theme="dark"] {
  --header-background: hsl(231, 9%, 15%); }

.header {
  position: relative;
  z-index: 10;
  display: none;
  height: var(--header-height);
  background-color: var(--header-background); }
  @media (min-width: 960px) {
    .header {
      display: -webkit-box;
      display: flex; } }

.header__inner {
  position: relative;
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-gap: 0;
  grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width); }
  @media (min-width: 1540px) {
    .header__inner {
      max-width: var(--container-max-width); } }

.header__search {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex-grow: 1; }

.header__search-icon {
  position: absolute;
  top: 50%;
  left: var(--spacing-unit);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  .header__search-icon:before {
    content: "\F349";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }

.header__search-input {
  padding: unset;
  padding-left: var(--spacing-md);
  color: var(--color-contrast-medium);
  border: none;
  border-radius: unset;
  background-color: unset;
  width: 100%; }
  .header__search-input:focus {
    box-shadow: unset; }

.header__left {
  display: -webkit-box;
  display: flex; }

.header__center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

.header__right {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end; }

.header .dark-mode-toggle {
  margin-right: var(--spacing-sm); }

.mobile-navigation {
  position: fixed;
  z-index: 200;
  top: 0;
  left: -100vw;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  -webkit-transition: 0.25s ease-in-out background-color;
  transition: 0.25s ease-in-out background-color;
  background-color: transparent; }
  @media (min-width: 960px) {
    .mobile-navigation {
      display: none; } }

.mobile-navigation--active {
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.mobile-navigation--hiding {
  background-color: transparent; }

.mobile-navigation__sidebar {
  position: fixed;
  z-index: 201;
  top: 0;
  overflow-y: scroll;
  width: 250px;
  height: 100%;
  -webkit-transition: 0.5s ease-in-out transform;
  transition: 0.5s ease-in-out transform;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
  background-color: var(--page-background);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }

.mobile-navigation__sidebar .dark-mode-toggle {
  align-self: flex-start;
  margin-top: auto;
  padding: var(--spacing-sm); }

.mobile-navigation--active .mobile-navigation__sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0); }

.mobile-navigation--hiding .mobile-navigation__sidebar {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px); }

.mobile-navigation__branding {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: var(--spacing-unit); }

.mobile-navigation__branding-logo {
  height: 100px; }

.mobile-navigation__navigation {
  margin: 0;
  padding: 0;
  list-style: none; }

.mobile-navigation__navigation-item {
  margin: unset; }

.mobile-navigation__navigation-link[href^="/wiki"]:before {
  content: "\FAB6";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.mobile-navigation__navigation-link[href^="/download"]:before {
  content: "\F1DA";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.mobile-navigation__navigation-link[href^="/wiki/faq"]:before {
  content: "\F625";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.mobile-navigation__navigation-link[href^="/wiki/changelog"]:before {
  content: "\FAD8";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.mobile-navigation__navigation-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: var(--spacing-sm);
  color: var(--color-contrast-medium); }
  .mobile-navigation__navigation-link::before {
    font-size: var(--text-lg);
    width: 24px;
    margin-right: var(--spacing-sm);
    text-align: center; }

.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content"; }
  @media (min-width: 960px) {
    .main-layout {
      grid-template-columns: var(--sidebar-width) 1fr;
      grid-template-areas: "left-sidebar content"; } }
  @media (min-width: 1540px) {
    .main-layout {
      max-width: var(--container-max-width);
      margin: 0 auto;
      grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);
      grid-template-areas: "left-sidebar content right-sidebar"; } }

:root {
  --region-content-background: hsl(220, 37%, 99%); }

[data-theme="dark"] {
  --region-content-background: hsl(220, 10%, 11%); }

.region-content {
  background-color: var(--region-content-background);
  grid-area: content;
  padding: var(--spacing-sm); }
  @media (min-width: 960px) {
    .region-content {
      padding: var(--spacing-lg);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); } }

.region-sidebar-first {
  display: none; }
  @media (min-width: 960px) {
    .region-sidebar-first {
      display: block; } }

.region-sidebar-second {
  display: none;
  grid-area: right-sidebar; }
  @media (min-width: 1540px) {
    .region-sidebar-second {
      display: block; } }

:root {
  --paragraph-druki-heading-border-color: var(--color-contrast-lower); }

[data-theme="dark"] {
  --paragraph-druki-heading-border-color: var(--color-contrast-lower); }

.paragraph-druki-heading__anchor {
  font-size: var(--text-md);
  display: none;
  margin-left: var(--spacing-unit);
  color: var(--color-contrast-medium); }
  .paragraph-druki-heading__anchor:before {
    content: "\F339";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .paragraph-druki-heading__anchor:hover {
    text-decoration: none; }

.paragraph-druki-heading:hover .paragraph-druki-heading__anchor {
  display: inline-block; }

.paragraph-druki-heading__heading--h2 {
  padding-bottom: var(--spacing-unit);
  border-bottom: 1px solid var(--paragraph-druki-heading-border-color); }

.paragraph-druki-image {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

:root {
  --druki-note-background: var(--page-background);
  --druki-note-theme-color: var(--page-background); }

.paragraph-druki-note {
  padding: var(--spacing-sm);
  border-left: 6px solid var(--druki-note-theme-color);
  border-radius: var(--radius);
  background-color: var(--druki-note-background); }

.paragraph-druki-note--important {
  --druki-note-theme-color: var(--color-error); }

.paragraph-druki-note--tip {
  --druki-note-theme-color: hsl(127, 63%, 49%); }

.paragraph-druki-note--warning {
  --druki-note-theme-color: var(--color-warning); }

.paragraph-druki-note--note {
  --druki-note-theme-color: hsl(220, 60%, 50%); }

.paragraph-druki-note__header {
  margin-bottom: var(--spacing-sm); }

.paragraph-druki-note__content p:last-child {
  margin-bottom: unset; }

.paragraph-druki-note__note-type {
  font-size: 12px;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
  color: var(--druki-note-theme-color); }

.paragraph-druki-note__icon {
  color: var(--druki-note-theme-color); }

.paragraph-druki-note--important .paragraph-druki-note__icon:before {
  content: "\FCC3";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.4em; }

.paragraph-druki-note--tip .paragraph-druki-note__icon:before {
  content: "\F6E8";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.4em; }

.paragraph-druki-note--warning .paragraph-druki-note__icon:before {
  content: "\F5D6";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.4em; }

.paragraph-druki-note--note .paragraph-druki-note__icon:before {
  content: "\F2FD";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.4em; }

:root {
  --druki-category-navigation-link-color: hsl(226, 7%, 43%);
  --druki-category-navigation-link-hover-color: hsl(226, 7%, 23%); }

[data-theme="dark"] {
  --druki-category-navigation-link-hover-color: hsl(226, 7%, 63%); }

.druki-category-navigation {
  font-size: 14px; }

.druki-category-navigation {
  font-size: 14px;
  line-height: 1.7; }

.druki-category-navigation__menu {
  margin: unset;
  padding: unset; }

.druki-category-navigation__menu-item-link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--druki-category-navigation-link-color); }
  .druki-category-navigation__menu-item-link:hover {
    color: var(--druki-category-navigation-link-hover-color);
    text-decoration: none; }

.druki-category-navigation__menu-item-link--active {
  font-weight: bold; }

.druki-category-navigation__submenu {
  position: relative; }
  .druki-category-navigation__submenu::before {
    position: absolute;
    left: -1rem;
    display: block;
    width: 2px;
    height: 100%;
    content: '';
    background-color: var(--color-contrast-low); }

.druki-category-navigation ul {
  counter-reset: item; }

.druki-category-navigation ul ul {
  margin: 0 0 0 var(--spacing-sm);
  padding-left: unset; }

.druki-category-navigation li {
  display: block;
  vertical-align: top; }

.druki-category-navigation li a::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  vertical-align: top;
  color: var(--color-contrast-medium); }

:root {
  --druki-content-toc-link-color: hsl(226, 7%, 43%);
  --druki-content-toc-link-hover-color: hsl(226, 7%, 23%); }

[data-theme="dark"] {
  --druki-content-toc-link-hover-color: hsl(226, 7%, 63%); }

.druki-content-toc {
  font-size: 14px;
  line-height: 1.7; }

.druki-content-toc__menu {
  margin: unset;
  padding: unset; }

.druki-content-toc__link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--druki-content-toc-link-color); }
  .druki-content-toc__link:hover {
    text-decoration: none;
    color: var(--druki-content-toc-link-hover-color); }

.druki-content-toc__submenu {
  position: relative; }
  .druki-content-toc__submenu::before {
    position: absolute;
    left: -1rem;
    display: block;
    width: 2px;
    height: 100%;
    content: '';
    background-color: var(--color-contrast-low); }

.druki-content-toc ul {
  counter-reset: item; }

.druki-content-toc ul ul {
  margin: 0 0 0 var(--spacing-sm);
  padding-left: unset; }

.druki-content-toc li {
  display: block;
  vertical-align: top; }

.druki-content-toc li a::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  vertical-align: top;
  color: var(--color-contrast-medium); }

.druki-drupal-versions__card-title {
  font-size: var(--text-base-size); }

.druki-drupal-versions__label {
  font-size: var(--text-sm); }

.druki-drupal-versions__update-label {
  font-weight: bold;
  color: var(--color-contrast-high); }

.druki-drupal-versions__update-date {
  font-size: 14px;
  color: var(--color-contrast-medium); }

.druki-drupal-versions__releases {
  font-size: 14px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: var(--spacing-unit); }

.druki-drupal-versions__security {
  color: var(--color-error);
  cursor: help; }

.druki-drupal-versions__icon:before {
  content: "\F6AF";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-media-remote-video-optimized {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: var(--radius);
  box-shadow: 0 3px 25px 0 rgba(22, 22, 22, 0.15); }

.druki-media-remote-video-optimized__preview,
.druki-media-remote-video-optimized__iframe {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.druki-media-remote-video-optimized__preview {
  cursor: pointer; }

.druki-media-remote-video-optimized__thumbnail {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.druki-media-remote-video-optimized__play {
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8); }
  .druki-media-remote-video-optimized__play:before {
    content: "\F40A";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }

.druki-media-remote-video-optimized__loading {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.druki-media-remote-video-optimized__loading--active {
  display: block; }

:root {
  --druki-download-card-hover-border-color: var(--link-color); }

[data-theme="dark"] {
  --druki-download-card-hover-border-color: var(--color-contrast-low); }

.druki-page-download__title {
  font-size: var(--page-title-font-size);
  font-weight: bold;
  text-align: center; }

.druki-page-download__subtitle {
  font-size: var(--text-lg);
  font-weight: normal;
  text-align: center;
  color: var(--color-contrast-medium); }

.druki-page-download__command-pane {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin: var(--spacing-lg) auto 0;
  padding: var(--spacing-sm);
  border-radius: var(--radius);
  background-color: var(--code-background);
  box-shadow: var(--shadow-xs); }

.druki-page-download__command {
  font-family: var(--font-monospace);
  color: var(--text-color); }
  .druki-page-download__command::before {
    content: '>_ ';
    color: var(--color-primary); }

.druki-page-download__command-note {
  font-size: 14px;
  font-style: italic;
  margin: var(--spacing-sm) 0;
  text-align: center;
  color: var(--color-contrast-medium); }

.druki-page-download__cards {
  display: grid;
  margin: var(--spacing-lg) 0 0 0;
  grid-gap: var(--spacing-sm);
  grid-template-columns: 1fr; }
  @media (min-width: 720px) {
    .druki-page-download__cards {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 960px) {
    .druki-page-download__cards {
      grid-gap: var(--spacing-md); } }
  @media (min-width: 1540px) {
    .druki-page-download__cards {
      grid-template-columns: repeat(3, 1fr); } }

.druki-page-download__card {
  border: 2px solid transparent;
  -webkit-transition: box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, border-color 0.25s ease-in-out; }
  .druki-page-download__card:hover {
    border-color: var(--druki-download-card-hover-border-color); }

.druki-page-download__card-icon--try:before {
  content: "\F1E4";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--update:before {
  content: "\F6AF";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--open-source:before {
  content: "\FB8A";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--source-code:before {
  content: "\FB7C";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--community:before {
  content: "\F848";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--talk:before {
  content: "\FB57";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-title {
  font-size: var(--text-base-size); }

.druki-page-download__card-content {
  font-size: var(--text-sm); }

.druki-page-download__card-content p:last-child {
  margin-bottom: unset; }

.druki-page-download__card-link {
  font-size: 14px;
  padding: var(--spacing-unit) var(--spacing-sm);
  border: 1px solid var(--color-contrast-low);
  border-radius: var(--radius); }
  .druki-page-download__card-link:hover {
    text-decoration: none;
    color: var(--color-white);
    border-color: var(--link-color-hover);
    background-color: var(--link-color); }

.druki-page-wiki__title {
  font-size: var(--page-title-font-size);
  font-weight: bold;
  text-align: center; }

.druki-page-wiki__subtitle {
  font-size: var(--text-lg);
  font-weight: normal;
  text-align: center;
  color: var(--color-contrast-medium); }

.druki-page-wiki__header {
  margin-bottom: var(--spacing-unit); }

.druki-page-wiki__row {
  margin: var(--spacing-lg) 0; }

.druki-page-wiki__row-title {
  font-size: var(--text-xxl); }

.druki-page-wiki__row-description {
  font-size: var(--text-base-size);
  margin-bottom: var(--spacing-unit); }

.druki-page-wiki__cards {
  display: grid;
  margin: var(--spacing-md) 0;
  grid-gap: var(--spacing-sm);
  grid-template-columns: 1fr; }
  @media (min-width: 540px) {
    .druki-page-wiki__cards {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1140px) {
    .druki-page-wiki__cards {
      grid-template-columns: repeat(4, 1fr); } }

.druki-page-wiki__card-title {
  font-size: var(--text-base-size); }

.druki-page-wiki__card-content {
  font-size: var(--text-sm); }

.druki-page-wiki__card-content p:last-child {
  margin-bottom: unset; }

.druki-page-wiki__faq {
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  color: var(--color-contrast-medium); }

.druki-page-wiki__other-items {
  display: grid;
  grid-gap: var(--spacing-sm);
  grid-template-columns: 1fr; }
  @media (min-width: 540px) {
    .druki-page-wiki__other-items {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1140px) {
    .druki-page-wiki__other-items {
      grid-template-columns: repeat(4, 1fr); } }

.druki-page-wiki__other-item-title {
  font-weight: bold;
  margin-bottom: var(--spacing-unit); }

.druki-page-wiki__other-item-items {
  margin: 0;
  padding: 0;
  list-style: none; }

.breadcrumbs {
  font-size: 14px;
  display: -webkit-box;
  display: flex;
  margin-bottom: var(--spacing-sm); }

.breadcrumbs__path {
  display: block;
  overflow: hidden;
  -webkit-box-flex: 0;
          flex-grow: 0;
  flex-shrink: 1;
  white-space: nowrap;
  text-overflow: ellipsis; }
  @media (min-width: 540px) {
    .breadcrumbs__path {
      display: inline; } }

.breadcrumbs__item-link {
  color: var(--color-contrast-medium); }

.breadcrumbs__item-link--text {
  color: var(--text-color); }

.breadcrumbs__current::before {
  margin: 0 4px;
  content: '/';
  color: var(--color-contrast-medium); }

.breadcrumbs__item-link--current {
  color: var(--link-color); }

.breadcrumbs__current {
  display: block;
  -webkit-box-flex: 1;
          flex-grow: 1;
  flex-shrink: 0; }
  @media (min-width: 540px) {
    .breadcrumbs__current {
      display: inline; } }

.breadcrumbs__delimiter::after {
  margin: 0 var(--spacing-unit);
  content: '/';
  color: var(--color-contrast-medium); }

.breadcrumbs__delimiter:last-child {
  display: none; }

:root {
  --button-font-size: 1em;
  --button-padding-y: 0.5em;
  --button-padding-x: 0.75em;
  --button-border-radius: var(--radius); }

.button {
  font-size: var(--button-font-size);
  line-height: 1;
  position: relative;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding-top: var(--button-padding-y);
  padding-right: var(--button-padding-x);
  padding-bottom: var(--button-padding-y);
  padding-left: var(--button-padding-x);
  white-space: nowrap;
  text-decoration: none;
  border-radius: var(--button-border-radius);
  border: unset; }

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white); }

.button--secondary {
  background-color: var(--color-secondary);
  color: var(--color-white); }

.button--danger {
  background-color: var(--color-error);
  color: var(--color-white); }

.comments__content .indented {
  padding-left: var(--spacing-md); }

:root {
  --dark-mode-toggle-background: hsl(225, 21%, 93%);
  --dark-mode-toggle-color: var(--color-contrast-high); }

[data-theme="dark"] {
  --dark-mode-toggle-background: var(--page-background); }

.dark-mode-toggle {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--dark-mode-toggle-color);
  border-radius: var(--radius);
  background-color: var(--dark-mode-toggle-background); }

.dark-mode-toggle__icon:before {
  content: "\F50E";
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Material Design Icons";
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

:root {
  --form-control-background: var(--color-white);
  --form-control-color: var(--text-color);
  --form-control-font-size: 1em;
  --form-control-padding-y: 0.5em;
  --form-control-padding-x: 0.75em;
  --form-control-border-radius: var(--radius);
  --form-control-radius: var(--radius);
  --form-control-focus-shadow-color: hsla(var(--color-primary-h), var(--color-primary-s), var(--color-primary-l), 0.2); }

[data-theme="dark"] {
  --form-control-background: hsl(249, 10%, 14%); }

.form-item {
  margin: 0 0 var(--spacing-unit); }

.form-item__description {
  font-size: var(--text-sm);
  display: block;
  margin-top: var(--spacing-unit);
  margin-bottom: var(--spacing-unit);
  color: var(--color-contrast-medium); }

.form-item__label {
  font-size: var(--text-sm);
  display: inline-block;
  margin-bottom: var(--spacing-unit); }

.form-item__label--required::after {
  display: inline-block;
  margin: 0 0 0 0.25em;
  content: '*';
  color: var(--color-error); }

.form-item__label.option {
  margin-bottom: 0; }

.form-item--radio {
  margin-bottom: 0; }

.filter-wrapper {
  margin-top: calc(var(--spacing-sm) * -1); }

.form-wrapper__summary {
  padding: var(--spacing-unit);
  cursor: pointer;
  background: gray(100); }

.form-wrapper__content {
  padding: var(--spacing-unit); }

.form-control {
  font-size: var(--form-control-font-size);
  line-height: inherit;
  display: block;
  width: 100%;
  max-width: 100%;
  padding-top: var(--form-control-padding-y);
  padding-right: var(--form-control-padding-x);
  padding-bottom: var(--form-control-padding-y);
  padding-left: var(--form-control-padding-x);
  border: 2px solid var(--color-contrast-low);
  border-radius: var(--form-control-border-radius);
  background-color: var(--form-control-background);
  color: var(--form-control-color); }
  .form-control:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px var(--form-control-focus-shadow-color);
    outline: none; }
  .form-control:disabled {
    cursor: not-allowed; }

.form-control.error {
  --form-control-focus-shadow-color: hsla(var(--color-error-h), var(--color-error-s), var(--color-error-l), 0.2);
  border-color: var(--color-error); }
  .form-control.error:focus {
    border-color: var(--color-error); }

.links--inline {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex; }

.links--inline .links__item:not(:last-child) {
  margin-right: var(--spacing-unit); }

.local-actions {
  display: -webkit-box;
  display: flex;
  margin: 0 0 var(--spacing-sm);
  padding: 0;
  list-style: none; }

.local-actions__item:not(:last-child) {
  margin-right: var(--spacing-unit); }

.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

:root {
  --message-background: transparent;
  --message-border-color: var(--color-contrast-medium);
  --message-color: var(--text-color); }

.messages {
  position: relative;
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing-sm);
  border-radius: var(--radius);
  border: 2px solid var(--message-border-color);
  background: var(--message-background);
  color: var(--message-color); }

.messages--error {
  --message-background: hsl(var(--color-error-h), var(--color-error-s), 77%);
  --message-border-color: var(--color-error); }

.messages--status {
  --message-background: hsl(var(--color-success-h), var(--color-success-s), 77%);
  --message-border-color: var(--color-success); }

.messages--warning {
  --message-background: hsl(var(--color-warning-h), var(--color-warning-s), 77%);
  --message-border-color: var(--color-warning); }

.pager__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  list-style: none outside none; }

.pager__item {
  margin: 0 var(--spacing-xs); }

.pager__item:not(.pager__item--previous):not(.pager__item--next) {
  display: none; }
  @media (min-width: 720px) {
    .pager__item:not(.pager__item--previous):not(.pager__item--next) {
      display: block; } }

.pager__item a {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  padding: var(--spacing-unit) var(--spacing-sm);
  border-radius: var(--radius); }
  .pager__item a:hover {
    background-color: var(--color-contrast-lower); }

.pager__item--active a {
  background-color: var(--color-primary);
  color: var(--color-white); }
  .pager__item--active a:hover {
    background-color: var(--color-primary);
    color: var(--color-white); }

.pager__item--ellipsis {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  padding: var(--spacing-unit) var(--spacing-sm);
  border-radius: var(--radius); }

.pager--mini .pager__item--active {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  padding: var(--spacing-unit) var(--spacing-sm);
  border-radius: var(--radius); }

:root {
  --prismjs-background: var(--code-background);
  --prismjs-color: var(--text-color);
  --prismjs-keyword: hsl(234, 91%, 30%);
  --prismjs-punctuatuion: hsl(0, 0%, 0%);
  --prismjs-tag: hsl(180, 31%, 39.2%);
  --prismjs-attr-name: hsl(120, 74%, 24.1%);
  --prismjs-comment: hsl(0, 0%, 50.2%);
  --pirsmjs-class-name: hsl(0, 0%, 0%);
  --prismjs-variable: hsl(0, 100%, 20%);
  --prismjs-important: hsl(233.9, 90.8%, 29.8%);
  --prismjs-function: hsl(0, 0%, 0%);
  --prismjs-this: hsl(0, 100%, 20%); }

[data-theme="dark"] {
  --prismjs-keyword: hsl(15, 62%, 68%);
  --prismjs-punctuatuion: hsl(240, 8%, 80%);
  --prismjs-tag: hsl(15, 62%, 68%);
  --prismjs-attr-name: hsl(120, 26%, 51%);
  --prismjs-comment: hsl(240, 6%, 43%);
  --prismjs-class-name: hsl(240, 8%, 80%);
  --prismjs-variable: hsl(279, 23%, 56%);
  --prismjs-important: hsl(15, 62%, 68%);
  --prismjs-function: hsl(15, 62%, 68%);
  --prismjs-this: hsl(279, 23%, 56%); }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  padding: var(--spacing-sm); }

code[class*="language-"],
pre[class*="language-"] {
  font-family: var(--font-monospace);
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  color: var(--prismjs-color);
  background: none; }

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  margin: 1rem 0;
  border-radius: 4px; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--prismjs-background); }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--prismjs-comment);
  /* base1 */ }

.token.punctuation {
  color: var(--prismjs-punctuatuion); }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--prismjs-tag); }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: var(--prismjs-attr-name); }

.token.entity {
  color: #657b83;
  background: #eee8d5; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--prismjs-keyword); }

.token.function {
  color: var(--prismjs-function); }

.token.class-name {
  color: var(--prismjs-class-name); }

.token.regex,
.token.variable {
  color: var(--prismjs-variable); }

.token.important,
.token.delimiter {
  color: var(--prismjs-important); }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.this {
  color: var(--prismjs-this); }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: var(--spacing-sm);
  border-collapse: collapse; }

.table th,
.table td {
  padding: var(--spacing-unit);
  text-align: inherit;
  border-top: 1px solid var(--color-contrast-lower); }

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid var(--color-contrast-low); }

.table-responsive {
  width: 100%;
  overflow-x: auto; }

.tabs {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  flex-flow: wrap;
  margin: unset;
  padding: unset;
  list-style: none; }

.tabs--primary {
  margin-bottom: var(--spacing-sm);
  border-bottom: 2px solid var(--color-contrast-low); }

.tabs--primary .tabs__link {
  position: relative;
  display: block;
  padding: var(--spacing-unit) var(--spacing-sm);
  color: var(--color-primary);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius); }
  .tabs--primary .tabs__link:hover {
    background-color: var(--color-contrast-lower); }

.tabs--primary .tabs__link--active {
  position: relative;
  border: 2px solid var(--color-contrast-low);
  border-bottom-width: 0; }
  .tabs--primary .tabs__link--active::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    content: '';
    background-color: white; }
  .tabs--primary .tabs__link--active:hover {
    background-color: unset; }

.tabs--secondary {
  margin-bottom: var(--spacing-sm);
  border-bottom: 1px solid var(--color-contrast-low); }

.tabs--secondary .tabs__link {
  display: block;
  padding: var(--spacing-unit) var(--spacing-sm);
  position: relative; }
  .tabs--secondary .tabs__link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 2px;
    content: '';
    background-color: var(--color-primary);
    border-top-left-radius: var(--radius-sm);
    border-top-right-radius: var(--radius-sm); }
  .tabs--secondary .tabs__link:hover::before {
    display: block; }

.tabs--secondary .tabs__link--active {
  position: relative; }
  .tabs--secondary .tabs__link--active::before {
    display: block; }

.vertical-tabs {
  display: -webkit-box;
  display: flex; }

.vertical-tabs__menu {
  align-self: flex-start;
  border: 1px solid var(--color-contrast-low); }

.vertical-tabs__menu-item {
  border: none; }

.vertical-tabs__menu-item a {
  padding: var(--spacing-sm);
  color: var(--text-color); }

.vertical-tabs__panes {
  width: 100%;
  padding: var(--spacing-sm); }

.search {
  position: relative; }

.search__input-pane {
  position: relative; }

.search__input {
  font-size: 20px;
  --form-control-padding-x: 2.5em; }

.search__input ~ .search__input-icon {
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: var(--spacing-sm);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  color: var(--color-contrast-medium); }
  .search__input ~ .search__input-icon:before {
    content: "\F349";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Material Design Icons";
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }

.search__results-pane {
  display: -webkit-box;
  display: flex;
  width: 100%;
  margin-top: var(--spacing-sm); }

.search__loading {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); }

.search__loading svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.search__results-content {
  display: grid;
  width: 100%;
  grid-gap: var(--spacing-md);
  grid-template-columns: 1fr; }
  @media (min-width: 960px) {
    .search__results-content {
      grid-template-columns: 1fr 260px; } }

.search__filters {
  padding: var(--spacing-sm);
  border-radius: var(--radius); }

.search__filter:not(:last-child) {
  margin-bottom: var(--spacing-sm); }

.search__filter-label {
  font-weight: bold;
  margin-bottom: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
  border-bottom: 1px solid var(--color-contrast-low); }

.search__filter-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start; }

.search__filter-item:not(:last-child) {
  margin-bottom: var(--spacing-unit); }

.search__filter-item input {
  margin-top: var(--spacing-xs); }

.search__filter-item-label {
  margin-left: var(--spacing-unit); }

.search__filter-item-description {
  font-size: 13px;
  line-height: 1.2;
  color: var(--color-contrast-medium); }

.search__result {
  padding: var(--spacing-unit) 0; }

.search__result:not(:last-child) {
  border-bottom: 1px solid var(--color-contrast-low); }

.search__result-title {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: unset;
  color: var(--text-color); }

.search__result-link:hover {
  text-decoration: none; }

.search__result-url {
  color: var(--link-color); }

.search__result-core {
  color: var(--color-contrast-medium); }

/*# sourceMappingURL=maps/components.css.map */
