@font-face {
  font-family: "Material Design Icons";
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?v=3.7.95");
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?#iefix&v=3.7.95") format("embedded-opentype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=3.7.95") format("woff2"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff?v=3.7.95") format("woff"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf?v=3.7.95") format("truetype");
  font-weight: normal;
  font-style: normal; }

a {
  color: #0046b3;
  text-decoration: none; }
  a:hover {
    color: #ad8d1c;
    text-decoration: none; }

.breadcrumbs {
  font-size: 1rem;
  line-height: 1.5;
  background: transparent;
  padding: 0 0;
  margin-bottom: 0;
  border-radius: 4px;
  display: -webkit-box;
  display: flex; }
  .breadcrumbs__path {
    display: inline; }
  .breadcrumbs__item-link {
    color: #9e9e9e; }
  .breadcrumbs__item-link--text {
    color: #202124; }
  .breadcrumbs__delimiter::after {
    margin: 0 8px;
    content: "/";
    color: #9e9e9e; }
  .breadcrumbs__current {
    display: inline; }
  @media (max-width: 47.9375em) {
    .breadcrumbs__path {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 1; }
    .breadcrumbs__delimiter:last-child {
      display: none; }
    .breadcrumbs__item-link--current::before {
      margin: 0 4px;
      content: "/";
      color: #9e9e9e; }
    .breadcrumbs__current {
      display: block;
      -webkit-box-flex: 1;
              flex-grow: 1;
      flex-shrink: 0; } }

.button, .button--primary,
.button--action, .button--warning, .button-danger,
.button--danger, .button--success, .button--info, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent; }

.button {
  color: #606266;
  background-color: #ffffff;
  background-image: none;
  border-color: #dcdfe6;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button:focus, .button:hover {
    color: #606266;
    background-color: #e6e6e6;
    border-color: #b8becd; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }
  .button:disabled {
    background-color: #ffffff;
    border-color: #dcdfe6;
    opacity: .65; }
  .button:active {
    color: #606266;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #b8becd;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }

.button--primary,
.button--action {
  color: white;
  background-color: #FFD029;
  background-image: none;
  border-color: #FFD029;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--primary:focus, .button--primary:hover,
  .button--action:focus,
  .button--action:hover {
    color: white;
    background-color: #f5bf00;
    border-color: #ebb700; }
  .button--primary:focus,
  .button--action:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 208, 41, 0.5); }
  .button--primary:disabled,
  .button--action:disabled {
    background-color: #FFD029;
    border-color: #FFD029;
    opacity: .65; }
  .button--primary:active,
  .button--action:active {
    color: white;
    background-color: #f5bf00;
    background-image: none;
    border-color: #ebb700;
    box-shadow: 0 0 0 3px rgba(255, 208, 41, 0.5); }

.button--warning {
  color: white;
  background-color: #ffc107;
  background-image: none;
  border-color: #edb100;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--warning:focus, .button--warning:hover {
    color: white;
    background-color: #d39e00;
    border-color: #af8300; }
  .button--warning:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5); }
  .button--warning:disabled {
    background-color: #ffc107;
    border-color: #edb100;
    opacity: .65; }
  .button--warning:active {
    color: white;
    background-color: #d39e00;
    background-image: none;
    border-color: #af8300;
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5); }

.button-danger,
.button--danger {
  color: white;
  background-color: #dc3545;
  background-image: none;
  border-color: #d32535;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button-danger:focus, .button-danger:hover,
  .button--danger:focus,
  .button--danger:hover {
    color: white;
    background-color: #bd2130;
    border-color: #9f1c28; }
  .button-danger:focus,
  .button--danger:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5); }
  .button-danger:disabled,
  .button--danger:disabled {
    background-color: #dc3545;
    border-color: #d32535;
    opacity: .65; }
  .button-danger:active,
  .button--danger:active {
    color: white;
    background-color: #bd2130;
    background-image: none;
    border-color: #9f1c28;
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5); }

.button--success {
  color: white;
  background-color: #67c23a;
  background-image: none;
  border-color: #5dae34;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--success:focus, .button--success:hover {
    color: white;
    background-color: #529b2e;
    border-color: #447f26; }
  .button--success:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(103, 194, 58, 0.5); }
  .button--success:disabled {
    background-color: #67c23a;
    border-color: #5dae34;
    opacity: .65; }
  .button--success:active {
    color: white;
    background-color: #529b2e;
    background-image: none;
    border-color: #447f26;
    box-shadow: 0 0 0 3px rgba(103, 194, 58, 0.5); }

.button--info {
  color: white;
  background-color: #9e9e9e;
  background-image: none;
  border-color: #919191;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--info:focus, .button--info:hover {
    color: white;
    background-color: #858585;
    border-color: #737373; }
  .button--info:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(158, 158, 158, 0.5); }
  .button--info:disabled {
    background-color: #9e9e9e;
    border-color: #919191;
    opacity: .65; }
  .button--info:active {
    color: white;
    background-color: #858585;
    background-image: none;
    border-color: #737373;
    box-shadow: 0 0 0 3px rgba(158, 158, 158, 0.5); }

.comments__content .indented {
  padding-left: 2rem; }

.contextual-region .contextual-links {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
  .contextual-region .contextual-links li a {
    color: inherit; }
  .contextual-region .contextual-links li:hover a {
    background: #eeeeee; }

.form-item {
  margin: 0 0 1rem; }
  .form-item__description {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: gray(500);
    font-size: 85%; }
  .form-item__label.option {
    margin-bottom: 0; }
  .form-item__label--required::after {
    content: "*";
    display: inline-block;
    color: #dc3545;
    margin: 0 0 0 4px; }
  .form-item--radio {
    margin-bottom: 0; }

.form-actions input {
  margin: 0 0.5rem 0 0;
  width: auto; }
  .form-actions input:last-child {
    margin: 0; }

.filter-wrapper {
  margin-top: -1rem; }

.form-wrapper__summary {
  background: #f5f5f5;
  padding: 0.5rem;
  cursor: pointer; }

.form-wrapper__content {
  padding: 0.5rem; }

.form-control {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-radius: 3px; }
  .form-control.error {
    border-color: #dc3545; }
  .form-control:focus {
    outline: medium none;
    border-color: #FFD029; }
  .form-control:disabled {
    cursor: not-allowed;
    background: #fafafa;
    font-size: 100%;
    color: #a3a3a3;
    text-shadow: none; }

.links--inline {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex; }
  .links--inline .links__item:not(:last-child) {
    margin-right: 0.5rem; }

.local-actions {
  padding: 0;
  margin: 0 0 1.5rem;
  list-style: none;
  display: -webkit-box;
  display: flex; }
  .local-actions__item:not(:last-child) {
    margin-right: 0.5rem; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.messages {
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #5d5d5d;
  background-color: #fafafa;
  border-color: #eeeeee; }
  .messages hr {
    border-top-color: #e1e1e1; }
  .messages a {
    color: #444444; }
  .messages--error {
    color: #9f3a38;
    background-color: #fff6f6;
    border-color: #e0b4b4; }
    .messages--error hr {
      border-top-color: #d9a2a2; }
    .messages--error a {
      color: #792c2b; }
  .messages--status {
    color: #2c662d;
    background-color: #fcfff5;
    border-color: #a3c293; }
    .messages--status hr {
      border-top-color: #95b983; }
    .messages--status a {
      color: #1d421d; }
  .messages--warning {
    color: #573a08;
    background-color: #fffaf3;
    border-color: #c9ba9b; }
    .messages--warning hr {
      border-top-color: #c0af8a; }
    .messages--warning a {
      color: #281b04; }

.pager {
  margin: 1rem auto;
  padding: 0; }
  .pager__items {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: none outside none;
    display: table; }
  .pager__item {
    display: inline-block;
    color: #8c8c8c;
    margin: 0;
    padding: 0 0.25rem; }
    .pager__item a {
      display: block;
      border-bottom: 3px solid transparent;
      padding: 0 0.25rem 0.25rem;
      font-weight: 600;
      text-decoration: none;
      color: #0046b3; }
    .pager__item.is-active a {
      border-bottom-color: #001e4d;
      color: #001e4d; }

table {
  background: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: gray(500);
  text-align: left; }

th {
  text-align: left; }

table, .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-spacing: 0;
  border-collapse: collapse; }
  table > thead > tr > th, .table > thead > tr > th,
  table > thead > tr > td,
  .table > thead > tr > td,
  table > tbody > tr > th,
  .table > tbody > tr > th,
  table > tbody > tr > td,
  .table > tbody > tr > td,
  table > tfoot > tr > th,
  .table > tfoot > tr > th,
  table > tfoot > tr > td,
  .table > tfoot > tr > td {
    padding: 0.75rem;
    line-height: 32px;
    vertical-align: top;
    border-top: 1px solid #e9ecef; }
  table > thead > tr > th, .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef; }
  table > tbody + tbody, .table > tbody + tbody {
    border-top: 2px solid #e9ecef; }

table > thead > tr > th, .table--condensed > thead > tr > th,
table > thead > tr > td,
.table--condensed > thead > tr > td,
table > tbody > tr > th,
.table--condensed > tbody > tr > th,
table > tbody > tr > td,
.table--condensed > tbody > tr > td,
table > tfoot > tr > th,
.table--condensed > tfoot > tr > th,
table > tfoot > tr > td,
.table--condensed > tfoot > tr > td {
  padding: 5px; }

table > tbody > tr:nth-of-type(odd), .table--srippted > tbody > tr:nth-of-type(odd), .table--stripped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

table > tbody > tr:hover, .table--hover > tbody > tr:hover {
  background-color: #f5f5f5; }

.table-responsive-container {
  overflow-x: auto;
  min-height: 0.01%; }
  @media (max-width: 35.9375em) {
    .table-responsive-container {
      width: 100%;
      margin-bottom: 24px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #e9ecef; }
      .table-responsive-container > .table {
        margin-bottom: 0; }
        .table-responsive-container > .table > thead > tr > th,
        .table-responsive-container > .table > thead > tr > td,
        .table-responsive-container > .table > tbody > tr > th,
        .table-responsive-container > .table > tbody > tr > td,
        .table-responsive-container > .table > tfoot > tr > th,
        .table-responsive-container > .table > tfoot > tr > td {
          white-space: nowrap; }
      .table-responsive-container > .table-bordered {
        border: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:first-child,
        .table-responsive-container > .table-bordered > thead > tr > td:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:first-child {
          border-left: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:last-child,
        .table-responsive-container > .table-bordered > thead > tr > td:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:last-child {
          border-right: 0; }
        .table-responsive-container > .table-bordered > tbody > tr:last-child > th,
        .table-responsive-container > .table-bordered > tbody > tr:last-child > td,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > th,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > td {
          border-bottom: 0; } }

a.tabledrag-handle .handle {
  height: rem(24);
  width: rem(20); }

.tabs {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  flex-flow: wrap; }
  .tabs--primary {
    margin: 0 0 1.5rem;
    border-bottom: 2px solid #eeeeee; }
    .tabs--primary .tabs__menu-item {
      position: relative; }
    .tabs--primary .tabs__menu-item-link {
      display: block;
      padding: 10px;
      color: #202124;
      position: relative; }
      .tabs--primary .tabs__menu-item-link:hover {
        color: #0046b3; }
      .tabs--primary .tabs__menu-item-link.is-active {
        color: #0046b3;
        font-weight: bold;
        position: relative; }
        .tabs--primary .tabs__menu-item-link.is-active::before {
          content: '';
          width: 70%;
          height: 2px;
          background: #0046b3;
          position: absolute;
          bottom: -2px;
          left: 15%; }
        .tabs--primary .tabs__menu-item-link.is-active:hover {
          color: #ad8d1c; }
  .tabs--secondary {
    margin: 0 0 1.5rem; }
    .tabs--secondary .tabs__menu-item {
      position: relative; }
    .tabs--secondary .tabs__menu-item-link {
      display: block;
      padding: 0 10px 10px 10px;
      border-bottom: 1px solid #e0e0e0;
      color: #202124; }
      .tabs--secondary .tabs__menu-item-link:hover {
        color: gray(500);
        border-bottom-color: #0046b3; }
      .tabs--secondary .tabs__menu-item-link.is-active {
        border-bottom-width: 2px;
        border-bottom-color: #0046b3;
        color: #0046b3;
        font-weight: bold; }
        .tabs--secondary .tabs__menu-item-link.is-active:hover {
          color: #ad8d1c; }

.vertical-tabs {
  background: white; }
  .vertical-tabs .vertical-tabs__menu {
    background: #fbfaf8;
    border: 1px solid #dddddd; }
    .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item {
      border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item a {
        color: #555459;
        border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected {
        background: #439fe0; }
        .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected strong, .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected .summary {
          color: white;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .vertical-tabs .vertical-tabs__panes {
    padding: 1rem; }

.text-subtle {
  color: gray(500); }

.text-highlight {
  color: gray(600); }

.text-info {
  color: theme-color(info); }

.text-success {
  color: theme-color(success); }

.text-warning {
  color: theme-color(warning); }

.text-error {
  color: theme-color(error); }

.highlight, .highlight-info, .highlight-success, .highlight-warning, .highlight-error {
  padding: 1px 4px;
  font-weight: bold;
  text-shadow: none;
  border-radius: 3px;
  color: #d7dae0;
  background: #31363f; }

.highlight-info {
  color: white;
  background: #9e9e9e; }

.highlight-success {
  color: #dff3d5;
  background: #67c23a; }

.highlight-warning {
  color: #fff4d3;
  background: #ffc107; }

.highlight-error {
  color: #fae3e5;
  background: #dc3545; }

.ui-widget {
  font-family: "Roboto", sans-serif; }

.ui-widget-overlay {
  background: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }

.ui-dialog {
  z-index: 100;
  background: white;
  color: #202124;
  padding: 0;
  border-radius: 4px;
  border: transparent !important;
  max-width: 100%;
  font-size: 16px; }
  .ui-dialog .ui-widget-header {
    border-radius: 4px;
    background: transparent;
    color: #202124;
    padding: 1rem 1rem 0.5rem;
    border: none;
    border-bottom: none; }
    .ui-dialog .ui-widget-header .ui-dialog-title {
      color: #333333;
      font-weight: bold;
      font-size: 16px; }
    .ui-dialog .ui-widget-header .ui-dialog-titlebar-close {
      float: right;
      background: none;
      width: auto;
      border: none;
      text-indent: 0;
      font-size: 28px;
      line-height: 1; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        content: "\F5AD";
        font-family: "Material Design Icons";
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        position: relative;
        top: -6px; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon {
        display: none; }
        .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon:before {
          margin: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-button-text {
        padding: 0;
        font-size: "Roboto", sans-serif;
        line-height: 32px; }
  .ui-dialog .ui-dialog-content {
    padding: 0 1rem;
    border: none;
    overflow: auto; }
  .ui-dialog .ui-dialog-buttonpane {
    background: transparent;
    padding: 0 1rem 1rem;
    border: none;
    border-top: none; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      display: table;
      margin: 0 auto; }
      .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
        color: white;
        background-color: #FFD029;
        background-image: none;
        border-color: #FFD029;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
        box-shadow: none;
        padding: 8px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:hover {
          color: white;
          background-color: #f5bf00;
          border-color: #ebb700; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(255, 208, 41, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:disabled {
          background-color: #FFD029;
          border-color: #FFD029;
          opacity: .65; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:active {
          color: white;
          background-color: #f5bf00;
          background-image: none;
          border-color: #ebb700;
          box-shadow: 0 0 0 3px rgba(255, 208, 41, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button .ui-button-text {
          padding: 0; }

.views-mini-pager__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.views-mini-pager__item--label {
  padding: 0.5rem;
  color: #757575; }

.views-mini-pager__item-link {
  padding: 0.5rem;
  display: block; }

/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+css-extras+markup-templating+ini+json+markdown+makefile+nginx+php+php-extras+scss+typescript+sass+yaml+twig */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  padding: 16px 16px; }

code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.875rem;
  line-height: 1.71429;
  font-family: "Fira Code", monospaced;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-wrap: normal;
  word-break: normal;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  color: black;
  background: none;
  text-shadow: 0 1px white; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: rgba(255, 208, 41, 0.5); }

/* Code blocks */
pre[class*="language-"] {
  margin: 1rem 0;
  overflow: auto;
  border-radius: 4px;
  border: 2px solid #e0e0e0; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: #F6F8FA;
  /* base3 */ }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #808080;
  /* base1 */ }

.token.punctuation {
  color: black; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #458383; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
  color: #106B10; }

.token.entity {
  color: #657b83;
  background: #eee8d5; }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #071591; }

.token.function,
.token.class-name {
  color: black; }

.token.regex,
.token.variable {
  color: #660000; }

.token.important,
.token.delimiter {
  color: #071591; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

@media (max-width: 61.9375em) {
  .app {
    padding-top: 64px; } }

.main-layout {
  display: grid;
  max-width: 1920px;
  margin: 0 auto;
  grid-gap: 0;
  grid-template-columns: 280px 1fr;
  grid-template-areas: "left-sidebar content"; }
  @media (min-width: 100em) {
    .main-layout {
      grid-template-columns: 280px 1fr 280px;
      grid-template-areas: "left-sidebar content right-sidebar"; } }
  @media (max-width: 61.9375em) {
    .main-layout {
      grid-template-columns: 1fr;
      grid-template-areas: "content"; } }

.header {
  position: relative;
  z-index: 10;
  display: grid;
  background-color: #ECEEF2; }
  .header__inner {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    grid-gap: 0;
    grid-template-columns: 280px 1fr 280px; }
  .header__search {
    position: relative; }
  .header__search-icon {
    position: absolute;
    top: 50%;
    left: 8px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .header__search-icon:before {
      content: "\F349";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  .header__search-input {
    font-size: 0.875rem;
    line-height: 1.71429;
    padding-left: 32px;
    color: #757575;
    border: none;
    border-radius: unset;
    background-color: unset; }
  @media (max-width: 61.9375em) {
    .header {
      display: none; } }

.region-sidebar-second {
  grid-area: unset; }
  @media (min-width: 100em) {
    .region-sidebar-second {
      grid-area: right-sidebar; } }
  @media (max-width: 99.9375em) {
    .region-sidebar-second {
      display: none; } }

.region-content {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: content;
  padding: 64px; }
  @media (max-width: 61.9375em) {
    .region-content {
      padding: 16px; } }

.footer {
  font-size: 0.8125rem;
  line-height: 1.84615;
  padding: 32px 0;
  color: #757575;
  max-width: 1920px;
  margin: 0 auto; }
  .footer__inner {
    margin: 0 280px; }
  .footer__bottom {
    -webkit-box-pack: center;
            justify-content: center;
    margin-top: 16px; }
  .footer__heart {
    color: #dc3545; }
    .footer__heart:before {
      content: "\F2D1";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  .footer__drupal {
    color: #1976d2; }
    .footer__drupal:before {
      content: "\F1E4";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em; }
  .footer__gitlab {
    color: #fd7e14; }
    .footer__gitlab:before {
      content: "\FB7C";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em; }
  .footer__developer {
    color: #757AF7;
    font-weight: bold; }
  @media (max-width: 99.9375em) {
    .footer__inner {
      margin: 0 32px 0 280px; } }
  @media (max-width: 61.9375em) {
    .footer__inner {
      margin: 0 32px; } }

.frontpage {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: content; }
  .frontpage__title {
    display: none; }

.frontpage-promo {
  position: relative;
  padding: 64px; }
  .frontpage-promo__image {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .frontpage-promo__description {
    font-size: 1.25rem;
    line-height: 1.6;
    max-width: 65%; }
  .frontpage-promo__inner {
    position: relative;
    z-index: 2; }
  .frontpage-promo::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.85); }
  @media (max-width: 61.9375em) {
    .frontpage-promo {
      padding: 32px; }
      .frontpage-promo__description {
        max-width: 100%; } }

.frontpage-get-started-and-versions {
  display: grid;
  grid-gap: 32px;
  padding: 64px;
  grid-template-columns: 1fr 400px; }
  @media (max-width: 74.9375em) {
    .frontpage-get-started-and-versions {
      grid-template-columns: 1fr;
      padding: 32px; }
      .frontpage-get-started-and-versions__versions {
        -webkit-box-ordinal-group: 1;
                order: 0; }
      .frontpage-get-started-and-versions__get-started {
        -webkit-box-ordinal-group: 2;
                order: 1; } }

@media (max-width: 61.9375em) {
  .region-sidebar-first {
    display: none; } }

.mobile-navigation {
  position: fixed;
  z-index: 200;
  top: 0;
  left: -100vw;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  -webkit-transition: 0.25s ease-in-out background-color;
  transition: 0.25s ease-in-out background-color;
  background-color: transparent; }
  .mobile-navigation__sidebar {
    position: fixed;
    z-index: 201;
    top: 0;
    overflow-y: scroll;
    width: 250px;
    height: 100%;
    -webkit-transition: 0.5s ease-in-out transform;
    transition: 0.5s ease-in-out transform;
    -webkit-transform: translateX(-250px);
            transform: translateX(-250px);
    background-color: #FFFFFF; }
  .mobile-navigation__branding {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 16px; }
  .mobile-navigation__branding-logo {
    height: 100px; }
  .mobile-navigation__navigation {
    margin: 0;
    padding: 0;
    list-style: none; }
  .mobile-navigation__navigation-item {
    margin: unset; }
  .mobile-navigation__navigation-link[href^="/wiki"]:before {
    content: "\FAB6";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .mobile-navigation__navigation-link[href^="/download"]:before {
    content: "\F1DA";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .mobile-navigation__navigation-link[href^="/wiki/faq"]:before {
    content: "\F625";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .mobile-navigation__navigation-link[href^="/wiki/changelog"]:before {
    content: "\FAD8";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }
  .mobile-navigation__navigation-link {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    padding: 16px;
    color: #757575; }
    .mobile-navigation__navigation-link::before {
      font-size: 1.5rem !important;
      line-height: 1 !important;
      width: 24px;
      margin-right: 16px !important;
      text-align: center; }
  .mobile-navigation--active {
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); }
    .mobile-navigation--active .mobile-navigation__sidebar {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
  .mobile-navigation--hiding {
    background-color: transparent; }
    .mobile-navigation--hiding .mobile-navigation__sidebar {
      -webkit-transform: translateX(-250px);
              transform: translateX(-250px); }
  @media (min-width: 62em) {
    .mobile-navigation {
      display: none; } }

.header-mobile {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 64px;
  background-color: #F6F8FA;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); }
  .header-mobile__branding {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase; }
  .header-mobile__search {
    font-size: 1.5rem;
    line-height: 64px;
    display: block;
    height: 100%;
    padding: 0 16px;
    text-align: center;
    color: #757575; }
    .header-mobile__search:before {
      content: "\F349";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  @media (min-width: 62em) {
    .header-mobile {
      display: none; } }

.mobile-toggle {
  position: relative;
  padding: 26px 16px;
  cursor: pointer; }
  .mobile-toggle span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #757575; }
  .mobile-toggle span:not(:last-child) {
    margin-bottom: 3px; }

.druki-content-toc {
  font-size: 0.875rem;
  line-height: 1.71429; }
  .druki-content-toc__menu {
    margin: unset;
    padding: unset; }
  .druki-content-toc__menu-item-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .druki-content-toc__submenu {
    position: relative; }
    .druki-content-toc__submenu::before {
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      background-color: #e0e0e0;
      position: absolute;
      left: -1rem; }
  .druki-content-toc ul {
    counter-reset: item; }
    .druki-content-toc ul ul {
      margin: 0 0 0 1rem; }
  .druki-content-toc li {
    display: block;
    vertical-align: top; }
  .druki-content-toc li a:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    color: #9e9e9e;
    vertical-align: top; }

.druki-category-navigation {
  font-size: 0.875rem;
  line-height: 1.71429; }
  .druki-category-navigation__menu {
    margin: unset;
    padding: unset; }
  .druki-category-navigation__menu-item-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .druki-category-navigation__menu-item-link--active {
    font-weight: bold; }
  .druki-category-navigation ul {
    counter-reset: item; }
    .druki-category-navigation ul ul {
      margin: 0 0 0 1rem; }
  .druki-category-navigation li {
    display: block;
    vertical-align: top; }
  .druki-category-navigation li a:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    color: #9e9e9e;
    vertical-align: top;
    font-weight: normal; }

.druki-drupal-versions {
  padding: 16px;
  border: 2px solid #e0e0e0; }
  .druki-drupal-versions__label {
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 16px; }
  .druki-drupal-versions__update-label {
    font-weight: bold;
    color: #616161; }
  .druki-drupal-versions__update-date {
    font-size: 0.8125rem;
    line-height: 1.84615;
    color: #9e9e9e; }
  .druki-drupal-versions__releases {
    font-size: 0.875rem;
    line-height: 1.71429;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    margin-top: 8px; }

.druki-page-wiki__title {
  font-weight: bold;
  text-align: center; }

.druki-page-wiki__subtitle {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: normal;
  text-align: center;
  color: #757575; }

.druki-page-wiki__header {
  margin-bottom: 32px; }

.druki-page-wiki__row {
  margin: 32px 0; }

.druki-page-wiki__row-title {
  font-size: 1.875rem;
  line-height: 1.33333; }

.druki-page-wiki__row-description {
  font-size: 1.125rem;
  line-height: 1.77778;
  margin-bottom: 32px; }

.druki-page-wiki__box-links {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  margin: 32px 0; }

.druki-page-wiki__box-links-item {
  background-color: #F6F8FA;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }
  .druki-page-wiki__box-links-item::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    right: -50%;
    bottom: -50%;
    border-radius: 100%;
    width: 0;
    height: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease; }

.druki-page-wiki__box-links-item:hover .druki-page-wiki__box-links-item-title {
  color: white; }

.druki-page-wiki__box-links-item:hover .druki-page-wiki__box-links-item-description {
  color: #eeeeee; }

.druki-page-wiki__box-links-item:hover::before {
  width: 200%;
  padding-bottom: 200%;
  background-color: #FFD029; }

.druki-page-wiki__box-links-item-title {
  font-size: 1.125rem;
  line-height: 1.77778;
  position: relative;
  margin: unset; }

.druki-page-wiki__box-links-item-description {
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #616161;
  position: relative; }

.druki-page-wiki__faq {
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #616161;
  text-align: center;
  max-width: 600px;
  margin: 0 auto; }

.druki-page-wiki__other-items {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr); }

.druki-page-wiki__other-item-title {
  font-weight: bold; }

.druki-page-wiki__other-item-items {
  margin: unset;
  list-style-type: none; }

@media (max-width: 47.9375em) {
  .druki-page-wiki__box-links, .druki-page-wiki__other-items {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 35.9375em) {
  .druki-page-wiki__box-links, .druki-page-wiki__other-items {
    grid-template-columns: 1fr; } }

.druki-page-download__title {
  font-weight: bold;
  text-align: center; }

.druki-page-download__subtitle {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: normal;
  text-align: center;
  color: #757575; }

.druki-page-download__command-pane {
  display: table;
  margin: 32px auto 0;
  padding: 16px;
  color: white;
  border-radius: 4px;
  background-color: #212121;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }

.druki-page-download__command {
  font-family: "Fira Code", monospaced; }
  .druki-page-download__command::before {
    content: '>_ ';
    color: #FFD029; }

.druki-page-download__command-note {
  font-size: 0.875rem;
  line-height: 1.71429;
  font-style: italic;
  margin: 16px 0;
  text-align: center;
  color: #757575; }

.druki-page-download__cards {
  display: grid;
  margin: 32px 0;
  grid-gap: 32px;
  grid-template-columns: repeat(3, 1fr); }

.druki-page-download__card {
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 16px;
  text-align: center;
  border-radius: 4px;
  background-color: #F6F8FA;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1); }

.druki-page-download__card-icon--try:before {
  content: "\F1E4";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--update:before {
  content: "\F6AF";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--open-source:before {
  content: "\FB8A";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--source-code:before {
  content: "\FB7C";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--community:before {
  content: "\F848";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon--talk:before {
  content: "\FB57";
  font-family: "Material Design Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0; }

.druki-page-download__card-icon {
  font-size: 3.75rem;
  line-height: 1.2;
  margin-bottom: 8px; }

.druki-page-download__card-title {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: bold;
  margin: unset; }

.druki-page-download__card-text {
  font-size: 0.875rem;
  line-height: 1.71429;
  color: #616161; }

.druki-page-download__card-bottom {
  font-weight: bold;
  margin-top: auto;
  padding-top: 8px; }

@media (min-width: 36em) and (max-width: 61.9375em) {
  .druki-page-download__cards {
    grid-template-columns: repeat(2, 1fr); } }

@media (max-width: 35.9375em) {
  .druki-page-download__cards {
    grid-template-columns: 1fr; } }

.druki-media-remote-video-optimized {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  border-radius: 6px;
  box-shadow: 0 3px 25px 0 rgba(22, 22, 22, 0.15); }
  .druki-media-remote-video-optimized__preview, .druki-media-remote-video-optimized__iframe {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .druki-media-remote-video-optimized__preview {
    cursor: pointer; }
  .druki-media-remote-video-optimized__thumbnail {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .druki-media-remote-video-optimized__play {
    font-size: 1.875rem;
    line-height: 50px;
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8); }
    .druki-media-remote-video-optimized__play:before {
      content: "\F40A";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  .druki-media-remote-video-optimized__loading {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    display: none;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .druki-media-remote-video-optimized__loading--active {
    display: block; }

.block-page-title h1 {
  margin: 32px 0 64px; }

.block-branding {
  margin: 64px 32px; }
  .block-branding__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative; }
  .block-branding__name-and-description {
    margin-left: 16px; }
  .block-branding__logo {
    width: 58px; }
  .block-branding__site-name {
    font-size: 2.25rem;
    line-height: 1;
    font-weight: bold;
    color: #202124; }
  .block-branding__description {
    font-size: 0.875rem;
    line-height: 1.71429;
    text-align: center; }
  .block-branding__experiment {
    font-size: 0.5rem;
    line-height: 2;
    text-transform: uppercase;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    position: absolute;
    right: -8px;
    font-weight: bold;
    color: #bdbdbd; }

.block-main-menu {
  margin: 32px; }
  .block-main-menu__menu {
    margin: unset;
    padding: unset;
    list-style: none; }

.block-roach-druki-content-toc {
  margin: 32px; }
  .block-roach-druki-content-toc__title {
    font-weight: bold; }

.block-roach-druki-category-navigation {
  margin: 32px; }
  .block-roach-druki-category-navigation__title {
    font-weight: bold; }

p {
  margin: 16px 0; }

small {
  font-size: 0.8rem;
  line-height: 1.875;
  font-weight: normal; }

big {
  font-size: 1.2rem;
  line-height: 1.66667;
  font-weight: normal; }

mark {
  padding: 0.2em;
  color: inherit;
  background-color: #FFF9C4; }

code {
  font-family: "Fira Code", monospaced;
  font-size: 90%;
  padding: 4px 6px;
  word-break: break-all;
  border-radius: 4px;
  background-color: #F6F8FA; }

pre code {
  padding: unset; }

@media (max-width: 61.9375em) {
  :target::before {
    display: block;
    width: 0;
    height: 80px;
    margin: -80px 0 0;
    content: ""; } }

.druki-content-druki-content-full__content-item {
  margin: 16px 0; }

.paragraph-druki-heading__anchor {
  font-size: 1.125rem;
  display: none;
  margin-left: -25px;
  vertical-align: middle;
  color: #bdbdbd; }
  .paragraph-druki-heading__anchor:before {
    content: "\F339";
    font-family: "Material Design Icons";
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0; }

.paragraph-druki-heading__heading {
  position: relative;
  vertical-align: middle; }

.paragraph-druki-heading__heading--h2 {
  padding-bottom: 8px;
  border-bottom: 1px solid #eeeeee; }

.paragraph-druki-heading:hover .paragraph-druki-heading__anchor {
  display: inline-block; }

@media (max-width: 61.9375em) {
  .paragraph-druki-heading__anchor {
    display: none; } }

.paragraph-druki-image {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center; }

.paragraph-druki-note {
  border-radius: 4px;
  background-color: #F6F8FA;
  padding: 16px; }
  .paragraph-druki-note__header {
    margin-bottom: 8px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .paragraph-druki-note__note-type {
    font-weight: bold; }
  .paragraph-druki-note__druki-textarea-formatted p:last-child {
    margin-bottom: unset; }
  .paragraph-druki-note--note {
    border-left: 6px solid #0048DC; }
    .paragraph-druki-note--note .paragraph-druki-note__left {
      background-color: #0048DC; }
    .paragraph-druki-note--note .paragraph-druki-note__icon:before {
      content: "\F2FD";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em; }
    .paragraph-druki-note--note .paragraph-druki-note__header {
      color: #0048DC; }
  .paragraph-druki-note--warning {
    border-left: 6px solid #ffc107; }
    .paragraph-druki-note--warning .paragraph-druki-note__left {
      background-color: #ffc107; }
    .paragraph-druki-note--warning .paragraph-druki-note__icon:before {
      content: "\F5D6";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em; }
    .paragraph-druki-note--warning .paragraph-druki-note__header {
      color: #ffc107; }
  .paragraph-druki-note--tip {
    border-left: 6px solid #67c23a; }
    .paragraph-druki-note--tip .paragraph-druki-note__left {
      background-color: #67c23a; }
    .paragraph-druki-note--tip .paragraph-druki-note__icon:before {
      content: "\F6E8";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em; }
    .paragraph-druki-note--tip .paragraph-druki-note__header {
      color: #67c23a; }
  .paragraph-druki-note--important {
    border-left: 6px solid #dc3545; }
    .paragraph-druki-note--important .paragraph-druki-note__left {
      background-color: #dc3545; }
    .paragraph-druki-note--important .paragraph-druki-note__icon:before {
      content: "\FCC3";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em; }
    .paragraph-druki-note--important .paragraph-druki-note__header {
      color: #dc3545; }

.search {
  position: relative; }
  .search__input-pane {
    position: relative; }
  .search__input {
    font-size: 1.25rem;
    line-height: 1.6;
    padding-right: 64px;
    padding-left: 64px; }
    .search__input:focus {
      padding-right: calc(64px - 1px);
      padding-left: calc(64px - 1px); }
  .search__input ~ .search__input-icon {
    font-size: 1.375rem;
    line-height: 1.45455;
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    pointer-events: none;
    color: #bdbdbd; }
    .search__input ~ .search__input-icon:before {
      content: "\F349";
      font-family: "Material Design Icons";
      font-weight: normal;
      font-style: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0; }
  .search__input-pane--focused .search__input-icon {
    color: #FFD029; }
  .search__results-pane {
    display: -webkit-box;
    display: flex;
    width: 100%;
    margin-top: 16px; }
  .search__loading {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); }
    .search__loading svg {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .search__results-content {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 260px;
    width: 100%; }
  .search__filters {
    padding: 16px;
    border-radius: 4px; }
  .search__filter:not(:last-child) {
    margin-bottom: 16px; }
  .search__filter-label {
    font-weight: bold;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0; }
  .search__filter-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start; }
    .search__filter-item input {
      margin-top: 4px; }
    .search__filter-item:not(:last-child) {
      margin-bottom: 8px; }
  .search__filter-item-label {
    margin-left: 16px; }
  .search__filter-item-description {
    font-size: 0.8125rem;
    line-height: 1.23077;
    color: #757575; }
  .search__result {
    padding: 8px 0; }
    .search__result:not(:last-child) {
      border-bottom: 1px solid #eeeeee; }
  .search__result-title {
    font-size: 1.125rem;
    line-height: 1.33333;
    margin-bottom: unset;
    color: #202124; }
  .search__result:hover .search__result-title {
    color: #ad8d1c; }
  .search__result-url {
    color: #0046b3; }
  .search__result-core {
    color: #757575; }
  @media (max-width: 47.9375em) {
    .search__results-content {
      grid-template-columns: 1fr; } }

/*# sourceMappingURL=maps/components.css.map */
