.druki-content-next-prev {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr;

  @include breakpoint(xl) {
    grid-template-columns: 1fr 1fr;
  }
}

.druki-content-next-prev__link {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-sm) var(--spacing-md);
  color: var(--text-color);
  border: 2px solid var(--color-contrast-low);
  border-radius: var(--radius);

  &:hover {
    text-decoration: none;
    border-color: var(--link-color);
  }
}

.druki-content-next-prev__link--prev {
  @include mdi-icon('arrow-left');
  justify-content: flex-start;
}

.druki-content-next-prev__link--next {
  @include mdi-icon('arrow-right', after);
  justify-content: flex-end;
}
