{% set bem_block = 'drupalcon-promo' %}
<div class="{{ bem_block }}">
  <a href="/wiki/events/drupalcon-2019-amsterdam" class="{{ bem_block }}__link">
    <img src="{{ file_url('public://custom/ams19-3-2.jpg') }}" alt="DrupalCon Amsterdam 2019 promo" class="{{ bem_block }}__image">
  </a>
</div>
