{% set bem_block = 'frontpage-important-info' %}
<div class="{{ bem_block }}">
  {{ drupal_versions }}
  {% if drupal_event_promo_image %}
    <div class="drupal-event-promo">
      {% if drupal_event_promo_link %}
       <a href="{{ drupal_event_promo_link }}" class="drupal-event-promo__link">
      {% endif %}
        {{ drupal_event_promo_image }}
      {% if drupal_event_promo_link %}
        </a>
      {% endif %}
    </div>
  {% endif %}
</div>

