.druki-content-contributors__items {
  display: grid;
  grid-gap: var(--spacing-sm);
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.druki-content-contributors__items .avatar-placeholder {
  border-radius: 50%;
  --avatar-placeholder-width: 38px;
  font-weight: bold;
}
