.druki-content-documentation-contributors__items {
  display: grid;
  grid-gap: var(--spacing-xs);
  grid-template-columns: repeat(auto-fill, 32px);
  align-items: center;
}

.druki-content-documentation-contributors__items .avatar-placeholder {
  border-radius: 50%;
  --avatar-placeholder-width: 32px;
  font-weight: bold;
}
