:root {
  --druki-card-background-color: var(--color-white);
  --druki-card-title-color: var(--text-color);
  --druki-card-subtitle-color: var(--color-black-60);
  --druki-card-secondary-color: var(--text-color);
  --druki-card-action-hover-background-color: var(--color-black-05);

  --druki-outlined-border-color: var(--color-black-20);
}

[data-theme="dark"] {
  --druki-card-background-color: var(--color-white-05);
  --druki-card-subtitle-color: var(--color-white-60);
  --druki-card-action-hover-background-color: var(--color-white-05);

  --druki-outlined-border-color: var(--color-white-10);
}

.druki-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-md);
  background-color: var(--druki-card-background-color);
}

.druki-card--elevated {
  border-radius: var(--radius-md);
  background-color: var(--druki-card-background-color);
  box-shadow: var(--shadow-xs);
}

.druki-card--outlined {
  border: 1px solid var(--druki-outlined-border-color);
}

.druki-card__primary {
  padding: var(--spacing-sm);
}

.druki-card__secondary {
  font-size: var(--text-xs);
  padding: var(--spacing-sm);
  padding-top: 0;
  color: var(--druki-card-secondary-color);
}

.druki-card__title {
  font-family: var(--font-secondary);
  font-weight: bold;
  color: var(--druki-card-title-color);
}

.druki-card__subtitle {
  font-size: var(--text-xs);
  font-weight: 500;
  color: var(--druki-card-subtitle-color);
}

.druki-card__primary-action {
  position: relative;
  flex-grow: 1;
}

.druki-card__primary-action--link::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  content: '';
  pointer-events: none;
  background-color: var(--druki-card-action-hover-background-color);
}

.druki-card__primary-action--link:hover::before {
  display: block;
}
