{#
/**
 * @file
 * Default theme implementation to present front page.
 */
#}
{% set bem_block = 'frontpage' %}
<div class="{{ bem_block }}">
  {% include '@autumn/include/frontpage-promo.html.twig' %}
  {% include '@autumn/include/frontpage-resources.html.twig' %}
  {% include '@autumn/include/frontpage-why.html.twig' %}
</div>
