.branding__image {
  display: flex;
  align-items: center;
}

.branding__logo {
  display: flex;
  align-items: center;
}

.branding__logo:hover {
  text-decoration: none;
}

.branding__image svg {
  fill: var(--color-celtic-blue);
}

.branding__name {
  font-size: var(--font-size-h3);
  margin-left: var(--spacing-md);
  color: var(--text-color);
  font-weight: 700;
}
