.block--contributors .block__content {
  display: grid;
  grid-gap: var(--spacing-xs);
  grid-template-columns: repeat(auto-fill, 32px);
  align-items: center;
}

.block--contributors .avatar-placeholder {
  border-radius: 50%;
  --avatar-placeholder-width: 32px;
  font-weight: bold;
}
