.header-repository-button {
  width: 2rem;
  height: 2rem;
  background: transparent url('../../../icons/333333/github.svg') center no-repeat;
  cursor: pointer;
  border: none;
  align-self: center;
  display: flex;
}
