$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Fira Code', monospaced;

$theme-colors: (
  primary: #FFD029,
  on-primary: #3F2F17,
  secondary: #3F2F17,
  on-secondary: #FFD029,
  note: #0048DC,

  code-background: #F1F5F8,
);

$link-color: #0048DC;
$link-hover-color: darken($link-color, 15%);
