:root {
  --paragraph-druki-note-background-color: transparent;
  --paragraph-druki-note-label-background-color: transparent;
  --paragraph-druki-note-label-color: var(--color-gray);

  --paragraph-druki-note-tip-label-background-color: #ffeb3b;
  --paragraph-druki-note-tip-background-color: #fff9c4;

  --paragraph-druki-note-note-label-background-color: #2196f3;
  --paragraph-druki-note-note-background-color: #e3f2fd;
  --paragraph-druki-note-note-label-color: var(--color-white);

  --paragraph-druki-note-important-label-background-color: #ff5722;
  --paragraph-druki-note-important-background-color: #fbe9e7;
  --paragraph-druki-note-important-label-color: var(--color-white);

  --paragraph-druki-note-warning-label-background-color: #ff9800;
  --paragraph-druki-note-warning-background-color: #fff3e0;
  --paragraph-druki-note-warning-label-color: var(--text-color);
}

[data-theme="dark"] {
  --paragraph-druki-note-tip-background-color: #292926;
  --paragraph-druki-note-note-background-color: #262727;
  --paragraph-druki-note-important-background-color: #2B2A2A;
  --paragraph-druki-note-warning-background-color: #2B2B2A;
}

.paragraph-druki-note {
  font-size: var(--text-sm);
  position: relative;
  margin-top: calc(var(--spacing-unit) * 3 + 15px);
  margin-bottom: var(--p-margin-bottom);
  padding: var(--spacing-md) var(--spacing-sm);
  background-color: var(--paragraph-druki-note-background-color);
}

.paragraph-druki-note__label {
  font-weight: bold;
  position: absolute;
  top: 0;
  left: var(--spacing-sm);
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-sm);
  user-select: none;
  transform: translateY(-50%);
  color: var(--paragraph-druki-note-label-color);
  background-color: var(--paragraph-druki-note-label-background-color);
}

.paragraph-druki-note--tip {
  --paragraph-druki-note-background-color: var(--paragraph-druki-note-tip-background-color);
  --paragraph-druki-note-label-background-color: var(--paragraph-druki-note-tip-label-background-color);
}

.paragraph-druki-note--note {
  --paragraph-druki-note-background-color: var(--paragraph-druki-note-note-background-color);
  --paragraph-druki-note-label-background-color: var(--paragraph-druki-note-note-label-background-color);
  --paragraph-druki-note-label-color: var(--paragraph-druki-note-note-label-color);
}

.paragraph-druki-note--important {
  --paragraph-druki-note-background-color: var(--paragraph-druki-note-important-background-color);
  --paragraph-druki-note-label-background-color: var(--paragraph-druki-note-important-label-background-color);
  --paragraph-druki-note-label-color: var(--paragraph-druki-note-important-label-color);
}

.paragraph-druki-note--warning {
  --paragraph-druki-note-background-color: var(--paragraph-druki-note-warning-background-color);
  --paragraph-druki-note-label-background-color: var(--paragraph-druki-note-warning-label-background-color);
  --paragraph-druki-note-label-color: var(--paragraph-druki-note-warning-label-color);
}
