.druki-category-navigation {
  @include font-size(14px);

  &__menu {
    @include list-unstyled;
  }

  &__menu-item {
    margin: spacing-unit() 0;
  }

  &__menu-item-link {
    color: $global-text-color;
  }

  &__menu-item-link--active {
    font-weight: bold;
    color: $link-color;
  }
}
