.druki-docs {
  $block: &;

  &__title {
    @include font-size(34px);
    font-weight: bold;
    text-align: center;
  }

  &__subtitle {
    @include font-size(20px);
    font-weight: normal;
    text-align: center;
    color: gray(600);
  }

  &__header {
    margin-bottom: spacing-unit(xl);
  }

  &__row {
    margin: spacing-unit(xl) 0;
  }

  &__row-title {
    @include font-size(30px);
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: spacing-unit(lg);
    color: theme-color(secondary);

    &::before {
      position: absolute;
      z-index: -1;
      bottom: 2px;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      content: '';
      background-color: theme-color();
    }
  }

  &__row-description {
    @include font-size(18px);
    margin-bottom: spacing-unit(lg);
  }

  &__box-links {
    display: grid;
    grid-gap: spacing-unit(grid-gap);
    grid-template-columns: repeat(4, 1fr);
    margin: spacing-unit(lg) 0;
  }

  &__box-links-item {
    background-color: #fff;
    box-shadow: 0 0 20px 4px rgba(black, 0.1);
    padding: spacing-unit(sm);
    border-radius: $border-radius-base;
    position: relative;
    overflow: hidden;
    transition: all .25s ease-in-out;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: 0;
      right: -50%;
      bottom: -50%;
      border-radius: 100%;
      width: 0;
      height: 0;
      transition: all .3s ease;
    }
  }

  &__box-links-item:hover {
    #{$block}__box-links-item-title {
      color: white;
    }

    #{$block}__box-links-item-description {
      color: gray(200);
    }

    &::before {
      width: 200%;
      padding-bottom: 200%;
      background-color: theme-color(drupal);
    }
  }

  &__box-links-item-title {
    @include font-size(18px);
    color: $global-text-color;
    position: relative;
  }

  &__box-links-item-description {
    @include font-size(14px);
    color: gray(700);
    position: relative;
  }

  &__faq {
    @include font-size(14px);
    color: gray(700);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  &__other-items {
    display: grid;
    grid-gap: spacing-unit(grid-gap);
    grid-template-columns: repeat(4, 1fr);
  }

  &__other-item-title {
    font-weight: bold;
  }

  &__other-item-items {
    margin: unset;
    list-style-type: none;
  }

  @include media-breakpoint-down(sm) {
    &__box-links,
    &__other-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include media-breakpoint-only(xs) {
    &__box-links,
    &__other-items {
      grid-template-columns: 1fr;
    }
  }
}
