.search {
  position: relative;
}

.search__input-pane {
  position: relative;
}

.search__input {
  font-size: 20px;
  --form-control-padding-x: 2.5em;
}

.search__input ~ .search__input-icon {
  @include mdi-icon('magnify', $margin-size: 0);
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: var(--spacing-sm);
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--color-contrast-medium);
}

.search__results-pane {
  display: flex;
  width: 100%;
  margin-top: var(--spacing-sm);
}

.search__loading {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(white, 0.5);
}

.search__loading svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search__results-content {
  display: grid;
  width: 100%;
  grid-gap: var(--spacing-md);
  grid-template-columns: 1fr;

  @media (--lg) {
    grid-template-columns: 1fr 260px;
  }
}

.search__filters {
  padding: var(--spacing-sm);
  border-radius: var(--radius);
}

.search__filter:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.search__filter-label {
  font-weight: bold;
  margin-bottom: var(--spacing-unit);
  padding-bottom: var(--spacing-unit);
  border-bottom: 1px solid var(--color-contrast-low);
}

.search__filter-item {
  display: flex;
  align-items: flex-start;
}

.search__filter-item:not(:last-child) {
  margin-bottom: var(--spacing-unit);
}

.search__filter-item input {
  margin-top: var(--spacing-xs);
}

.search__filter-item-label {
  margin-left: var(--spacing-unit);
}

.search__filter-item-description {
  font-size: 13px;
  line-height: 1.2;
  color: var(--color-contrast-medium);
}

.search__result {
  padding: var(--spacing-unit) 0;
}

.search__result:not(:last-child) {
  border-bottom: 1px solid var(--color-contrast-low);
}

.search__result-title {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: unset;
  color: var(--text-color);
}

.search__result-link:hover {
  text-decoration: none;
}

.search__result-url {
  color: var(--link-color);
}

.search__result-core {
  color: var(--color-contrast-medium);
}
