$font-family: 'Roboto', sans-serif;
$font-family-monospace: 'Fira Code', monospaced;

$theme-colors: (
  primary: #FFD029,
  on-primary: #3F2F17,
  secondary: #3F2F17,
  on-secondary: #FFD029,

  note: #0048DC,

  background: #F6F8FA,
  header-background: #ECEEF2,

  link: #0046b3,

  code-background: #F6F8FA,
);
