$font-family: 'Roboto', sans-serif;
$font-family-monospace: 'Fira Code', monospaced;

$theme-colors: (
  background: #F6F8FA,
  header-background: #ECEEF2,

  link: #0046b3,

  code-background: #F6F8FA,
);
